{% extends 'layouts/cabinet.steps.html.twig' %}
{% block style %}
    <style>
        /*.text-lg {*/
            /*line-height: 1.5;*/
        /*}*/
    </style>

    {% endblock %}
{% block content %}


        <div class="col text-center">
            <p class="h1">Добрый день!</p>
        </div>


        <div class="col text-center">
            <p class="text-lg">Партнёры движения <b>VDOCTATKE</b> рады приветствовать Вас на закрытой<br>
                    информационной площадке нашего командного ресурса!
                </p>
            <p class="text-lg">Нажимая клавишу «ПРОДОЛЖИТЬ», <b>вы получаете доступ к информационному <br>
                    концентрату</b>, позволяющему детально и очень сжато (без «воды» и мотивации) изучить<br>
                наше <b>коммерческое предложение к Вам.</b>
            </p>
            <p class="text-lg">Изучайте внимательно, вдумчиво и последовательно. <br>
                Наши партнеры с удовольствием ответят на Ваши вопросы.</p>

            <p class="text-lg"><b>Контакты вашего информационного куратора находятся слева.</b></p>
            <div class="row">
                <br>
                <div class="col-12 text-center">
                    {{ form_start(form) }}
                    {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ', 'attr': {'class':'btn-pan btn btn-default btn-primary'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

{% endblock %}