{% extends 'layouts/cabinet.steps.html.twig' %}
{% block style %}
    <style>
        li {
            list-style-type: none; /* Убираем маркеры */
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row margined">
        <div class="col-md-6 col-md-offset-3 col-sm-12">


            <div class="text-center">
                <div
                        class="_im_peer_history im-page-chat-contain"
                        aria-live="polite"
                        aria-relevant="additions">
                    <div class="im-mess-stack _im_mess_stack " data-peer="124194621" data-admin="0">
                        <div class="im-mess-stack--content">
                            <div style="text-align: center;">
                                <p class="text-center text-lg">&nbsp;&nbsp;Итак, <b>возможная стратегия*</b>
                                    эффективного
                                    старта в бизнесе,<br>используя <b>сразу оба продукта</b> (сканер и брокер): </p>
                                <p class="text-center text-lg">&nbsp;&nbsp; Если вы дошли до завершающего шага, то,
                                    скорее
                                    всего,<br><b> приняли решение двигаться с нами.</b></p>

                                <p class="text-center text-lg"><b>Поздравляем!</b></p>

                                <p class="text-center text-lg">&nbsp;&nbsp;Осталось <b>сделать следующее:</b></p>

                                <div class="tab-pane" id="activity">
                                    <ul class="timeline collapse-lg timeline-hairline">
                                        <li class="timeline-inverted">
                                            <div class="timeline-circ circ-xl style-primary"><i
                                                        class="md md-filter-1"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left"><b>Зарегистрироваться</b> на
                                                            информационном ресурсе компании TIKi.BUSINESS
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-circ circ-xl style-primary-dark"><i
                                                        class="md md-filter-2"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left">
                                                            <b>Оплатить сканер</b> и (или) брокер согласно выбранного
                                                            вами пакета
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-circ circ-xl style-primary-dark"><i
                                                        class="md md-filter-3"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left">
                                                            <b>Подать заявку</b> на доступ к закрытой части командной
                                                            платформы
                                                            VDoctatke.pro
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="video-container col-md-6 col-md-offset-3 col-sm-12 text-center">
            <p class="text-cenetr text-lg"><b>Как правильно зарегистрироваться и оплатить продукт
                    (продукты)?</b></p>
            <p class="text-center text-lg"><b>Вашему вниманию</b> — подробная видеоинструкция:</p>
            <br>
            <iframe width="100%" height="300px"
                    src="https://www.youtube.com/embed/0niP7sAhjag?rel=0" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>

            <br>
            <br>
            <a target="_blank" href="{{ app.user.parent.sureoneId }}"
               class="btn-pan disabled-next-btn btn-lg btn btn-default btn-primary">РЕГИСТРАЦИЯ</a>
        </div>

        {#<div class="col-xs-12 text-center">#}
        {#<br>#}
        {#{{ form_start(form) }}#}
        {#{{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ', 'attr': {'class':'btn-pan disabled-next-btn btn-lg btn btn-default btn-primary'} }) }}#}
        {#{{ form_end(form) }}#}
        {#<br>#}
        {#</div>#}
        <div class="col-xs-12 text-center">
            <br><br>
            <p class="text-center text-lg"><b>Вы зарегистрировались и оплатили выбранные продукты?</b></p>
            <p class="text-center text-lg">Тогда смело подавайте заявку на доступ к закрытой части командного сайта:</p>
            <div class="col-12">
                <a href="#" class="btn-pan disabled-next-btn btn-lg btn btn-default btn-primary" data-toggle="modal"
                   data-target="#registerModalFormFull">ПОДАТЬ
                    ЗАЯВКУ</a>
            </div>
        </div>
        <div class="clearfix"></div>


    </div>

    {#new makeup#}

    {% include "pages/steps/components/fullRegistration.html.twig" %}
{% endblock %}
{% block forJs %}
    <script src="/components/main/main.js"></script>
    <script src="{{ asset('/plugins/intl-tel-input/js/intlTelInput.js') }}"></script>
    <script src="/js/password-score.js"></script>
    <script src="/js/password-score-options.js"></script>
    <script src="/js/bootstrap-strength-meter.js"></script>
    <script>
        //        $('#full_steps_registration_tel').val('');
        //        $('#full_steps_registration_telegram').val('');
        //        $('#full_steps_registration_whatsup').val('');


        v = $('#full_steps_registration_tel').val();
        if (v == '') {
            $('#full_steps_registration_tel').val('+7');
        }
        v = $('#full_steps_registration_telegram').val();
        if (v == '') {
            $('#full_steps_registration_telegram').val('+7');
        }
        v = $('#full_steps_registration_whatsup').val();
        if (v == '') {
            $('#full_steps_registration_whatsup').val('+7');
        }
        v = $('#full_steps_registration_vk').val();
        if (v == '') {
            $('#full_steps_registration_vk').val('http://vk.com/');
        }

        $('#full_steps_registration_tel').keyup(function () {
            var value = $(this).val();
            if (value.length < 1 || value.charAt(0) != '+') {
                $(this).val('+' + value);
            }
        });
        $('#full_steps_registration_telegram').keyup(function () {
            var value = $(this).val();
            if (value.length < 1 || value.charAt(0) != '+') {
                $(this).val('+' + value);
            }
        });
        $('#full_steps_registration_whatsup').keyup(function () {
            var value = $(this).val();
            if (value.length < 1 || value.charAt(0) != '+') {
                $(this).val('+' + value);
            }
        });

        $('#full_steps_registration_vk').keyup(function () {
            var value = $(this).val();
            if (value.length < 1 || value.indexOf("http://vk.com/") == -1) {
                $(this).val('http://vk.com/');
            }
        });
        {% if not formReg.vars.valid %}
        $('div#registerModalFormFull').modal('show');
        {% endif %}
    </script>

{% endblock %}