{% extends 'layouts/cabinet.steps.html.twig' %}
{% block style %}

    <style>
        .timeline.collapse-lg.timeline-hairline{
            padding: 0 25px;
        }

        .timeline.collapse-lg.timeline-hairline::before{
            left: 50px;
        }
        .timeline-circ.circ-xl {
            top: 1px;
            width: 50px;
            height: 50px;
            margin-left: -19px;}
        .timeline.collapse-lg .timeline-circ {left: 18px;}
        .timeline-circ.circ-xl .md {
            font-size: 35px;
            line-height: 48px;
        }
        .timeline.collapse-lg .timeline-entry .card {    margin-left: 55px !important;}

    </style>
{% endblock %}
{% block content %}


    <div class="row margined">
        <div class="col-md-6 col-md-offset-3 col-sm-12">


            <div class="text-center">

                <div
                        class="_im_peer_history im-page-chat-contain"
                        aria-live="polite"
                        aria-relevant="additions">
                    <div class="im-mess-stack _im_mess_stack " data-peer="124194621" data-admin="0">
                        <div class="im-mess-stack--content">
                            <div class="">
                                <p  class="text-lg">
                                    Итак, для извлечения ежедневной прибыли и организации своего дела, мы <b>(КОМАНДА)</b>
                                    используем стратегию <b>арбитражной торговли</b> на рынке спортивных событий
                                    (<b>СТРАТЕГИЯ</b>) и роботизированную площадку TIKi (<b>ИНСТРУМЕНТ</b>), на базе которой
                                    реализовано несколько продуктов, в частности:
                                </p>
                                <div class="tab-pane" id="activity">
                                    <ul class="timeline collapse-lg timeline-hairline">
                                        <li class="timeline-inverted">
                                            <div class="timeline-circ circ-xl style-primary"><i class="md md-filter-1"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left">«TIKi сканер» (самостоятельная арбитражная торговля)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-filter-2"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left" >
                                                            «TIKi BROKER» (арбитражная торговля «24 на 7» без участия пользователя)
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <p  class="text-lg text-center">
                Теперь — подробнее: <b>сканер TIKi</b>
            </p>
            <div class="tab-pane" id="activity">
                <ul class="timeline collapse-lg timeline-hairline">
                    <li class="timeline-inverted">
                        <div class="timeline-circ circ-xl style-primary"><i class="md md-filter-1"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <p class="text-lg text-left">Варианты сотрудничества
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-filter-2"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <p class="text-lg text-left" >
                                        Стоимость
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-filter-3"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <p class="text-lg text-left" >
                                        Сравнение «пакетов»
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-filter-4"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <p class="text-lg text-left" >
                                        Рекомендации от арбитражных трейдеров движения.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-12" align="center">
            <div class="video-container">
                <iframe style="margin-top: 56px;" width="100%" height="300px"
                        src="https://www.youtube.com/embed/fRfj-1XWsDw?rel=0" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col-xs-12 text-center">
            <br>
            {{ form_start(form) }}
            {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ*', 'attr': {'class':'btn-pan disabled-next-btn btn-lg btn btn-default btn-primary'} }) }}
            {{ form_end(form) }}
            <br>
        </div>
        <div class="clearfix"></div>

        <p class="text-center text-lg">*Нужен перерыв? Вы всегда можете начать с этой страницы, просто введя заданный логин и пароль на сайте <a href="/">vdoctatke.pro</a> (Вход)</p>
    </div>
{% endblock %}
