{% extends 'layouts/cabinet.steps.html.twig' %}
{% block style %}

    <style>
        a.full-img {
            display: inline-block;
            width: 25%;
            margin: 4px -9px 0px 7px;
        }
        .full-img img{
            width: 100%!important;
        }

        .okrujenie {margin:0 auto;padding-bottom: 20px;}

        @media (max-width: 768px) {

            a.full-img {width: 100%;
                margin: 5px 0px 0px 0px;}
        }

    </style>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-12 text-center">
            <h1>Благодарим за просмотр!</h1>

            <p class="text-lg"> Двигаемся далее: <b>вашему вниманию</b> — реальные <b>бизнес-кейсы</b> пользователей сканера<br>
                <b>TIKi</b>, прошедших <b>закрытое обучение</b> на командной платформе Vdoctatke.pro</p>

            <p class="text-lg">Данные примеры призваны ответить на <b>самый популярный вопрос:</b><br>
                «СКОЛЬКО МОЖНО ЗАРАБАТЫВАТЬ, ИСПОЛЬЗУЯ СКАНЕР?»</p>

            <p class="text-lg">(Нажмите на изображение для увеличения)</p>
        </div>
        {# col-x для уменьшения#}
        <div class="col-8 okrujenie text-center">
            <a data-fancybox="group" class="full-img" href="/img/businesscase/1.jpg">
                <img  class="businass-1 gen" src="/img/businesscase/1.jpg"></a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/2.jpg">
                <img class="businass-1 gen" src="/img/businesscase/2.jpg">
            </a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/3.jpg">
                <img class="businass-1 gen" src="/img/businesscase/3.jpg"></a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/4.jpg">
                <img class="businass-1 gen" src="/img/businesscase/4.jpg"></a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/5.jpg">
                <img class="businass-1 gen" src="/img/businesscase/5.jpg"></a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/6.jpg">
                <img class="businass-1 gen" src="/img/businesscase/6.jpg"></a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/7.jpg">
                <img class="businass-1 gen" src="/img/businesscase/7.jpg"></a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/8.jpg">
                <img class="businass-1 gen" src="/img/businesscase/8.jpg"></a>
            <a data-fancybox="group" class="full-img" href="/img/businesscase/9.jpg">
                <img class="businass-1 gen" src="/img/businesscase/9.jpg"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            {{ form_start(form) }}
            {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ*', 'attr': {'class':'btn-pan btn btn-default btn-primary'} }) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-12 text-center">
        <br>

        <p class="text-center text-lg">*Нужен перерыв? Вы всегда можете начать с этой страницы, просто введя заданный логин и пароль на сайте <a href="/">vdoctatke.pro</a> (Вход)</p>
    </div>
{% endblock %}
{% block forJs %}
    <link rel="stylesheet" type="text/css" href="/plugins/fancybox-master/dist/jquery.fancybox.min.css">
    <script src="/plugins/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <script>
        $('a.full-img').fancybox({
            openEffect: 'none',
            closeEffect: 'none',
            loop: true,
            fullscreen: false,
            buttons: [

                'close'
            ],


        });


    </script>
{% endblock %}