{% extends 'layouts/cabinet.steps.html.twig' %}
{% block content %}
    <div class="row margined">
        <div class="col-md-7 col-sm-12">


            <div class="text-center">
                <div
                        class="_im_peer_history im-page-chat-contain"
                        aria-live="polite"
                        aria-relevant="additions">
                    <div class="im-mess-stack _im_mess_stack " data-peer="124194621" data-admin="0">
                        <div class="im-mess-stack--content">
                            <div style="text-align: center;">
                                <p  class="text-left  text-lg">&nbsp;&nbsp;<b>Сканер TIKi</b> — это высокотехнологичный продукт, постоянно совершенствующийся
                                    программным отделом компании-разработчика.</p>

                                <p class="text-left  text-lg">&nbsp;&nbsp;<b>Основной «минус» сканера</b> в том, что он требует постоянного присутствия пользователя:
                                    клиент <b>зарабатывает только тогда, когда уделяет этому время.</b></p>

                                <p class="text-left  text-lg">&nbsp;&nbsp;Команда <b>TIKi</b> приняла решение расширить клиентскую базу, внедрив новый
                                    продукт на базе технологии <b>TIKi</b> под названием <b>TIKi BROKER.</b></p>

                                <p class="text-left  text-lg">&nbsp;&nbsp;<b>TIKi BROKER</b> — это роботизированная система, позволяющая зарабатывать
                                    на рынке спортивных событий путем <b>автоматической</b> арбитражной торговли
                                    (без непосредственного участия пользователя)</p>

                                {#<p class="text-left  text-lg"><b>Давайте поговорим об этом ПОДРОБНЕЕ:</b></p>#}
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-5 col-sm-12" align="center">
            <div class="video-container">
                <iframe width="100%" height="300px"
                        src="https://www.youtube.com/embed/gFO-0pLpdL0?rel=0&showinfo=0" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col-xs-12 text-center">
            <br>
            {{ form_start(form) }}
            {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ*', 'attr': {'class':'btn-pan disabled-next-btn btn-lg btn btn-default btn-primary'} }) }}
            {{ form_end(form) }}
            <br>
        </div>
        <div class="clearfix"></div>

        <p class="text-center text-lg">*Нужен перерыв? Вы всегда можете начать с этой страницы, просто введя заданный логин и пароль на сайте <a href="/">vdoctatke.pro</a> (Вход)</p>
    </div>
{% endblock %}

