{% extends 'layouts/cabinet.steps.html.twig' %}
{% block style %}

    <style>
        .timeline.collapse-lg.timeline-hairline {
            padding: 0 25px;
        }

        .timeline.collapse-lg.timeline-hairline::before {
            left: 50px;
        }

        .timeline-circ.circ-xl {
            top: 1px;
            width: 50px;
            height: 50px;
            margin-left: -19px;
        }

        .timeline.collapse-lg .timeline-circ {
            left: 18px;
        }

        .timeline-circ.circ-xl .md {
            font-size: 35px;
            line-height: 48px;
        }

        .timeline.collapse-lg .timeline-entry .card {
            margin-left: 55px !important;
        }
    </style>
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-12 text-center">
            <h1>Благодарим за просмотр!</h1>
        </div>

        <div class="col-12 text-center">
            <p class="text-lg">Позвольте внести некоторую ясность:</p>
            <div class="tab-pane" id="activity">
                <ul class="timeline collapse-lg timeline-hairline">
                    <li class="timeline-inverted">
                        <div class="timeline-circ circ-xl style-primary"><i class="md md-filter-1"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <p class="text-lg text-left"><b>TIKi сканер и TIKi брокер — это НЕЗАВИСИМЫЕ
                                            продукты</b>
                                        компании-разработчика, никак не связанные друг с другом (разные сайты, разные
                                        сервера, разные алгоритмы).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-filter-2"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <p class="text-lg text-left">
                                        Данные продукты вы можете <b>использовать как раздельно, так и вместе ,</b> тем
                                        самым
                                        регулируя количество зарабатываемых денежных средств.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-circ circ-xl style-primary"><i class="md md-filter-3"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <p class="text-lg text-left"><b>Обязательно проконсультируйтесь</b> с вашим
                                        информационным <b>куратором</b>
                                        (контакты слева) или с любым из <b>вышестоящих действующих партнеров нашей
                                            команды</b> о том, <b>какую стратегию работы выбрать именно вам.</b></p>

                                </div>
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <blockquote class="text-left text-lg"><b>К примеру</b>, используя <b>КОМБИНИРОВАННУЮ СТРАТЕГИЮ</b> в течении
                года (ипользование
                сканер и брокер одновременно), вы можете увеличить свою прибыль со 130 до 400% (!)
                «чистыми», получая в день от 100$ и выше
            </blockquote>
            <p class="text-lg text-left">В следующем шаге будет представлена информация для людей с предпринимательским
                образом мышления: мы поговорим о том, какие возможности предоставляет
                компания-разработчик для тех, кто видит емкость рынка и понимает, что данное
                предложение является очень интересным большому количеству людей.</p>

            <p class="text-lg text-left">Мы готовы озвучить вам коммерческое предложение, связанное с ФИНАНСОВОЙ ВЫГОДОЙ
                от продвижения данных продуктов.</p>

            <p class="text-lg text-left">Вы можете <b>пропустить следующий шаг</b>, если намерены быть <b>исключительно
                    клиентом</b> и
                использовать сканер и брокер сугубо в личных целях.</p>

            {{ form_start(form) }}
            {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ*', 'attr': {'class':' btn-pan btn btn-default btn-primary'} }) }}
            {{ form_end(form) }}
            </br>
        </div>
    </div>
    <div class="col-12 text-center">


        <p class="text-center text-lg">*Нужен перерыв? Вы всегда можете начать с этой страницы, просто введя заданный
            логин и пароль на сайте <a href="/">vdoctatke.pro</a> (Вход)</p>
    </div>
{% endblock %}
