{% extends 'layouts/cabinet.steps.html.twig' %}
{% block content %}
    <div class="row margined">
        <div class="col-md-7 col-sm-12">


            <div class="text-center">
                <div
                        class="_im_peer_history im-page-chat-contain"
                        aria-live="polite"
                        aria-relevant="additions">
                    <div class="im-mess-stack _im_mess_stack " data-peer="124194621" data-admin="0">
                        <div class="im-mess-stack--content">
                            <div style="text-align: center;">
                                <p class="text-left text-lg"><b>Вашему вниманию</b> — детальный разбор маркетинговой программы TIKi.BUSINESS:</p>
                                <div class="tab-pane" id="activity">
                                    <ul class="timeline collapse-lg timeline-hairline">
                                        <li class="timeline-inverted">
                                            <div class="timeline-circ circ-xl style-primary"><i class="md md-filter-1"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left">Карьерный рост
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-filter-2"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left" >
                                                            Финансовая емкость франшизы
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-circ circ-xl style-primary-dark"><i class="md md-filter-3"></i></div>
                                            <div class="timeline-entry">
                                                <div class="card style-default-bright">
                                                    <div class="card-body small-padding">
                                                        <p class="text-lg text-left" >
                                                            Стратегия оптимального старта в бизнесе.
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                                {#<ul class="margined-left text-left spiski list-unstyled text-lg">#}
                                    {#<li>&#8212; Карьерный рост;</li>#}
                                    {#<li>&#8212; Финансовая емкость франшизы;</li>#}
                                    {#<li>&#8212; Стратегия оптимального старта в бизнесе.</li>#}
                                {#</ul>#}
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-5 col-sm-12" align="center">
            <div class="video-container">
                <iframe width="100%" height="300px"
                        src="https://www.youtube.com/embed/ov_CJA7TZ54?rel=0" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col-xs-12 text-center">
            <br>
            {{ form_start(form) }}
            {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ*', 'attr': {'class':'btn-pan disabled-next-btn btn-lg btn btn-default btn-primary'} }) }}
            {{ form_end(form) }}
            <br>
        </div>
        <div class="clearfix"></div>

        <p class="text-center text-lg">*Нужен перерыв? Вы всегда можете начать с этой страницы, просто введя заданный логин и пароль на сайте <a href="/">vdoctatke.pro</a> (Вход)</p>
    </div>
    {#new makeup#}

{% endblock %}

