{% extends 'layouts/cabinet.steps.html.twig' %}
{% block style %}
    <style>
    .img-full{
        width: 100%;
    }
    </style>
    {% endblock %}
{% block content %}
    <div class="row ">
        <div class="col-12 text-center">
            <h1>Благодарим за просмотр!</h1>
        </div>

        <div class="col-12 text-center">
            <p class="text-lg"> Ну что ж, <b>если вам понравилось</b> наше предложение, то осталось <b>выбрать</b> пакет (пакеты)<br>
                продукта (продуктов) для <b>оптимального старта.</b></p>

            <p> На всякий случай, напомним специфику и стоимость пакетов:</p>
            <br>
            <ins><b class="text-xl">Сканер TIKi:</b></ins>
            <br>
            <br>
            <div class="col-md-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«Комбо Стандарт 100»</b></h2>
                        <div class="price">
                            <img src="https://tiki.business/data/images/tiki.business/Standart_Prematch.png">
                        </div>
                        <br>
                        <p class="opacity-50"><em>Подходит, если вы — профессиональный арбитражный трейдер</em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>100$</b></li>
                            <li class="text-center text-lg">Месяц использования</li>
                            <li class="text-center text-lg">Комбинированный (лайф + премач «вилки»)</li>
                            <li class="text-center text-lg">3 вида спорта</li>
                            <li class="text-center text-lg">Самый невыгодный с точки зрения цены и функционала сканера</li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«Комбо Классик 250»</b></h2>
                        <div class="price">
                            <img src="https://tiki.business/data/images/tiki.business/Classic_prematch.png">
                        </div>
                        <br>
                        <p class="opacity-50"><em>Подходит, если вы хотите «попробовать» себя в новом деле</em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>250$</b></li>
                            <li class="text-center text-lg">3 месяца использования (<b>83$ в месяц)</b></li>
                            <li class="text-center text-lg">Комбинированный (лайф + премач «вилки»)</li>
                            <li class="text-center text-lg">3 вида спорта</li>
                            <li class="text-center text-lg"><br>&nbsp;</li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«Комбо Голд 500»</b></h2>
                        <div class="price">
                            <img src="https://tiki.business/data/images/tiki.business/Gold_Prematch.png">
                        </div>
                        <br>
                        <p class="opacity-50"><em>Предложение по франшизе (входит в стоимость пакета)</em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>500$</b></li>
                            <li class="text-center text-lg">7 месяцев использования (<b>71$ в месяц)</b></li>
                            <li class="text-center text-lg">Комбинированный (лайф + премач «вилки»)</li>
                            <li class="text-center text-lg">Все виды спорта</li>
                            <li class="text-center text-lg"><br>&nbsp;</li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-md-offset-2">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«Комбо Премиум 1000»</b></h2>
                        <div class="price">
                            <img src="https://tiki.business/data/images/tiki.business/new2.png">
                        </div>
                        <br>
                        <p class="opacity-50"><em><b>Самый выгодный пакет сканера</b> как с точки зрения клиента, так и для продвижения франшизы</em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>1000$</b></li>
                            <li class="text-center text-lg">15 месяцев использования (<b>67$ в месяц)</b></li>
                            <li class="text-center text-lg">Комбинированный (лайф + премач «вилки»)</li>
                            <li class="text-center text-lg">Все виды спорта</li>
                            <li class="text-center text-lg"><b>Выгодное предложение по франшизе</b> (входит в стоимость пакета)</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«Black Edition»</b></h2>
                        <div class="price">
                            <img src="https://tiki.business/data/images/tiki.business/new1.png">
                        </div>
                        <br>
                        <p class="opacity-50"><em><b>Пакет имеет выгоду ТОЛЬКО С ТОЧКИ ЗРЕНИЯ ФРАНШИЗЫ</b> (самые высокие выплаты за продвижение продуктов компании).</em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>2000$</b></li>
                            <li class="text-center text-lg">18 месяцев использования (<b>111$ в месяц)</b></li>
                            <li class="text-center text-lg">Комбинированный (лайф + премач «вилки»)</li>
                            <li class="text-center text-lg">Все виды спорта</li>
                            <li class="text-center text-lg"><br>&nbsp;</li>
                        </ul>
                    </div>

                </div>
            </div>


            <div class="clearfix"></div>
            <ins><b class="text-xl">TIKi BROKER:</b></ins>
            <br>
            <br>
            <div class="clearfix"></div>


            <div class="col-md-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«ТИКИ классик 250»</b></h2>
                        <div class="price">
                            <img class="img-full" src="https://pp.userapi.com/c836625/v836625642/5b66d/hNdW9zDOSjU.jpg">
                        </div>
                        <br>
                        <p class="opacity-50"><em></em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>250$</b></li>
                            <li class="text-center text-lg">Срок действия: <b>12 месяцев</b></li>
                            <li class="text-center text-lg">Доходность: около <b>5-6% в месяц</b> (12-15$ в месяц)<br> <b>~430$ за год</b></li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«ТИКИ голд 500»</b></h2>
                        <div class="price">
                            <img class="img-full" src="/img/tiki-1.png">
                        </div>
                        <br>
                        <p class="opacity-50"><em></em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>500$</b></li>
                            <li class="text-center text-lg">Срок действия: <b>12 месяцев</b></li>
                            <li class="text-center text-lg">Доходность: около <b>7% в месяц</b> (35-40$ в месяц) <br> <b>~980$ за год</b></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«ТИКИ премиум 1000»</b></h2>
                        <div class="price">
                            <img class="img-full" src="/img/tiki-2.png">
                        </div>
                        <br>
                        <p class="opacity-50"><em></em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>1000$</b></li>
                            <li class="text-center text-lg">Срок действия: <b>12 месяцев</b></li>
                            <li class="text-center text-lg">Доходность: около <b>9% в месяц</b> (90-100$ в месяц)  <br> <b>~2200$ за год</b></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="card card-type-pricing">
                    <div class="card-body text-center style-bright">
                        <h2 class="text-light"><b>«ТИКИ Edition»</b></h2>
                        <div class="price">
                            <img class="img-full" src="https://pp.userapi.com/c837337/v837337863/5a1b0/SrovjSyHx9w.jpg">
                        </div>
                        <br>
                        <p class="opacity-50"><em></em></p>
                    </div>
                    <div class="card-body no-padding">
                        <ul class="list-unstyled text-left">
                            <li class="text-center text-lg">Стоимость: <b>2000$</b></li>
                            <li class="text-center text-lg">Срок действия: <b>12 месяцев</b></li>
                            <li class="text-center text-lg">Доходность: около <b>11% в месяц</b> (220-260$ в месяц) <br> <b>~5000$ за год</b></li>
                        </ul>
                    </div>

                </div>
            </div>



        </div>

    </div>
    <div class="col-12 text-center">
        <br>
        <p class="text-lg"><b>В завершении</b> — давайте поговорим о ВОЗМОЖНОЙ (НО не обязательной!!!) <b>стратегии</b><br>
            <b>оптимального старта</b>, используя сразу оба продукта:</p>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                {{ form_start(form) }}
                {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ*', 'attr': {'class':'btn-pan btn btn-default btn-primary'} }) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-12 text-center">
            <br>

            <p class="text-center text-xl">*Нужен перерыв? Вы всегда можете начать с этой страницы, просто введя заданный логин и пароль на сайте <a href="/">vdoctatke.pro</a> (Вход)</p>
        </div>
    </div>
{% endblock %}

{% block forJs %}
    <link rel="stylesheet" type="text/css" href="/plugins/fancybox-master/dist/jquery.fancybox.min.css">
    <script src="/plugins/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <script>
        $('a.full-img').fancybox({
            openEffect: 'none',
            closeEffect: 'none',
            loop: true,
            fullscreen: false,
            buttons: [

                'close'
            ],


        });


    </script>
{% endblock %}