{% extends 'layouts/cabinet.steps.html.twig' %}

{% block content %}
    <div class="row margined">
        <div class="col-md-6 col-md-offset-3 col-sm-12">


            <div class="text-center">
                <div
                        class="_im_peer_history im-page-chat-contain"
                        aria-live="polite"
                        aria-relevant="additions">
                    <div class="im-mess-stack _im_mess_stack " data-peer="124194621" data-admin="0">
                        <div class="im-mess-stack--content">
                            <div style="text-align: center;">
                                <p class="text-center text-lg">Итак, <b>возможная стратегия*</b> эффективного старта в бизнесе, используя <b>сразу оба продукта</b> (сканер и брокер): </p>


                            </div>
                            <div class="video-container">
                                <iframe width="100%" height="300px"
                                        src="https://www.youtube.com/embed/nY9m27e2-9s?rel=0" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-xs-12 text-center">
            <br>
            {{ form_start(form) }}
            {{ form_widget(form.ok,{'label':'ПРОДОЛЖИТЬ*', 'attr': {'class':'btn-pan disabled-next-btn btn-lg btn btn-default btn-primary'} }) }}
            {{ form_end(form) }}
            <br>
        </div>
        <div class="clearfix"></div>

        <p class="text-center text-lg">*Нужен перерыв? Вы всегда можете начать с этой страницы, просто введя заданный логин и пароль на сайте <a href="/">vdoctatke.pro</a> (Вход)</p>
    </div>
    {#new makeup#}

{% endblock %}
