{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        .new-news {
            width: 730px;
        }

        @media (max-width: 768px) {
            .new-news {
                width: auto;
            }
        }

    </style>
{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body style-default-bright">

                                    {{ form_start(form, {'attr':  {'class': "new-news",'id': "createnews"} }) }}
                                    <label for="name-n">Название новости</label>
                                    <div class="form-group has-error floating-label">
                                        {{ form_widget(form.title, { 'attr': {'class': "form-control",
                                        } }) }}

                                    </div>


                                    <div class="form-group">
                                        {{ form_widget(form.prePhotoPath, { 'attr': {'class': "inputfile upload-image",

                                        } }) }}
                                    </div>
                                    <div class="form-group" id="image-container" style="text-align: center;">
                                    </div>
                                    <div class="form-group has-error floating-label">
                                        {{ form_widget(form.uid, { 'attr': {'hidden': "hidden"} }) }}
                                        {{ form_widget(form.body,{ 'attr': {'class': "form-control",'placeholder': "Вы можете добавлять картинки по ссылке из интернета",
                                            'rows': "17"
                                        } }) }}

                                    </div>

                                    {{ form_end(form) }}
                                    <div class="form-group has-error floating-label">
                                        <button type="submit" form="createnews" class="btn btn-danger ">Создать</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>


{% endblock %}
{% block forJs %}
    <link rel="stylesheet" type="text/css" href="/plugins/fancybox-master/dist/jquery.fancybox.min.css">
    <script src="/plugins/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <style>
        .obertka {
            display: inline-block;
            position: relative;
        }

        .obertka:hover .krest {
            background: rgba(0, 0, 0, 0.72);
        }

        .krest {
            position: absolute;
            right: 0;
            background: rgba(0, 0, 0, 0.22);
            padding: 0px 5px;
            color: white;
            z-index: 101;
            cursor: pointer;
        }

        .full-img {
            position: relative;
            z-index: 100;
        }
    </style>
    <script>
        function fboxInit() {
            $('.full-img').fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                loop: true,
                fullscreen: false,
                buttons: [

                    'close'
                ],
            });
        }

        $(function () {


            $(".upload-image").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        ajax_formData(e.target.result);
                    };
                    reader.readAsDataURL(this.files[0]);
                }

            });
            var flag = true;

            function ajax_formData(image) {
                var path = "{{ path("news_upload_image",{'uid':form.vars.value.uid}) }}";

                $.post(path, {image: image}, function (data) {

                    filename = data.fileName;
                    if (flag) {
                        $("#image-container").append('<div class="obertka"><span class="krest"><i class="fa fa-times" aria-hidden="true"></i></span><a data-fancybox="group" class="full-img" href="/newsPhotos/' + filename + '"><img class="osnova" style="max-height: 100px;max-width: 99%;" id="image" src="/newsPhotos/' + filename + '"></a></div>');
                        flag = false;
                    }
                    else {
                        $("#image-container").append('<div class="obertka"><span class="krest"><i class="fa fa-times" aria-hidden="true"></i></span><a data-fancybox="group" class="full-img" href="/newsPhotos/' + filename + '"><img class="osnova" style="height: 100px;" id="image" src="/newsPhotos/' + filename + '"></a></div>');

                    }
                }, "json");

            }

        });
        $("body").on("click", ".krest", function () {


            img = $(this).closest('div').children('a').children('img');
            src = img.attr('src');
            $(this).closest('div').remove();
            $.post("/cabinet/news/uploadremove/{{ form.vars.value.uid }}" + src, function (data) {
            });

        });
    </script>
    <script>
        tinymce.init({
            selector: '#news_body',
            fontsize_formats: '15pt 16pt 18pt 20pt 24pt 36pt',
            forced_root_block: "",
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
                editor.on('init', function () {
                    this.getDoc().body.style.fontSize = '15pt';
                    this.getDoc().body.style.fontFamily = 'Myriad Pro';
                });
            },
            language: 'ru',
            language_url: '/js/langs/ru.js',

            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | sizeselect |  fontsizeselect",
            imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            content_css: [
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
{% endblock %}