{% extends ':layouts:cabinet.html.twig' %}
{% block style %}
{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row" style="background: white">
                            <div class="col-sm-12 col-md-8 col-md-offset-2">
                                <div class="card-body style-default-bright">
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <a href="/create/news" class="btn btn-danger">Создать новость</a></div>
                                {% endif %}
                                {% for new in news %}
                                    <article id="news-{{ new.getId }}">
                                        <div class="card-body style-default-light" style="background-color:transparent">
                                            <h2>{{ new.title }}
                                                {% if is_granted("ROLE_ADMIN") %}
                                                <span
                                                      id="{{ new.getId }}" data-target="#acceptModal"
                                                      data-toggle="modal"

                                                      class="a-n-red cust-aa"><i data-toggle="tooltip" data-placement="top"  data-original-title="Удалить новость"
                                                            class="md md-backspace"></i></span>

                                                <a data-toggle="tooltip"
                                                   data-placement="top"
                                                   data-original-title="Редактировать новость"
                                                   class="a-n-red" href="/cabinet/news/update/{{ new.getId }}"><i
                                                            class="md md-create"></i></a>
                                                {% endif %}
                                            </h2>
                                            <div class="opacity-75">{{ new.getStringDate }}</div>
                                        </div>
                                        <div class="card-body calaps-news style-default-bright">
                                            {{ new.body |decode | raw }}
                                        </div>
                                        <div class="text-center card-body style-default-bright">
                                            {% for photo in new.photos %}
                                                {% if  new.photos|length == 1 %}
                                                    {% set style="max-width: 100%;max-height: 400px;" %}
                                                {% else %}
                                                    {% set style="max-width: 45%" %}
                                                {% endif %}
                                                <a class="full-img" href="/newsPhotos/{{ photo }}"
                                                   data-fancybox="group-{{ new.getId }}" data-caption="{{ new.title }}"><img
                                                            style="{{ style }}" class="osnova"
                                                            id="image" src="/newsPhotos/{{ photo }}"></a>
                                            {% endfor %}
                                        </div>
                                    </article>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
    <div class="modal fade justModal" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="simpleModalLabel">Подтвердите действие</h4>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотете удалить эту новость?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Нет</button>
                    <button type="button" id="remove-yes" class="btn ink-reaction btn-success">Да</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block includeScripts %}
    <!-- JS для окон уведомлений -->
    {#<script src="/assets/js/libs/toastr/toastr.js"></script>#}
    {#<script src="/assets/js/libs/toastr/ts.js"></script>#}
    {#<link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/toastr/toastr.css">#}
    <!-- / JS для окон уведомлений -->

    <!-- Колапс для новостей -->
    <script src="/assets/js/calaps-news.js"></script>
    <!-- /Колапс для новостей -->
    <link rel="stylesheet" type="text/css" href="/plugins/fancybox-master/dist/jquery.fancybox.min.css">
    <script src="/plugins/fancybox-master/dist/jquery.fancybox.min.js"></script>
{% endblock %}
{% block forJs %}
    <script>
        $(document).ready(function () {
            $(function () {
                $('a.full-img').fancybox({
                    openEffect: 'none',
                    closeEffect: 'none',
                    loop: true,
                    fullscreen: false,
                    buttons: [

                        'close'
                    ],


                });

            });
            var id = null;
            $("#acceptModal").on('show.bs.modal', function (e) {
                r = $(e.relatedTarget);
                id = r.attr('id');

            });
            $('body').on('click', '#remove-yes', function (e) {
                $.ajax({
                    type: "GET",
                    url: '/cabinet/news/delete/' + id
                }).done(function (data) {
                    if (data.status) {
                        $("#news-" + id).remove();
                        $('#acceptModal').modal('hide');
                    }
                }).fail(function () {
                    console.log("fail");
                })
            });
        });
    </script>
{% endblock %}