{% extends 'layouts/cabinet.html.twig' %}
{% block content %}
    <div class="container">
        <div class="form-group col-md-10">
           <h1>Новость была удалена или не была создана</h1>
        </div>
        <div class="form-group col-md-10">
            <a href="{{ path('news_list') }}">Вернуться к новостям</a>
        </div>
    </div>
{% endblock %}