{% extends ':layouts:cabinet.html.twig' %}
{% block style %}

{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="style-default-bright">
                                    <div class="tabs-top style-default-light">
                                        <ul class="card-head nav nav-tabs nav-justified text-center user-pro-tab" data-toggle="tabs">
                                            <li class="active"><a href="#first6"><i class="glyphicon glyphicon-globe"></i><br><h4>Бизнес online<br></h4></a></li>
                                            <li class=""><a href="#second6"><i class="glyphicon glyphicon-bullhorn"></i><br><h4>Бизнес offline<br></h4></a></li>


                                        </ul>
                                        <div class="card-body tab-content style-default-bright">
                                            <div class="tab-pane active" id="first6">
                                                <h2>Бизнес online</h2>
                                                {% for course in coursesOnline %}
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="tik-wrap" source="{{ course.videoId }}" id="{{ course.id }}" name="{{ course.name }}" data-target="#videoModal" data-toggle="modal">
                                                        <img src="/img/shag/{{ loop.index }}.jpg">
                                                        <p>{{ course.name }}</p>
                                                        <div class="tik-h-a">Смотреть <i class=" fa fa-play-circle" aria-hidden="true"></i></div>
                                                        <i class="t-i-1 fa fa-play-circle" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                           {% endfor %}

                                            </div>
                                            <div class="tab-pane" id="second6">
                                                <h2>Бизнес offline</h2>
                                                {% for course in courses %}
                                                    <div class="col-md-4 col-sm-12">
                                                        <div class="tik-wrap" source="{{ course.videoId }}" id="{{ course.id }}" name="{{ course.name }}" data-target="#videoModal" data-toggle="modal">
                                                            <img src="/img/shag/{{ loop.index }}.jpg">
                                                            <p>{{ course.name }}</p>
                                                            <div class="tik-h-a">Смотреть <i class=" fa fa-play-circle" aria-hidden="true"></i></div>
                                                            <i class="t-i-1 fa fa-play-circle" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
    <div class="modal fade justModal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>

                <div class="modal-body">
                    <div id="ytplayer"></div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block forJs %}
    <style>
        .modal-body {
            background: #070707!important;
        }
        .modal-footer {
            background: #2a172b!important;
        }
        .modal-footer {
            border-top: 0px!important;
        }
    </style>
    <script type="text/javascript">


        var id = null;
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        var source;

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                videoId: '{{ courses[0].getVideoID }}',
                playerVars: {
                    controls: 1,
                    disablekb: 0,
                    fs: 1,
                    modestbranding:1,
                    showinfo: 0,
                }
            });
        }
        function launchIntoFullscreen(element) {
            if(element.requestFullscreen) {
                element.requestFullscreen();
            } else if(element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if(element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();
            } else if(element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }
        jQuery("#videoModal").on('hidden.bs.modal', function () {

            player.pauseVideo();
        });
        jQuery("#videoModal").on('shown.bs.modal', function (event) {


            r = $(event.relatedTarget);
            $('.modal-title').text(r.attr('name'));
            i = r.attr('id');
            source = r.attr('source');
            player.playVideo();
            $('#videoModal').focus();
            $('#fsicon').click(function () {
                player.playVideo();
                console.log('play');
                launchIntoFullscreen(document.getElementById('ytplayer'))
            });
            $(document).keypress(function (e) {
                if (e.which == 32) {
                    if (player.getPlayerState() == 1) {
                        player.pauseVideo();

                    }
                    else {
                        player.playVideo();

                    }

                }
            });


            if (id == null || id != i) {

                $('.fs-modal').css('display','none');
                document.getElementById('ytplayer').src = "https://www.youtube.com/embed/" + source + "?autoplay=1&controls=1&enablejsapi=1&fs=1&amp;rel=0&amp;showinfo=0"

                id = i;
            }


            if (typeof player.playVideo == 'function') {
                player.playVideo();
            }
        });


    </script>
{% endblock %}


