{% extends ':layouts:cabinet.html.twig' %}
{% block style %}

{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="style-default-bright">
                                    <div class="tabs-top style-default-light">
                                        <ul class="card-head nav nav-tabs nav-justified text-center user-pro-tab"
                                            data-toggle="tabs">
                                            <li class="active"><a href="#first6"><i class="fa fa-lg fa-rocket"></i><br>
                                                    <h4>Арбитраж. Робот TIKi<br></h4></a></li>
                                            {#<li class=""><a href="#second6"><i class="fa fa-lg fa-briefcase"></i><br>#}
                                                    {#<h4>Брокер TIKi<br></h4></a></li>#}
                                            <li class=""><a href="#third"><i class="fa fa-lg fa-laptop"></i><br>
                                                    <h4>TIKi Express<br></h4></a></li>

                                        </ul>
                                        <div class="card-body tab-content style-default-bright">
                                            <div class="tab-pane active" id="first6">
                                                <h2>Арбитраж. Робот TIKi</h2>
                                                {% for course in courses %}
                                                    <div class="col-md-4 col-sm-12">
                                                        <div class="tik-wrap" source="{{ course.videoId }}"
                                                             id="{{ course.id }}" name="{{ course.name }}"
                                                             data-target="#videoModal" data-toggle="modal">
                                                            <img src="/img/shag/{{ loop.index }}.jpg">
                                                            <p>{{ course.name }}</p>
                                                            <div class="tik-h-a">Смотреть <i class=" fa fa-play-circle"
                                                                                             aria-hidden="true"></i>
                                                            </div>
                                                            <i class="t-i-1 fa fa-play-circle" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <p class="clearfix"></p>
                                                <h2 class="text-center">Уважаемые трейдеры!
                                                    Вашему вниманию - свежее дополнение к базовому курсу по арбитражной торговле:</h2>
                                                {% for course in zcourses %}
                                                    <div class="col-md-4 col-sm-12">
                                                        <div class="tik-wrap" source="{{ course.videoId }}"
                                                             id="{{ course.id }}" name="{{ course.name }}"
                                                             data-target="#videoModal" data-toggle="modal">
                                                            <img src="/img/zorik/{{ course.photoPath }}">
                                                            <p>{{ course.name }}</p>
                                                            <div class="tik-h-a">Смотреть <i class=" fa fa-play-circle"
                                                                                             aria-hidden="true"></i>
                                                            </div>
                                                            <i class="t-i-1 fa fa-play-circle" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                            {#<div class="tab-pane" id="second6">#}
                                                {#<h2>Брокер TIKi</h2>#}
                                                {#<div class="col-md-3 col-sm-12">#}
                                                    {#<iframe width="100%" src="https://www.youtube.com/embed/NzQg5k1LlCk"#}
                                                            {#frameborder="0" allow="autoplay; encrypted-media"#}
                                                            {#allowfullscreen></iframe>#}
                                                {#</div>#}
                                                {#<div class="col-md-9 col-sm-12">#}
                                                    {#<h3>Стратегия эффективного входа на «брокер» для клиента</h3>#}
                                                    {#<p>Вашему вниманию - один из вариантов эффективной стратегии#}
                                                        {#использования пакетов брокера с максимальной выгодной для#}
                                                        {#себя.</br>Приятного просмотра!</p>#}
                                                {#</div>#}
                                                {#<div style="clear: both;"></div>#}
                                                {#<hr>#}
                                                {#<div style="clear: both;"></div>#}
                                                {#<div class="col-md-3 col-sm-12">#}
                                                    {#<iframe width="100%" src="https://www.youtube.com/embed/SzKRH7ZEyiI"#}
                                                            {#frameborder="0" allow="autoplay; encrypted-media"#}
                                                            {#allowfullscreen></iframe>#}
                                                {#</div>#}
                                                {#<div class="col-md-9 col-sm-12">#}
                                                    {#<h3>Брокер: «золотой треугольник»</h3>#}
                                                    {#<p>Уважаемые партнеры нашей команды, вашему вниманию - алгоритм#}
                                                        {#эффективного старта в БИЗНЕСЕ#}
                                                        {#(см. «Кабинет партнера - маркетинг план TIKI”), используя#}
                                                        {#продукт «ТИКИ БРОКЕР».</p>#}
                                                {#</div>#}


                                            {#</div>#}

                                            <div class="tab-pane" id="third">
                                                <h2>TIKi Express</h2>
                                                {% for ecourse in ecourses %}
                                                    <div class="col-md-4 col-sm-12">
                                                        <div class="tik-wrap" source="{{ ecourse.videoId }}"
                                                             id="{{ ecourse.id }}" name="{{ ecourse.name }}"
                                                             data-target="#videoModal" data-toggle="modal">
                                                            <img src="/img/shag/{{ loop.index }}.jpg">
                                                            <p>{{ ecourse.name }}</p>
                                                            <div class="tik-h-a">Смотреть <i class=" fa fa-play-circle"
                                                                                             aria-hidden="true"></i>
                                                            </div>
                                                            <i class="t-i-1 fa fa-play-circle" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
    <div class="modal fade justModal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>

                <div class="modal-body">
                    <div id="ytplayer"></div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block forJs %}
    <style>
        .modal-body {
            background: #070707 !important;
        }

        .modal-footer {
            background: #2a172b !important;
        }

        .modal-footer {
            border-top: 0px !important;
        }
    </style>
    <script type="text/javascript">


        var id = null;
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        var source;

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                videoId: '{{ courses[0].getVideoID }}',
                playerVars: {
                    controls: 1,
                    disablekb: 0,
                    fs: 1,
                    modestbranding: 1,
                    showinfo: 0,
                }
            });
        }
        function launchIntoFullscreen(element) {
            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }
        jQuery("#videoModal").on('hidden.bs.modal', function () {

            player.pauseVideo();
        });
        jQuery("#videoModal").on('shown.bs.modal', function (event) {


            r = $(event.relatedTarget);
            $('.modal-title').text(r.attr('name'));
            i = r.attr('id');
            source = r.attr('source');
            player.playVideo();
            $('#videoModal').focus();
            $('#fsicon').click(function () {
                player.playVideo();
                console.log('play');
                launchIntoFullscreen(document.getElementById('ytplayer'))
            });
            $(document).keypress(function (e) {
                if (e.which == 32) {
                    if (player.getPlayerState() == 1) {
                        player.pauseVideo();

                    }
                    else {
                        player.playVideo();

                    }

                }
            });


            if (id == null || id != i) {

                $('.fs-modal').css('display', 'none');
                document.getElementById('ytplayer').src = "https://www.youtube.com/embed/" + source + "?autoplay=1&controls=1&enablejsapi=1&fs=1&amp;rel=0&amp;showinfo=0"

                id = i;
            }


            if (typeof player.playVideo == 'function') {
                player.playVideo();
            }
        });


    </script>
{% endblock %}


