{% extends 'CRUD/standard_layout.html.twig' %}
{% block style %}
    <style>

        div.mce-edit-area {
            height: 20rem;
        }
        #main_video_videoText_ifr{
            height: 20rem!important;
        }
        #main_video_videoId{
            height: 2.4rem;
        }
        .mce-stack-layout-item {
            border-width: 0 0 0!important;
        }
        .mce-statusbar .mce-container-body{
            margin-top: 6rem;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}<i class="fa fa-home"></i>{% endtrans %}</a><span
                class="divider"></span>
    </li>
    <li class="active">Архив</li>
{% endblock %}
{% block sonata_page_content_header %}

    <div class="sticky-wrapper" align="center">
        <nav class="navbar-default navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse">

                    <div class="box-header">
                        <h4 class="box-title">
                            Создать файл
                        </h4>
                    </div>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}
{% block content %}
    <script>
        $('a[href$="/admin/main/app/clentarchivefile/list"]').parent().addClass('active');
        $('a[href$="/admin/main/app/clentarchivefile/list"]').parent().parent().addClass('active');
    </script>
    <div class="container">

        {{ form_start(form, {'attr': {}}) }}


        <div class="col-md-10">

            <label>Название</label>
            {{ form_widget(form.name, { 'attr': {'class': "form-control"} }) }}
        </div>
        <div class=" col-md-10">
            <label>Содержимое</label>
            {{ form_widget(form.text,{ 'attr': {'class': "form-control",'placeholder': "Вы можете добавлять картинки по ссылке из интернета",
                'rows': "20"
            } }) }}
        </div>
        <div class="col-md-10">
            <button type="submit" class="btn btn-lg btn-primary " style="margin-top: 4px;">{% if form.text!='' %}Редактировать{% else %}Создать{% endif %}</button>
        </div>
        {{ form_end(form) }}
    </div>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#create_client_archive_file_text',
            forced_root_block : "",
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
                editor.on('init', function()
                {
                    this.getDoc().body.style.fontSize = '14pt';
                    this.getDoc().body.style.fontFamily = 'Myriad Pro';
                });
            },
            language: 'ru',
            language_url: '/js/langs/ru.js',

            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | sizeselect |  fontsizeselect",
            imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            content_css: [
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
    <script>
        //        val=$('#main_video_videoId').val();
        //        $('#main_video_videoId').val('https://www.youtube.com/watch?v='+val);

    </script>
{% endblock %}