{% extends 'CRUD/standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}<i class="fa fa-home"></i>{% endtrans %}</a><span
                class="divider"></span>
    </li>
    <li class="active">Архив</li>
{% endblock %}
{% block sonata_page_content_header %}

    <div class="sticky-wrapper" align="center">
        <nav class="navbar-default navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse">

                    <ul class="nav navbar-nav navbar-left">
                        <li style="    margin-top: 7px;">
                            <div id="sdvig"></div>
                            <button type="button" data-toggle="modal" data-target="#createFolder"
                                    class="btn btn-primary">
                                Создать
                                папку
                            </button>
                            <button type="button"
                                    {% if parent==null %}onclick="window.location.href='/admin/main/app/archivefile/create'" {% else %} onclick="window.location.href='/admin/main/app/archivefile/create/{{ parent }}'" {% endif %}
                                    class="btn btn-primary">Создать файл
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}
{% block content %}

    <script>
        $('a[href$="/admin/main/app/archivefile/list"]').parent().addClass('active');
        $('li.last.treeview').addClass('active');
    </script>

    <style>
        @media screen and (max-width: 768px) {
            .scrollable-x {
                font-size: 15px;
            }
        }
        .navbar{
            width: auto!important;
        }
        .table tr:nth-child(even){
            background: #ffffff;
        }
        .row{
            margin-right: -29px;
            margin-left: -29px;
            margin-bottom: -50px;
            margin-top: -14px;
        }
        div.col-12.scrollable-x::after{

        }
        .table{
            margin-bottom: 0;
        }
        .content {
            margin-top: 0px;
        }
    </style>

    <section class="content" style="background-color: white">
        <div class="row">
            <div class="col-xs-12 col-md-12 tab">
                <div class="box box-primary" style="margin-bottom: 100px;">
                    <div class="box-body table-responsive no-padding" style="background-color: #ffffff;">
                        <div class="col-12 scrollable-x">
                            <table class="table table-sm table-hover file-store">
                                <thead>
                                <tr>
                                    <th colspan="2">Название</th>
                                    <th>Тип</th>
                                    <th>Дата</th>
                                    <th>Дейсвия</th>
                                </tr>
                                </thead>
                                <tbody style="background-color: #f9f9f8;">
                                {% if root is same as(false) %}
                                    <tr>
                                        <td onclick="window.location.href='{{ path('admin_show_archive', {parent: prev}) }}'"
                                            colspan="2"><i class="fa fa-folder-open-o" aria-hidden="true"></i>...
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <td></td> {% endif %}
                                    </tr>
                                {% endif %}

                                {% for file in children %}

                                    {% if file.isDirectory %}
                                        <tr>
                                            <td>
                                                <i class="fa fa-folder-o" aria-hidden="true"></i>
                                                <a style="color: inherit;"
                                                   href="{{ path('admin_show_archive', {parent: file.id}) }}">{{ file.name }}</a>
                                            </td>
                                            <td colspan="2">Папка</td>

                                            <td>{{ file.date|date("d.m.Y H:i") }}</td>
                                            {% if is_granted("ROLE_ADMIN") %}
                                                <td><a href="{{ path("admin-remove_file", {'id': file.id}) }}"> <img
                                                                title="Удалить" style="border: none"
                                                                src="/img/delete.png"
                                                                data-toggle="tooltip" data-placement="right"></a></td>
                                            {% endif %}
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="2">
                                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                <a style="color: inherit;"
                                                   href="/admin/main/app/archive/showfile/{{ file.getId }}">{{ file.name }}</a>
                                            </td>
                                            <td>{{ file.type }}</td>

                                            <td>{{ file.date|date("d.m.Y H:i") }} </td>
                                            {% if is_granted("ROLE_ADMIN") %}
                                                <td>
                                                    <a href="{{ path("admin-redact_file", {'id': file.id}) }}"><img
                                                                title="Редактировать" data-toggle="tooltip"
                                                                data-placement="right" src="/img/edit-news.png"
                                                                style="border:none;" class="edit"></a>
                                                    <a href="{{ path("admin-remove_file", {'id': file.id}) }}"> <img
                                                                title="Удалить" style="border: none"
                                                                src="/img/delete.png"
                                                                data-toggle="tooltip" data-placement="right"></a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal fade" tabindex="-1" id="createFolder" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="mySmallModalLabel">Новая папка</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(formFolderCreate,{ 'attr': {'method':'POST', 'class': 'col'  } }) }}
                                    <div class="">
                                        <p>Новая папка:</p>
                                        <div class="input-group">
                                            {{ form_widget(formFolderCreate.name,{ 'attr': {'placeholder':'Новая папка','class':'form-control', 'id': 'folderNameInput'} }) }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-default btn-primary">Сохранить</button>
                                    </div>
                                    {{ form_end(formFolderCreate) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}