{% extends 'CRUD/standard_layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}<i class="fa fa-home"></i>{% endtrans %}</a><span
                class="divider"></span>
    </li>
    <li class="active">Анонсы</li>

{% endblock %}

{% block content %}
    <link href="/plugins/datapicker/css/datepicker.min.css" rel="stylesheet" type="text/css">

    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.datatables.net/rowreorder/1.2.0/css/rowReorder.dataTables.min.css" rel="stylesheet"
          type="text/css">
    <link href="//cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css" rel="stylesheet"
          type="text/css">

    <script src="/plugins/datapicker/js/datepicker.min.js"></script>

    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/rowreorder/1.2.0/js/dataTables.rowReorder.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ru.js"></script>
    <script type="text/javascript">
        $(".s2").select2();
    </script>
<style>
    .row:first-child{

    }
</style>

    <script type="text/javascript">
        $(function () {
            var days = {
                1: 'понедельникам', 2: 'вторникам', 3: 'средам',
                4: 'четвергам', 5: 'пятницам', 6: 'субботам', 7: 'воскресеньям'
            };
            var usert = $('#example');
            var table = usert.dataTable({
                "language": {
                    "lengthMenu": "Показать _MENU_ событий на каждой странице",
                    "zeroRecords": "Ничего не найдена",
                    "info": "Показывается _PAGE_ из _PAGES_",
                    "infoEmpty": "Пусто",
                    "infoFiltered": "(отфильтровано из _MAX_ результатов)",
                    "search":"Поиск",
                    "paginate": {
                        "previous": "Предыдущий",
                        "next": "Следующий"
                    }
                },
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                'ajax': {
                    type: "GET",
                    url: '/cabinet/event',
                    dataSrc: ""
                },
                columns: [
                    {
                        data: 'id',
                        title: 'ID',
                        width: '100px',
                        bVisible: false,
                    },
                    {
                        data: 'type',
                        title: 'Тип',
                        width: '100px',
                    },
                    {
                        data: function (data) {
                            if (data.datetime == null) {
                                return 'По ' + days[data.weekNumber];
                            }
                            else {
                                var now = new Date(data.datetime);
                                moment.locale('ru');
                                return (moment(data.datetime).format("DD.MM.YYYY"));
                            }
                        },
                        title: 'Дата',
                        width: '100px',
                    },
                    {
                        data: 'time',
                        title: 'Время',
                        width: '100px',
                    },
                    {
                        title: 'Действия',
                        render: function (data, type, row) {
                            return ("<button class='btn btn-danger-outline btn-sm' id='rm'>Удалить</button>")
                                ;
                        },
                        width: '200px',
                        orderable: false
                    }
                ]
            });
            setInterval( function () {
                $('#example').DataTable().ajax.reload();
            }, 30000 );
            usert.on('click', '#rm', function () {
                var row = $(this).closest('tr');
                var data = usert.dataTable().fnGetData(row);
                var self = this;

                $.ajax({
                    type: 'POST',
                    url: '{{ path('event-delete') }}',
                    data: 'id=' + data.id
                }).done(function (data) {
                    $(self).parent().parent().remove()
                })
            });
            $( "#oneday-event" ).click(function() {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('event-create') }}',
                    data: 'type=oneday&data=' + $('.datepicker-here').val()
                }).done(function (data) {
                    $('#example').DataTable().ajax.reload();
                })
            });
            $( "#everyweek-event" ).click(function() {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('event-create') }}',
                    data: 'type=everyweek&data=' + $('#everyweek-event-data').val()+'&time='+$('#week-time').val()
                }).done(function (data) {
                    $('#example').DataTable().ajax.reload();
                })
            });
        });
$("#datapicker").datepicker({
            minDate: new Date()
        })
    </script>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height clearfix">

                    <div class="widget-content padded clearfix">
                        <table id="example" class="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <label for="datapicker">Добавить одиночное событие</label>
        <script>
            $("#datapicker").datepicker();
        </script>
        <input type='text' id="datapicker"  class="form-control" data-position="top left">
        <button style="    margin-top: 12px;" class="btn btn-primary" id="oneday-event">Добавить</button>
    </div>
    <div>
        <label for="everyweek-event-data">Добавить периодическое событие</label>
        <select id="everyweek-event-data" class="s2 form-control">
            <option value="1">Понедельник</option>
            <option value="2">Вторник</option>
            <option value="3">Среда</option>
            <option value="4">Четверг</option>
            <option value="5">Пятница</option>
            <option value="6">Суббота</option>
            <option value="7">Воскресенье</option>
        </select>
        <input type="time" id="week-time" class="form-control">
        <button style="    margin-top: 12px;" class="btn btn-primary" id="everyweek-event">Добавить</button>
    </div>

{% endblock %}

