{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% if object.weekNumber=='1' %}
        По понедельникам
    {% elseif object.weekNumber=='2' %}
        По вторникам
    {% elseif object.weekNumber=='3' %}
        По средам
    {% elseif object.weekNumber=='4' %}
        По четвергам
    {% elseif object.weekNumber=='5' %}
        По пятницам
    {% elseif object.weekNumber=='6' %}
        По субботам
    {% elseif object.weekNumber=='7' %}
        По воскресеньям
    {% else  %}
        {{ object.dateToString}}
    {% endif %}
{% endblock %}