<script>
   for (i = 4;i<=8;i++){
       $(" tr.sonata-ba-list-field-header").children().eq(i).attr('hidden','hidden');
   }
</script>
<tr>
    <td colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
        <div class="row">
            {% for object in admin.datagrid.results %}
                {% set meta = admin.getObjectMetadata(object) %}

                <div class="col-xs-6 col-sm-2 mosaic-box sonata-ba-list-field-batch sonata-ba-list-field" objectId="{{ admin.id(object) }}">

                    <div class="mosaic-box-outter">
                        <div class="mosaic-inner-box">
                            {#
                                This box will be display when the mouse is not on the box
                            #}

                            <div class="mosaic-inner-box-default">
                                {% block sonata_mosaic_background %}
                                    <style>
                                        div.mosaic-inner-box {
                                            height: auto;
                                        }
                                    </style>
                                    {#{% if object.getPhotoPath==null %}#}
                                        {#<img width="1%" src="/img/av-zagl.png">#}
                                    {#{% else %}#}
                                        {#<img width="1%" src="/photos/{{ object.getPhotoPath }}" alt=""/>#}
                                    {#{% endif %}#}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6">

                                                <div class="card hovercard">
                                                    <div class="cardheader">

                                                    </div>
                                                    <div class="avatar">
                                                        {% if object.getPhotoPath==null %}
                                                        <img  src="/img/av-zagl.png">
                                                        {% else %}
                                                        <img  src="/photos/{{ object.getPhotoPath }}" alt=""/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="info">

                                                        <div class="desc">{{ object.getLastName ~" "~ object.getFirstName  }}</div>
                                                        <div class="desc"></div>
                                                        <div class="desc"></div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                {% endblock %}
                            </div>

                            {#
                                This box will be display when the mouse is on the box
                                You can add more description
                            #}
                            <div class="mosaic-inner-box-hover">
                                {% block sonata_mosaic_hover_view %}
                                    <span class="mosaic-box-label label label-primary pull-right">#{{ admin.id(object) }}</span>
                                    {{ meta.description }}
                                {% endblock %}
                            </div>
                        </div>

                        {# NEXT_MAJOR : remove this assignment #}
                        {% set export_formats = export_formats|default(admin.getExportFormats) %}

                        <div class="mosaic-inner-text">
                            {% if (admin.hasRoute('batch') and batchactions|length > 0) or (admin.hasRoute('export') and admin.hasAccess('export') and export_formats|length) %}
                                <input type="checkbox" name="idx[]" value="{{ admin.id(object) }}">
                            {% else %}
                                &nbsp;
                            {% endif %}

                            {% block sonata_mosaic_description %}
                                {% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
                                    <a class="mosaic-inner-link" href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid(admin) }) }}">{{ meta.title|truncate(40) }}</a>
                                {% elseif admin.hasAccess('show', object) and admin.hasRoute('show') %}
                                    <a class="mosaic-inner-link" href="{{ admin.generateUrl('show', {'id' : object|sonata_urlsafeid(admin) }) }}">{{ meta.title|truncate(40) }}</a>
                                {% else %}
                                    {{ meta.title|truncate(40) }}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                {#{% if loop.index % 4 == 0 %}#}
                    {#<div class="clearfix hidden-xs"></div>#}
                {#{% endif %}#}
                {#{% if loop.index % 2 == 0 %}#}
                    {#<div class="clearfix visible-xs"></div>#}
                {#{% endif %}#}
            {% endfor %}
        </div>
    </td>
</tr>
