{% extends 'CRUD/standard_layout.html.twig' %}
{% block content %}
    <script>
        $('a[href$="/admin/main/app/archivefile/list"]').parent().addClass('active');
        $('li.last.treeview').addClass('active');
    </script>
    {% if file==null %}
        <a class="back" href="/admin/main/archive/0">Назад</a>
    {% else %}
        {% if file.getParent==null %}
            <a class="back" href="/admin/main/archive/0">Назад</a>
        {% else %}
            <a class="back" href="/admin/main/archive/{{ file.getParent.getid }}">Назад</a>
        {% endif %}
    {% endif %}
    <div class="text-center">
        {% if file==null %}
            <h1>Файл не найден</h1>
        {% else %}
            <h2>{{ file.getName }}</h2>
            {{ file.text|raw }}
        {% endif %}
    </div>
{% endblock %}


