{% extends 'CRUD/standard_layout.html.twig' %}
{% block content %}

    <script>
//        $('.treeview-menu').addClass('active treeview-menu menu_level_1 menu-open');
//        $('.treeview-menu').show();
//        $('a[href$="/admin/main/app/clentarchivefile/list"]').parent().addClass('active');
        $('li.treeview:eq(1)').addClass('active');
        //        $('.treeview-menu').children()[7].addClass
        $('a[href$="/admin/main/app/clentarchivefile/list"]').parent().addClass('active');
        $('a[href$="/admin/main/app/clentarchivefile/list"]').parent().parent().addClass('active');
//        $('a[href$="/admin/main/app/clentarchivefile/list"]').parent().parent().show()
    </script>
    {% if file==null %}
        <a class="back" href="/admin/main/clientarchive/0">Назад</a>
    {% else %}
        {% if file.getParent==null %}
            <a class="back" href="/admin/main/clientarchive/0">Назад</a>
        {% else %}
            <a class="back" href="/admin/main/clientarchive/{{ file.getParent.getid }}">Назад</a>
        {% endif %}
    {% endif %}
    <div class="text-center">
        {% if file==null %}
            <h1>Файл не найден</h1>
        {% else %}
            <h2>{{ file.getName }}</h2>
            {{ file.text|raw }}
        {% endif %}
    </div>
{% endblock %}


