{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}

{% endblock %}
 {% block sonata_nav %}
     <nav class="navbar navbar-static-top" role="navigation">
     <ul class="navbar-static-top-menu" style="float: right">
         <p class="navbar-static-top-menu-p"><span style="vertical-align: middle">{{ app.user.firstName~" "~app.user.lastName }}</span>
             <span style="display: inline-block;padding-top: 10px;vertical-align: middle">&#65088;</span></p>
         <li><a href="{{ path('cabinet_client') }}">Главная</a></li>
     </ul>
     <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
         <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
     </a>

     <div class="navbar-left">
     {% block sonata_breadcrumb %}
         <script>
             $(document).ready(function () {
                 $('.navbar-static-top-menu-p').click(function (event) {
                     event.stopPropagation();
                     $('.navbar-static-top-menu li').toggleClass('active');
                 });
                 $(window).click(function () {
                     $('.navbar-static-top-menu li').removeClass('active');
                 });
             });
         </script>
         <style>
             .navbar-static-top-menu {
                 position: absolute;
                 right: 15px;
                 top: 7px;
                 display: inline-block;
                 padding: 0 20px;
                 background: #fff;
                 z-index: 2;
             }

             .navbar-static-top-menu li {
                 display: none;
                 width: 100%;
             }

             .navbar-static-top-menu li.active {
                 display: block;
                 PADDING: 5PX 0;
                 text-align: center;
                 BACKGROUND: #FFF;
             }

             .navbar-static-top-menu-p {
                 cursor: pointer;
                 text-align: center;
             }

             .content-wrapper, .right-side {

                 background-color: #ffffff;

             }

             .modal-header {
                 background: #3c8dbc;
                 color: white;
             }

             .modal-header .close {
                 position: absolute;
                 top: 20px;
                 right: 15px;
                 color: white;
                 opacity: 1;
             }

             .input-group {
                 width: 100%;
             }

             .modal-body .btn-primary {
                 color: white;
             }

             @media (max-width: 768px) {

                 .content-wrapper {
                     margin-top: 95px;
                 }

                 body.fixed .content-header .navbar {
                     width: auto !important;
                 }

                 .form-actions {
                     width: auto;
                 }

                 /*.content {*/
                 /*margin-top: 82px;*/
                 /*}*/
                 body.fixed .main-header {
                     position: fixed;
                 }

                 body.fixed .main-sidebar {
                     position: fixed;
                 }

                 body.fixed .main-sidebar .slimScrollDiv, body.fixed .main-sidebar .sidebar {
                     height: 314px !important;
                     overflow-y: auto !important;
                 }

             }

         </style>
         <div class="hidden-xs">
             {% if _breadcrumb is not empty or action is defined %}
                 <ol class="nav navbar-top-links breadcrumb">
                     {% if _breadcrumb is empty %}
                         {% if action is defined %}
                             {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                 {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                 {%- set label = menu.label -%}
                                 {%- if translation_domain is not same as(false) -%}
                                     {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                 {%- endif -%}

                                 {% if not loop.last %}
                                     <li>
                                         {% if menu.uri is not empty %}
                                             <a href="{{ menu.uri }}">
                                                 {% if menu.extra('safe_label', true) %}

                                                     {% if "List" in label %}
                                                         {{ label|replace({ ("List"): "список" }) }}
                                                     {% else %}
                                                         {{- label|raw -}}
                                                     {% endif %}

                                                 {% else %}
                                                     {{- label -}}
                                                 {% endif %}
                                             </a>
                                         {% else %}
                                             <span> {{ label }}</span>

                                         {% endif %}
                                     </li>
                                 {% else %}
                                     <li class="active"><span> {% if "List" in label %}
                                                 {{ label|replace({ ("List"): "список" }) }}
                                             {% else %}
                                                 {{ label }}
                                             {% endif %}</span></li>
                                 {% endif %}
                             {% endfor %}
                         {% endif %}
                     {% else %}
                         {{ _breadcrumb|raw }}
                     {% endif %}
                 </ol>
             {% endif %}
         </div>
     {% endblock sonata_breadcrumb %}
 {% endblock %}