<div class="user-profile strcture-info col-12 col-sm-3" style="">
    <div class="row margin-top">
        <div class="col-12 text-center">
            {% if "ROLE_BANNED"  in user.roles %}
                <h4 class="bg-danger danger alert-danger">ЗАБЛОКИРОВАН</h4>
            {% endif %}
            <p>{{ user.name }}</p>
            <p><span>{{ user.phone }}</span></p>
            {% if user.photo %}
                <img src="/photos/{{ user.photo }}" style="width:100%; max-width:125px;">
            {% else %}
                <img src="/img/av-zagl.png" class="avatar" style="width:100%; max-width:125px;">
            {% endif %}
        </div></div>

        <div class="row text-center">
            <div class="col">
                <br>
                <p><span>TIKI ID:</span> {{ user.idso }}</p>
                <p><span>Лэндинг: </span><a href="/{{user.lan}}" target="_blank">vdoctatke.pro/{{user.lan}}</a></p>
                <p><span>Лично приглашенных:</span> {{ user.personalCount }}</p>
                <p><span>В структуре:</span> {{ user.structCount }}</p>
            </div>
        </div>
    <hr style="margin-top: 10px">
        <div class="row">
            <div class="col text-center">
                <p>КОНТАКТЫ</p>
                <div class="">
                    <a target="_blank" href="{% if user.vk matches '{^(http).*$}' %} {{ user.vk }} {% else %}https://vk.com/{{ user.vk }} {% endif %}"><img
                                class="icon large" src="/img/vk.png"></a>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone={{user.whatsapp[1:]}}"><img class="icon large"
                                                                                                            src="/img/whatsapp.png"></a>
                    <a href="" data-target="#telegramModalStr" data-toggle="modal"><img class="icon large"
                                                                                     src="/img/telegram.png"></a>
                </div>
            </div>
        </div>
    <hr style="margin-top: 10px">
        <div class="row">
            <div class="col">
                <p class="text-center">СТАТИСТИКА</p>
                <div class="stats">
                    <div class="item">
                        <img src="/img/eye.svg" title="Просмотры" data-toggle="tooltip" data-placement="right">
                        <p class="outline">{{ user.stat.views }}</p>
                    </div>
                    <div class="item">
                        <img src="/img/id-card.svg" title="Оставили данные" data-toggle="tooltip" data-placement="right">
                        <p>{{ user.stat.leftData }}</p>
                    </div>
                    <div class="item">
                        <img src="/img/hand_man.png" title="Проявили интерес" data-toggle="tooltip" data-placement="right">
                        <p>{{ user.stat.interested }}</p>
                    </div>
                    <div class="item">
                        <img src="/img/credit-card.svg" title="Оплатили" data-toggle="tooltip" data-placement="right">
                        <p class="outline">{{ user.stat.payed }}</p>
                    </div>
                    <div class="item" title="Прочие" data-toggle="tooltip" data-placement="right">
                        <img src="/img/questions-circular-button.svg">
                        <p>{{ user.stat.other }}</p>
                    </div>
                </div>
            </div>
        </div>
    <hr style="margin-top: 10px">
    <div class="row">
        <div class="col">
            <p class="text-center">СТАТИСТИКА СТРУКТУРЫ</p>
            <div class="stats">
                <div class="item">
                    <img src="/img/eye.svg" title="Просмотры" data-toggle="tooltip" data-placement="right">
                    <p class="outline">{{ structure.views }}</p>
                </div>
                <div class="item">
                    <img src="/img/id-card.svg" title="Оставили данные" data-toggle="tooltip" data-placement="right">
                    <p>{{ structure.leftData }}</p>
                </div>
                <div class="item">
                    <img src="/img/hand_man.png" title="Проявили интерес" data-toggle="tooltip" data-placement="right">
                    <p>{{ structure.interested }}</p>
                </div>
                <div class="item">
                    <img src="/img/credit-card.svg" title="Оплатили" data-toggle="tooltip" data-placement="right">
                    <p class="outline">{{ structure.payed }}</p>
                </div>
                <div class="item" title="Прочие" data-toggle="tooltip" data-placement="right">
                    <img src="/img/questions-circular-button.svg">
                    <p>{{ structure.other }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 10px">
    <div class="row">
        <div class="col">
            <p class="text-center">СТАТИСТИКА СИСТЕМЫ</p>
            <div class="stats">
                <div class="item">
                    <img src="/img/eye.svg" title="Просмотры" data-toggle="tooltip" data-placement="right">
                    <p class="outline">{{ fullStructure.views }}</p>
                </div>
                <div class="item">
                    <img src="/img/id-card.svg" title="Оставили данные" data-toggle="tooltip" data-placement="right">
                    <p>{{ fullStructure.leftData }}</p>
                </div>
                <div class="item">
                    <img src="/img/hand_man.png" title="Проявили интерес" data-toggle="tooltip" data-placement="right">
                    <p>{{ fullStructure.interested }}</p>
                </div>
                <div class="item">
                    <img src="/img/credit-card.svg" title="Оплатили" data-toggle="tooltip" data-placement="right">
                    <p class="outline">{{ fullStructure.payed }}</p>
                </div>
                <div class="item" title="Прочие" data-toggle="tooltip" data-placement="right">
                    <img src="/img/questions-circular-button.svg">
                    <p>{{ fullStructure.other }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 10px">
        {% if is_granted("ROLE_ADMIN") %}
            {% if "ROLE_ADMIN" not in user.roles %}
                <div class="row">
                    <div class="col text-center ban-btns">
                        <a data-block="{{ path("block-user", {'reqId': user.id}) }}" data-req="{{ user.id }}"
                           data-target="#blockRequestModal" data-toggle="modal">
                            {% if "ROLE_BANNED"  in user.roles %}
                                <img src="/img/padlock_open.svg">
                            {% else %}
                                <img src="/img/padlock.svg">
                            {% endif %}
                        </a> –
                        <a data-reject="{{ path("reject-request", {'reqId': user.id}) }}" data-req="{{ user.id }}"
                           data-target="#rejectRequestModal" data-toggle="modal"><img
                                    src="/img/rubbish-bin-delete-button.svg"></a> –
                        <a href="/admin/main/user/{{ user.id }}/edit"><img
                                    src="/img/redact.jpg"></a>


                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <div class="col text-center ban-btns">
                            <a href="/admin/main/user/{{ user.id }}/edit"><img
                                        src="/img/redact.jpg"></a>
                        </div>
                    </div>
            {% endif %}
        {% endif %}


    </div>
    <div id="rejectRequestModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Вы уверены, что хотите удалить?</h2>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-primary rejectRequestBtn">Да</button>
                    <button data-dismiss="modal" class="btn btn-default">Нет</button>
                </div>
            </div>
        </div>
    </div>

<div id="blockRequestModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Вы уверены, что хотите поменять статус блокировки пользователя?</h2>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-primary blockRequestBtn">Да</button>
                <button data-dismiss="modal" class="btn btn-default">Нет</button>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });
        var t={{ user.telegram }};
        $('#usrtlg').text(t);
    </script>