{% extends 'CRUD/standard_layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}<i class="fa fa-home"></i>{% endtrans %}</a><span
                class="divider"></span>
    </li>
    <li class="active">Структура и статистика</li>

{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ asset('/components/admin/admin.css') }}">
    <div class="row">
        <div class="col-12 col-sm-9">
            <form class="row" id="searchForm">
                {#<div class="input-group col-8">#}
                    {#<input id="search" type="text" class="form-control" placeholder="Поиск">#}
                {#</div>#}
            </form>
        </div>
        <hr style="margin-top: 7px">
        <div class="col-12 col-sm-9">
            <div id="tree" data-url="{{ path('admin-structure') }}"></div>
        </div>

        {% include 'CRUD/structure.info.html.twig' %}
    </div>
    <link rel="stylesheet" href="{{ asset('/components/jstree/style.css') }}">
    <script src="{{ asset('/components/jstree/jstree.js') }}"></script>
    <style>
        #searchForm .form-control {
            top: 51px;
            height: 37px;
        }
        .user-profile {
            margin-top: -20px;
        }
        @media (max-width: 768px) {
            #searchForm .form-control {
                top: 99px;
                height: 37px;
            }
            /*.content {*/
                /*margin-top: 82px;*/
            /*}*/
            .user-profile {
                margin-top: 0px;
            }
        }
        .jstree-icon.jstree-themeicon.jstree-themeicon-custom:after {
            border: 1px solid #f00;
        }
    </style>
    <script>

        $("#tree").jstree({
            core: {
                data: {
                    url: $("#tree").data('url')
                }
            },
            "plugins" : [ "search",'wholerow' ]
        }).on('select_node.jstree', function (e, data) {
            var id = data.node.id;
            $.ajax({
                type: 'get',
                url: '/admin/getuser/' + id,
            }).done(function (data) {
                $('div.strcture-info').replaceWith(data.view);
            })
        })
        var to = false;
        $('#search').keyup(function () {
            if(to) { clearTimeout(to); }
            to = setTimeout(function () {
                var v = $('#search').val();
                $('#tree').jstree(true).search(v);
            }, 250);
        });
    </script>

{% endblock %}
