<!DOCTYPE html>
<html lang="en">
<head>
    <title>VDoctatke.pro</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
          type='text/css'/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/bootstrap.css?1422792965"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/materialadmin.css?1425466319"/>
    <script src="https://use.fontawesome.com/29820ce231.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/material-design-iconic-font.min.css?1421434286"/>
    <!-- END STYLESHEETS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->
    <script type="text/javascript" src="/assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/assets/js/libs/utils/respond.min.js?1403934956"></script>
</head>
<body class="menubar-hoverable header-fixed menubar-pin menubar-first">

<!-- BEGIN HEADER-->
<header id="header">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">

                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
            </ul><!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <img src="/photos/av-zagl.png?1403934956" alt=""/>
                        <span class="profile-info">
									{{ app.user.getFirstName }}
									<small>Кандидат</small>
								</span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li><a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i>Выход</a>
                        </li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->
            </ul><!--end .header-nav-profile -->

        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->

<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas">
    </div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->

    <!-- BEGIN CONTENT-->
    <div id="content">


        <div id="content">
            <section class="has-actions style-default-bright">
                <div class="section-header">

                </div>
                <div class="section-body contain-lg">
                    <div class="row">
                        <div class="col-lg-12">


                            <div class="clearfix margin-bottom-xxl"></div>
                            <div class="col-12">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div><!--end .section-body -->
            </section>
        </div><!--end #con

    </div><!--end #content-->
        <!-- END CONTENT -->

        <!-- BEGIN MENUBAR-->
        <div id="menubar" class="menubar-inverse ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar"
                       href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">

                        <img class="nlogo" src="/assets/img/logoside.png">


                </div>
            </div>
            <div class="menubar-scroll-panel">
                <p class="text-lg text-center">Ваш куратор:</p>
                <div class="card fixed-set no-fix-left">
                    <div class="col-sm-12">
                        <div class="clearfix">
                            <img class="img-circle border-white border-xl img-responsive auto-width"
                                 src="/photos/{{ app.user.parent.photoPath }}?1404026744" alt="">
                            <h3>{{ app.user.parent.getFirstName }} {{ app.user.parent.getLastName }}<br>
                                <small><span class="glyphicon glyphicon-phone text-sm"></span> {{ app.user.parent.tel }}</small>
                            </h3>

                        </div>
                        <p class="text-center red-p">Нужна поддержка? Я помогу :)</p>

                        <div class="clearfix">
                            <ul class="list">


                                <li class="tile">

                                    <a target="_blank" class="btn btn-flat ink-reaction btn-default"  href="{% if app.user.parent.vk matches '{^(http).*$}' %} {{ app.user.parent.vk }} {% else %}https://vk.com/{{ app.user.parent.vk }} {% endif %}">
                                        <i class="fa fa-vk"></i>
                                    </a>
                                    <a class="btn btn-flat ink-reaction btn-default" target="_blank" href="https://api.whatsapp.com/send?phone={{ app.user.parent.whatsup[1:] }}">
                                        <i class="fa fa-whatsapp"></i>
                                    </a>
                                    <a class="btn btn-flat ink-reaction btn-default" data-target="#tg-modal" data-toggle="modal">
                                        <i class="fa fa-telegram"></i>
                                    </a>
                                </li>
                                <p class="text-center" style="font-size: 15px;color: white;line-height: normal;"> Техническая поддержка в telegram: @vd_support </p>
                            </ul>
                        </div>


                    </div>
                </div>

                <div class="menubar-foot-panel">

                </div>
            </div><!--end .menubar-scroll-panel-->
        </div><!--end #menubar-->
        <!-- END MENUBAR -->
    </div>


</div><!--end #base-->

<!-- END BASE -->


<!-- BEGIN SIMPLE MODAL MARKUP -->
<div class="modal fade justModal" id="tg-modal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="simpleModalLabel">Телеграм куратора</h4>
            </div>
            <div class="modal-body">
                <p class="text-lg">Телеграм куратора: {{ app.user.parent.telegram }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END SIMPLE MODAL MARKUP -->


<!-- BEGIN JAVASCRIPT -->
<script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/libs/spin.js/spin.min.js"></script>
<script src="/assets/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/assets/js/core/source/App.js"></script>
<script src="/assets/js/core/source/AppNavigation.js"></script>
<script src="/assets/js/core/source/AppOffcanvas.js"></script>
<script src="/assets/js/core/source/AppCard.js"></script>
<script src="/assets/js/core/source/AppForm.js"></script>
<script src="/assets/js/core/source/AppNavSearch.js"></script>
<script src="/assets/js/core/source/AppVendor.js"></script>
<script src="/assets/js/core/demo/Demo.js"></script>

<!-- END JAVASCRIPT -->
{% block forJs %}
{% endblock %}
{% block style %}
{% endblock %}
</body>
</html>
