<!DOCTYPE html>
<html lang="en">
<head>
    <title>Кабинет</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
          type='text/css'/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/bootstrap.css?1422792965"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/materialadmin.css?1425466319"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/font-awesome.min.css?1422529194"/>
    <link type="text/css" rel="stylesheet"
          href="/assets/css/theme-5/material-design-iconic-font.min.css?1421434286"/>
    <!-- END STYLESHEETS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/assets/js/libs/utils/respond.min.js?1403934956"></script>

    <![endif]-->
    <style>
        .curator{
            position: relative!important;
        }
        .video-container iframe{
            border: 5px solid #191919;
            box-shadow: 0px 2px 11px 1px;
        }
        .table > tbody > tr > td{
            padding: 5px 8px;
            font-size: 17px;
        }
        .table > thead > tr > th{
            padding: 5px 8px;
            font-size: 17px;
        }
        .btn-icon-toggle {font-size: 18px}
        .table > tbody > tr:nth-child(even) {
            background: #1919190d;
        }

    </style>
    <style>
        .btn.btn-flat.ink-reaction.btn-default{
            color: white;
        }
    </style>
    {% block style %}

    {% endblock %}
</head>
<body class="menubar-hoverable header-fixed menubar-pin menubar-first">

<!-- BEGIN HEADER-->
{% include 'parts/cabinet.nav.header.html.twig' %}
<!-- END HEADER-->

<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas">
    </div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->

    <!-- BEGIN CONTENT-->
    <div id="content">
        {% block content %}{% endblock %}

    </div><!--end #content-->
    <!-- END CONTENT -->

    <!-- BEGIN MENUBAR-->
    {% include 'parts/cabinet.sidebar.html.twig' %}
    <!-- END MENUBAR -->


</div><!--end #base-->
<!-- END BASE -->


<!-- BEGIN SIMPLE MODAL MARKUP -->
{#<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"#}
{#aria-hidden="true">#}
{#<div class="modal-dialog">#}
{#<div class="modal-content">#}
{#<div class="modal-header">#}
{#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}

{#</div>#}
{#<div class="modal-body">#}
{#<iframe width="560" height="315" src="https://www.youtube.com/embed/K59KKnIbIaM" frameborder="0"#}
{#allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
{#</div>#}
{#<div class="modal-footer">#}
{#<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>#}

{#</div>#}
{#</div><!-- /.modal-content -->#}
{#</div><!-- /.modal-dialog -->#}
{#</div><!-- /.modal -->#}
{#<!-- END SIMPLE MODAL MARKUP -->#}
{% block modal %}
    <!-- Колян, модалка для тебя -->
    {% if not app.user.parent ==null %}
    <div class="modal fade justModal" id="tg-modal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="simpleModalLabel">Телеграм куратора</h4>
                </div>
                <div class="modal-body">
                    <p class="text-lg">Телеграм куратора: {{ app.user.parent.telegram }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endif %}
    <!-- END SIMPLE MODAL MARKUP -->
{% endblock %}

<!-- BEGIN JAVASCRIPT -->
<script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/libs/spin.js/spin.min.js"></script>
<script src="/assets/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/assets/js/core/source/App.js"></script>
<script src="/assets/js/core/source/AppNavigation.js"></script>
<script src="/assets/js/core/source/AppOffcanvas.js"></script>
<script src="/assets/js/core/source/AppCard.js"></script>
<script src="/assets/js/core/source/AppForm.js"></script>
<script src="/assets/js/core/source/AppNavSearch.js"></script>
<script src="/assets/js/core/source/AppVendor.js"></script>
<script src="/assets/js/core/demo/Demo.js"></script>
<script src="https://use.fontawesome.com/29820ce231.js"></script>
{% block includeScripts %}
{% endblock %}
<!-- END JAVASCRIPT -->
{% include 'parts/cabinet.footer.html.twig' %}

</body>
<script>
    {% if "material" in app.request.requestUri %}
    changed = $('a[href="{{ path('materialshow_archive') }}"]');
    changed.parent().addClass("active");
    changed.parents(".gui-folder").addClass("active expanded");
    {% elseif "/archive" in app.request.requestUri or "/file/create" in app.request.requestUri %}
    changed = $('a[href="{{ path('show_archive') }}"]');
    changed.parent().addClass("active");
    changed.parents(".gui-folder").addClass("active expanded");
    {% elseif "/clientarchive" in app.request.requestUri or "/clientfile/create" in app.request.requestUri %}
    changed = $('a[href="{{ path('clientshow_archive') }}"]');
    changed.parent().addClass("active");
    changed.parents(".gui-folder").addClass("active expanded");
    {% elseif "news" in app.request.requestUri%}
    changed = $('a[href="{{ path('news_list') }}"]');
    changed.parent().addClass("active");
    changed.parents(".gui-folder").addClass("active expanded");
    {% elseif "requests" in app.request.requestUri%}
    changed = $('a[href="{{ path('cabinet_requests') }}"]');
    changed.addClass("active");
    {% elseif "myguest" in app.request.requestUri%}
    changed = $('a[href="{{ path('guest_list') }}"]');
    changed.addClass("active");
    {% else %}
    changed = $('a[href="{{ app.request.requestUri }}"]');
    changed.parent().addClass("active");
    changed.parents(".gui-folder").addClass("active expanded");
    {% endif %}
</script>
{% block forJs %}{% endblock %}
</html>
