@font-face {
    font-family: 'Myriad Pro';
    font-weight: 500;
    font-style: normal;
    src: url('./MyriadPro-Semibold.otf');
}
@font-face {
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-style: normal;
    src: url('./MyriadPro-Regular.otf');
}
@font-face {
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-style: oblique;
    src: url('./MyriadPro-Cond.otf');
}
@font-face {
    font-family: 'Myriad Pro';
    font-weight: 300;
    font-style: oblique;
    src: url('./MyriadPro-LightCond.otf');
}
b {
    font-weight: 500 !important;
}