{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="{{ asset('/js/tynimceInit.js') }}"></script>
    <script>
        tinymce.init({
            selector: '.text-redact',
            fontsize_formats: '15pt 16pt 18pt 20pt 24pt 36pt',
            forced_root_block : "",
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
                editor.on('init', function()
                {
                    this.getDoc().body.style.fontSize = '15pt';
                    this.getDoc().body.style.fontFamily = 'Myriad Pro';
                });
            },
            language: 'ru',
            language_url: '/js/langs/ru.js',

            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | sizeselect |  fontsizeselect",
            imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            content_css: [
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
    <style>
        @media (max-width: 768px) {
            .mob {
                display: none;
            }
        }
        .box-body {
            background-color: white;
        }
        .well {
            /*margin-top: 34px;*/
        }
        .table tr:nth-child(even) {
            background: #f1f1f1;
        }
        .modal-header > button {
            color: #fff;
            opacity: .5;
            transition: .3s;
        }

        .modal-header > button:hover {
            opacity: .75;
            margin-top: -2px;
            color: #fff;
        }

        .modal-content > .modal-body > form {
            padding: 15px;

        }

        .modal-content > .modal-body > form label {
            font-weight: 300;
            margin-bottom: 1rem;
        }

        .modal-content > .modal-body > form > .col-xs-12 {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .modal-content > .modal-body > form > .col-xs-12 > input {
            border: none;
            width: 100%;
            border-bottom: 2px solid #c3001c;
            border-radius: 0;
            font-size: 2rem;
        }
    </style>
    {% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form id="edit-form" enctype="multipart/form-data"
              {% if sonata_admin.adminPool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
              role="form"
              action="{% block sonata_form_action_url %}{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}{% endblock %}"
                {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %}
              method="POST"
                {% if not sonata_admin.adminPool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
                {% block sonata_form_attributes %}{% endblock %}
        >

            {{ include('SonataAdminBundle:Helper:render_form_dismissable_errors.html.twig') }}

            {% block sonata_pre_fieldsets %}
            <div class="row">

                {% endblock %}

                {% block sonata_tab_content %}
                    {% set has_tab = ((admin.formtabs|length == 1 and admin.formtabs|keys[0] != 'default') or admin.formtabs|length > 1 ) %}

                    <div class="col-md-12">
                        {#{{ form_helper.render_groups(admin, form, admin.formtabs['default'].groups, has_tab) }}#}
                        <div class="box-primary">
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">


                                    {#{{ form_start(form, {'class': 'form-control'}) }}#}
                                    {{ form_row(form._token) }}

                                    <div class="col-md-10">

                                        <label>Ссылка на видео(youtube)</label>
                                        {{ form_widget(form.videoId, { 'attr': {'class': "form-control"} }) }}
                                    </div>
                                    <div class=" col-md-10">
                                        <label>Описание</label>
                                        {{ form_widget(form.videoText,{ 'attr': {'class': "form-control text-redact",'placeholder': "Вы можете добавлять картинки по ссылке из интернета",
                                            'rows': "20"
                                        } }) }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block sonata_post_fieldsets %}
            </div>
        <br>
            {% endblock %}

            {#{{ form_rest(form) }}#}

            {% block formactions %}
                <div class="sonata-ba-form-actions well well-small form-actions" align="center">
                    {% block sonata_form_actions %}
                        {% if app.request.isxmlhttprequest %}
                            {% if admin.id(object) is not null %}
                                <button type="submit" form="edit-form" class="btn btn-success" name="btn_update"><i
                                            class="fa fa-save"
                                            aria-hidden="true"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-success" name="btn_create"><i
                                            class="fa fa-plus-circle"
                                            aria-hidden="true"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                        {% else %}

                            {% if admin.supportsPreviewMode %}
                                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span class="mob"> {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}</span>
                                </button>
                            {% endif %}
                            {% if admin.id(object) is not null %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i
                                            class="fa fa-save"
                                            aria-hidden="true"></i>
                                    <span class="mob"> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</span>
                                </button>

                                {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_list"><i
                                                class="fa fa-save"></i> <i class="fa fa-list"
                                                                           aria-hidden="true"></i>
                                        <span class="mob"> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</span>
                                    </button>
                                {% endif %}

                                {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}

                                    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i
                                                class="fa fa-minus-circle"
                                                aria-hidden="true"></i>
                                        <span class="mob"> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</span>
                                    </a>
                                {% endif %}

                                {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
                                    <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i
                                                class="fa fa-users"
                                                aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i
                                                class="fa fa-save"
                                                aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.hasroute('list') and admin.hasAccess('list') %}
                                    <button type="submit" class="btn btn-success" name="btn_create_and_list"><i
                                                class="fa fa-save"></i> <i class="fa fa-list"
                                                                           aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_create"><i
                                            class="fa fa-plus-circle"
                                            aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock formactions %}
        </form>
    {% endif %}

    {{ sonata_block_render_event('sonata.admin.edit.form.bottom', { 'admin': admin, 'object': object }) }}
<script>
    val=$('input')[2].value;
    $('input')[2].value=('https://www.youtube.com/watch?v='+val);
</script>
{% endblock %}
