{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.type=="marketing" %}
        Видео бизнес-плана
    {% elseif object.type=="main" %}
        Видео кабинета клиента
    {% elseif object.type=="training" %}
        Видео стартовое
    {% elseif object.type=="landing" %}
        Видео лэндинга
    {% elseif object.type=="brokertiki" %}
        Видео брокер TIki
    {% elseif object.type=="faststart" %}
        Видео Быстрый старт
    {% endif %}
{% endblock %}