<!DOCTYPE html>
<html lang="en">
<head>
    <title>VDoctatke - Login</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
          type='text/css'/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap.css?1422792965"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/materialadmin.css?1425466319"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/font-awesome.min.css?1422529194"/>
    <link type="text/css" rel="stylesheet"
          href="/assets/css/theme-default/material-design-iconic-font.min.css?1421434286"/>
    <!-- END STYLESHEETS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
    <style type="text/css">
        .checkbox-styled:not(ie8) input:checked ~ span:before {
            border-color: #c90032;
        }

        body {
            background: url(/assets/landing/i/back-t.jpg);
        }

        .card {
            background-color: #ffffffe6;
        }
        .reg-error-zone ul{
            list-style-type: none;
        }

        .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
            border-bottom: 2px solid #c90032;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #c90032;
        }

        .nav-tabs > li > a {
            font-size: 17px
        }

        .nav > li > a:hover, .nav > li > a:focus {
            background: none;
            color: #c90032;
        }

        .form-group .form-control ~ label:after, .form-group .form-control ~ .form-control-line:after {
            background-color: #c90032;
        }

        .form-group .form-control:focus ~ label {
            color: #c90032;
        }

        .top-modal-b {
            color: #ffffff !important;
            font-weight: bold;
            background: #c90032 !important;
        }
    </style>
</head>
<body class="menubar-hoverable header-fixed ">

<!-- BEGIN LOGIN SECTION -->
<section class="section-account">
    <div class="img-backdrop"></div>
    <div class="spacer"></div>

    <div class="card contain-sm style-transparent">
        <div class="card">
            <p class="h3 text-danger text-center">Техническая поддержка в telegram: @vd_support</p>
            <div class="card-head">
                <ul class="nav nav-tabs nav-justified" data-toggle="tabs">
                    <li {% if app.request.attributes.get('_route') == 'login'%}class="active"{% endif %}><a href="#first4">Вход</a></li>
                    <li {% if app.request.attributes.get('_route') == 'user_registration'%}class="active"{% endif %}><a href="#second4">Регистрация</a></li>

                </ul>
            </div><!--end .card-head -->
            <div class="card-body tab-content">

                <div class="tab-pane {% if app.request.attributes.get('_route') == 'login'%}active{% endif %}" id="first4">

                    <form class="form floating-label" action="{{ path('login') }}?u={{ app.request.query.get("u") }}" accept-charset="utf-8" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" id="username" name="_username">
                            <label for="username">Почта</label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="_password">
                            <label for="password">Пароль</label>
                            <p class=""></p>
                            <p class="help-block"><a href="{{ path('resetpass') }}">Забыли?</a></p>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-6 text-left">

                            </div><!--end .col -->

                            {% if inValidLoginForm is defined and not inValidLoginForm==null %}
                                <div class="reg-error-zone alert alert-danger" role="alert">
                                    Неверно введен email или пароль
                                </div>
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-primary btn-raised top-modal-b " type="submit">Войти</button>
                                </div><!--end .col -->
                            {% else %}
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised top-modal-b " type="submit">Войти</button>
                                </div><!--end .col -->
                            {% endif %}

                        </div><!--end .row -->
                    </form>
                </div>
                <div class="tab-pane {% if app.request.attributes.get('_route') == 'user_registration'%}active{% endif %}" id="second4">


                    <form class="form floating-label" method="post" action="{{ path('user_registration') }}?u={{ app.request.query.get("u") }} ">
                    <div class="form-group">
                        {{ form_widget(registerForm.parent,{ 'attr': {'placeholder':'идентификатор партнера','class':'form-control'} }) }}
                        {% if app.request.query.get("u") is not defined %}
                        <label for="username">ID Партнера</label>
                        {% endif %}
                        <p class=""></p>
                        <p class="help-block"><a data-target="#tg-modal" data-toggle="modal" href="#">Как узнать id партнера?</a></p>
                    </div>
                    <div class="form-group">
                        {{ form_widget(registerForm.first_name,{ 'attr': {'placeholder':'','class':'form-control'} }) }}
                        <label for="username">Имя</label>
                    </div>
                    <div class="form-group">
                        {{ form_widget(registerForm.email,{ 'attr': {'type':'email','class':'form-control'} }) }}
                        <label for="username">Почта</label>
                    </div>
                    <div class="form-group">
                        {{ form_widget(registerForm.password,{ 'attr': {'placeholder':'','class':'form-control'} }) }}
                        <label for="username">Пароль</label>
                    </div>

                    <br/>
                    <div class="row">

                        {% if inValidRegForm is defined and not inValidRegForm==null %}

                            <div class="reg-error-zone alert alert-danger" role="alert">
                                {{ form_errors(registerForm.email) }}
                                {{ form_errors(registerForm.parent) }}
                            </div>
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-primary btn-raised top-modal-b " type="submit">Зарегистрироваться</button>
                            </div><!--end .col -->
                        {% else %}
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-primary btn-raised top-modal-b " type="submit">Зарегистрироваться</button>
                            </div><!--end .col -->
                        {% endif %}
                    </div><!--end .row -->
                        {{ form_row(registerForm._token) }}
                    </form>
                </div>

            </div><!--end .card-body -->
        </div>
    </div>
</section>

<div class="modal fade justModal" id="tg-modal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
     aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="simpleModalLabel">Для получения доступа на платформу, свяжитесь с одним из партнеров движения в соц.сетях:</h4>
    </div>
    <div class="modal-body">
        <div class="layout" style="
    float: none;
">
            <div class="text-center col1" style="
    width:  50%;
    float: right;
"><a target="_blank" href="https://vk.com/vdoctatke"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path class="st0" d="M13.162 18.994c.609 0 .858-.406.851-.915-.031-1.917.714-2.949 2.059-1.604 1.488 1.488 1.796 2.519 3.603 2.519h3.2c.808 0 1.126-.26 1.126-.668 0-.863-1.421-2.386-2.625-3.504-1.686-1.565-1.765-1.602-.313-3.486 1.801-2.339 4.157-5.336 2.073-5.336h-3.981c-.772 0-.828.435-1.103 1.083-.995 2.347-2.886 5.387-3.604 4.922-.751-.485-.407-2.406-.35-5.261.015-.754.011-1.271-1.141-1.539-.629-.145-1.241-.205-1.809-.205-2.273 0-3.841.953-2.95 1.119 1.571.293 1.42 3.692 1.054 5.16-.638 2.556-3.036-2.024-4.035-4.305-.241-.548-.315-.974-1.175-.974h-3.255c-.492 0-.787.16-.787.516 0 .602 2.96 6.72 5.786 9.77 2.756 2.975 5.48 2.708 7.376 2.708z"></path></svg></a>
                <p>Официальная группа Вконтакте</p></div>
            <div class="col2 text-center" style="
    width: 50%;
"><a target="_blank" href="https://t.me/vdoctatke"><svg width="48px" height="48px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 0 24 24"><path id="telegram-1" d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z"></path></svg></a>
                <p>Официальный канал Телеграм</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Закрыть</button>
    </div>
</div>
</div>
</div>
<!-- BEGIN JAVASCRIPT -->
<script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/libs/spin.js/spin.min.js"></script>
<script src="/assets/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/assets/js/core/source/App.js"></script>
<script src="/assets/js/core/source/AppNavigation.js"></script>
<script src="/assets/js/core/source/AppOffcanvas.js"></script>
<script src="/assets/js/core/source/AppCard.js"></script>
<script src="/assets/js/core/source/AppForm.js"></script>
<script src="/assets/js/core/source/AppNavSearch.js"></script>
<script src="/assets/js/core/source/AppVendor.js"></script>
<script src="/assets/js/core/demo/Demo.js"></script>
<!-- END JAVASCRIPT -->

</body>
</html>
