<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VDoctatke</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/landing/css/fix.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<section class="s1" id="s1">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <nav id="menu1" class="navbar navbar-expand-lg w-100">
                    <a class="navbar-brand" href="/"><img src="assets/landing/i/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse ml-5 pl-4" id="navbarNav">
                        <ul id="menu" class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#s1">ГЛАВНАЯ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pm">ПОЧЕМУ МЫ?</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#pr">ПРЕИМУЩЕСТВО</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav login ">
                        <li><a href="{{ path('user_registration') }}" class="nav-link">РЕГИСТРАЦИЯ</a></li>
                        <li><a class="nav-link" href="{{ path('login') }}">ВХОД</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container cms1">
        <div class="row">
            <div class="col-xs-12 col-md-7 c7m">
                <p class="ps1m bg-w pt-4 px-2 text-center pb-2"><span class="af-l b h1">Деньги</span><span
                            class="sq"></span><span class="af-l b h1">Знания</span><span class="sq"></span><span
                            class="af-l b h1">Бизнес</span></p>
                <p class="mtext-09 text-white text-center pt-2 pb-1 bg-b h2 mx-1 mb-0"><span class=" b">ДВИЖЕНИЕ ЕДИНОМЫШЛЕННИКОВ</span>
                    <br><span class="">ОБЪЕДИНЕННЫХ СХОЖИМИ ЦЕЛЯМИ</span></p>
                <p class="mtext-09 text-center text-white pt-0 h2 mx-1"><span class="px-3 pb-2 bg-b">И ЦЕННОСТЯМИ</span>
                </p>
                <div class="r-l mt-4 mb-3"></div>
                <p class="text-center h4 mtext-08">Познакомьтесь с идеей, концепцией и деталями
                    <br> ведения бизнеса на платформе VDOCTATKE.PRO</p>
                <a href="{{ path('user_registration') }}" class="btn-r">УЗНАТЬ БОЛЬШЕ <i class="fas fa-angle-right fa-lg"></i></a>
            </div>
        </div>
    </div>
    <div class="container" id="pm">
        <div class="row">
            <div class="col-12 mb-4">
                <h2 class="text-center">Почему именно мы?</h2>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/landing/i/s1.png">
                <p class="text-center h6 b mt-4">Деньги через интернет
                    <br>- это реальность XXI века!</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/landing/i/s2.png">
                <p class="text-center h6 b mt-4">Отныне - ваше рабочее место
                    <br> там, где Вы открыли
                    <br> свой ноутбук</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/landing/i/s3.png">
                <p class="text-center h6 b mt-4">Ваш заработок зависит
                    <br> только от Вас</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/landing/i/s4.png">
                <p class="text-center h6 b mt-4">У Вас есть полная свобода
                    <br> выбора
                </p>
            </div>
            <div class="dnm col-12 text-center">
                <img src="assets/landing/i/tr.png" class="position-relative img-tr" alt="">
            </div>
        </div>
    </div>
</section>
<section class="s2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mb-4">
                <h2 class="text-white rl mtext-13">Чем мы можем быть полезны?</h2>
            </div>
            <div class="col-md-9 mt-3">
                <img class="float-left mwm-50" src="assets/landing/i/s2i.png">
                <p class="text-white d-inline-block h4 s2p">Мы готовы поделиться более детальной информацией
                    <br> и передать наши знания и практический опыт
                </p>
                <div class="s2rl"></div>
            </div>
            <div class="col-md-9 my-4">
                <img class="float-left mwm-50" src="assets/landing/i/s2i.png">
                <p class="text-white d-inline-block h4 s2p">Все инструменты и система поддержки
                    <br> предоставляются абсолютно бесплатно
                </p>
                <div class="s2rl"></div>
            </div>
            <div class="col-12 d-block d-md-none">
                <img class="w-100" src="assets/landing/i/mmon.png" alt="">
            </div>
            <div class="col-md-7 dnm">
                <h2 class="text-white b">В чем подвох? А его нет!</h2>
                <p class="text-white h4 s2tb">Немногочисленной командой, мы заработали
                    <br> более <span class="t-r">2.000.000</span> долларов за первые 11 месяцев</p>
            </div>
            <div class="col-md-5">
                <a href="{{ path('user_registration') }}" class="btn-r s2btnr">ПОЛУЧИТЬ СЕЙЧАС <i class="fas fa-angle-right fa-lg"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="s3">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 ">
                <h2 class="text-center text-white b br-none mtext-13">Начните зарабатывать через интернет<br>
                    без территориальных и временных ограничений,<br>
                    используя только проверенные нами методики и стратегии</h2>
            </div>
            <div class="col-md-3 text-center text-white mblock">
                <img src="assets/landing/i/s3i1.png">
                <p class="text-center h6 b mt-4 b">СВОБОДА</p>
                <p class="text-center text-white br-none">Зарабатывайте когда угодно и
                    <br> где угодно. Всё, что вам нужно -
                    <br>это ноутбук и доступ в интернет.
                </p>
            </div>
            <div class="col-md-3 text-center text-white mblock">
                <img src="assets/landing/i/s3i2.png">
                <p class="text-center h6 b mt-4 b">УВЕРЕННОСТЬ</p>
                <p class="text-center text-white br-none">Наш сервис не использует
                    <br> сомнительные схемы заработка.
                    <br> Только проверенные
                    <br> и рабочие инструменты.
                </p>
            </div>
            <div class="col-md-3 text-center text-white mblock">
                <img src="assets/landing/i/s3i3.png">
                <p class="text-center h6 b mt-4 b">ПОДДЕРЖКА</p>
                <p class="text-center text-white br-none">Мы внимательно относимся
                    <br> к нашим клиентам, обеспечивая
                    <br> их пошаговыми обучающими
                    <br> алгоритмами и поддержкой 24/7.
                </p>
            </div>
            <div class="col-md-3 text-center text-white mblock">
                <img src="assets/landing/i/s3i4.png">
                <p class="text-center h6 b mt-4 b">ЦЕННОСТИ</p>
                <p class="text-center text-white br-none">Финансовый достаток,
                    <br> территориальная и временная
                    <br> свобода, обмен опытом и позитивное общение - вот то, что движет нами.
                </p>
            </div>
            <div class="col-12 text-center dnm">
                <img src="assets/landing/i/tr2.png" class="position-relative img-tr" alt="">
            </div>
        </div>
    </div>
</section>
{% if not recommendations==null %}
    <section class="s4" id="ot">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="sllider my-5">

                        {% for recommendation in recommendations %}
                            <div class="sl text-center">
                                <div class="oi">
                                    <img src="/reccomendation-avatars/{{ recommendation.photoPath }}">
                                </div>
                                <p class="text-center h5">{{ recommendation.firstName ~" ,"~ recommendation.city }}</p>
                                <p class="text-center h6">{{ recommendation.text }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<section class="s5" id="pr">
    <div class="container">
        <div class="row d-none d-md-flex">
            <div class="col-12 mt-5 mblock text-center">
                <h2 class="px-3 d-inline-block text-white b back-r py-2">Чем мы готовы поделиться?</h2>
            </div>
            <div class="col-md-6 mt-5">
                <h5 class="text-white rl float-left">Для клиентов:</h5>
                <p class="text-white float-left h6 s5p">- Обучающий курс «арбитражный трейдинг с нуля»</p>
                <p class="text-white float-left h6 s5p">- Доступ к закрытому архиву<br>(записи всех обучающих
                    мероприятий команды)</p>
                <p class="text-white float-left h6 s5p">- Личное сопровождение от куратора </p>
                <p class="text-white float-left h6 s5p">- Сообщество единомышленников </p>
                <div class="clearfix"></div>
                <p class="cr"><img src="assets/landing/i/li.jpg" alt=""></p>
            </div>
            <div class="col-md-5 offset-1 mt-5 ml-md-5 ml-0">
                <h5 class="rl b ">Для партнеров:</h5>
                <p class=" h6 s5p2">- Персональное сопровождение</p>
                <p class=" h6 s5p2">- Архив обучающих вебинаров</p>
                <p class=" h6 s5p2">- Обучающий онлайн-курс «бизнес под ключ»</p>
                <p class=" h6 s5p2">- Личный landingpage</p>
                <p class=" h6 s5p2">- Работа в команде</p>
                <div class="clearfix"></div>
                <p class="cr"><img src="assets/landing/i/li.jpg" alt=""></p>
            </div>
            <div class="col-12 s5a">
                <a href="{{ path('login') }}" class="btn-r">Войти <i class="fas fa-angle-right fa-lg"></i></a>
            </div>
        </div>
        <div class="row d-block d-md-none">
            <div class="sr1back pb-2">
                <div class="col-12 mt-5 mblock text-center">
                    <h2 class="px-3 d-inline-block text-white b back-r py-2">Чем мы готовы поделиться?</h2>
                </div>
                <div class="col-md-6 mt-5 sr1back">
                    <h5 class="text-white rl float-left">Для клиентов:</h5>
                    <p class="text-white float-left h6 s5p">- Обучающий курс «арбитражный трейдинг с нуля»</p>
                    <p class="text-white float-left h6 s5p">- Доступ к закрытому архиву<br>(записи всех обучающих
                        мероприятий команды)</p>
                    <p class="text-white float-left h6 s5p">- Личное сопровождение от куратора </p>
                    <p class="text-white float-left h6 s5p">- Сообщество единомышленников </p>
                    <div class="clearfix"></div>
                    <p class="cr"><img src="assets/landing/i/li.jpg" alt=""></p>
                </div>
            </div>
            <div class="sr2back pt-5 pb-2">
                <div class="col-md-5  offset-1  ml-md-5 ml-0">
                    <h5 class="rl b ">Для партнеров:</h5>
                    <p class=" h6 s5p2">- Персональное сопровождение</p>
                    <p class=" h6 s5p2">- Архив обучающих вебинаров</p>
                    <p class=" h6 s5p2">- Обучающий онлайн-курс «бизнес под ключ»</p>
                    <p class=" h6 s5p2">- Личный landingpage</p>
                    <p class=" h6 s5p2">- Работа в команде</p>
                    <div class="clearfix"></div>
                    <p class="cr"><img src="assets/landing/i/li.jpg" alt=""></p>
                </div>
                <div class="col-12 s5a">
                    <a href="{{ path('user_registration') }}" class="btn-r">ПРИСОЕДИНИТЬСЯ <i class="fas fa-angle-right fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 fmb1 pl-5">
                <p class="text-white borrl br-none">&nbsp;&nbsp;Мы регулярно проводим открытые онлайн-мероприятия,
                    <br>и приглашаем Вас посетить любое из них!
                    <br> Актуальная информация по прямым эфирам - в нашей группе ВК: <a target="_blank" href="https://vk.com/club135030683">vk.com/club135030683</a></p>
                <h4 class="rl-f text-white  position-relative">Ближайшие события VDOCTATKE.PRO:</h4>
                <p class="h5 text-white fbt">{{ date }}, {{ time }} мск</p>
                <a target="_blank" href="https://vk.com/club135030683" class="btn-r btn-f">ПОСЕТИТЬ
                    <i class="fas fa-angle-right fa-lg"></i></a>
            </div>

            <div class="col-md-6 pl-5 fmb2">
                <h4 class="fmrl rl-f b f-kur text-white  position-relative">Контакты для связи:</h4>

                <p class="soc">

                    <a target="_blank"
                       href="https://vk.com/vdoctatke"><i
                                class="fab fa-vk"></i></a>
                    <a target="_blank" href="https://telegram.me/vdoctatke"><i class="fab fa-telegram-plane"></i></a>
                       <p class="h3 text-center" style="color:#ffffff!important;">Техническая поддержка в telegram: @vd_support</p>
                </p>

            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $('.sllider').slick({
        dots: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [{
            breakpoint: 768,
            settings: {
                arrows: false,
                centerMode: false,
                slidesToShow: 1
            }
        }

        ]
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").on("click", "a", function (event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                top = $(id).offset().top;
            $('body,html').animate({scrollTop: top}, 1500);
        });
    });
</script>
</body>

</html>