@import "../../fonts/MyraidPro/myraidpro.css";

body {
    font-family:'Myriad Pro';
    font-style: oblique;
    /*font-size: 2rem;*/
    /*!*height: 100%;*!*/
    /*font-weight: 200;*/
    margin: 0 auto;
}
.part p {
    font-size: 1.4rem;
    line-height: 1;
}
.preloader {
    background: #292929;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.preloader.loaded {
    opacity: 0;
    visibility: hidden;
}
.btn-icon {
    width: 24px;
    margin-top: -4px;
}
.hidden {
    display: none;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;
}
.form-control:focus {
    border-color: #c3001c;
}
.progress-bar-danger {
    background-color: #c3001c !important;
}
.progress-bar-warning {
    background-color: #e8ae0a !important;
}
.progress-bar-success {
    background-color: #0fb141 !important;
}
.password-checker + .progress-container {
    margin: 1rem 0;
}
.password-checker + .progress-container > .progress {
    height: 3px;
    border-radius: 0;
}
.progress-bar {
    background-color: #ad1313;
}

.row {
    margin: 0;
}
.container.row {
    margin: auto;
}
.btn {
    transition: .3s;
    padding: .5rem 1rem;
    margin: .5rem 1.5rem;
    font-weight: 300;
    color: #fff;
    outline: none;
    /*-webkit-box-shadow: 0 0 20px 3px rgba(173, 19, 19, 0.74);*/
    /*-moz-box-shadow: 0 0 20px 3px rgba(173, 19, 19, 0.74);*/
    /*box-shadow: 0 0 20px 3px rgba(173, 19, 19, 0.74);*/
}
.btn-default {
    border: 1px solid #383838;
    background-image: url('../../img/button-text.png');
    background-size: cover;
    background-position: center;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    -webkit-box-shadow: 0 0 20px 7px rgba(173, 19, 19, 0.74);
    -moz-box-shadow: 0 0 20px 7px rgba(173, 19, 19, 0.74);
    box-shadow: 0 0 20px 7px rgba(173, 19, 19, 0.74);
    border-color: #383838;

    background-image: url('../../img/button-text.png');
    background-size: cover;
    background-position: center;
}

.btn-default{
    font-family: 'Myriad Pro';
    font-style: oblique;
    font-size: 1.6rem;
    -webkit-box-shadow: 0 0 20px 20px rgba(173, 19, 19, 0.74);
    -moz-box-shadow: 0 0 20px 20px rgba(173, 19, 19, 0.74);
    box-shadow: 0 0 20px 20px rgba(173, 19, 19, 0.74);
    border-color: #383838;

    background-image: url('../../img/button-text.png');
    background-size: cover;
    background-position: center;
}

.message {
    background: rgb(195, 0, 28);
    color: #fff;
    padding: .5rem 0;
}
.message.full {
    background: #c3001c;
    font-size: 1.4rem;
}
header {
    background-image: url('../../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    -webkit-background-size: cover;
}

header h1, header h3 {
    color: #fff;
}
header > .row > .col-12 > .mon {
    width: 100%;
    margin: 1.5rem 0;
}
header > .row > .col-12 > .logo {
    width: 45%;
    display: block;
    margin: 1rem auto;
}
header > .row > .col-12 > .btn {
    margin: 1.5rem auto 3rem;
    display: block;
    line-height: 34px;
}
header h1 {
    font-size: 2.5rem;
}
header h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.item {
    min-height: 400px;
}
.item > .title {
    background: rgb(195, 0, 28);
    color: #fff;
    position: absolute;
    padding: .25rem 1rem;
}
.item > .text {
    text-shadow: 2px 2px 1px black, 0 0 2em red;
    font-size: 1.5rem;
    position: absolute;
    bottom:0;
    color: #fff;
    margin: .5rem 1rem;
    right: 0;
}
.left.item {
    background: url('../../img/left.png');
    background-size: cover;
}
.left.item > .title {
    top:0;
    left:0;

    font-size: 1.5rem;
}
.right.item {
    background: url('../../img/right.png');
    background-size: cover;
}
.right.item > .title {
    top:0;
    right: 0;

    font-size: 1.5rem;
}

.support {
    padding: 1rem 0;
    background: url('../../img/bbg.jpg');
    background-size: cover;
}
.support img {
    width: 96px;
}
.support h2.filled {
    background: #c3001c;
    color: #fff;
    width: 200px;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    margin: 1rem auto;
    font-weight: 400;
    font-style: oblique;
}
.support h3 {
    color: #c3001c;
}

.detail-info {
    background:url('../../img/lamba.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom:1.5rem;
}
.detail-info .message.full {
    background: #c3001c;
}
.detail-info .message.title {
    max-width: 50%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
}
.detail-info .message.title > h2 {
    font-size: 1.5rem;
}
.detail-info .message.title > h3 {
    font-size:1.25rem;
}
.detail-info .text {
    font-size: 1.4rem;
    line-height: 1;
    color:#fff;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.testimonials {
    padding: 2rem 0;
    background: url('../../img/ppap.jpg');
    backgrounds-size: cover;
}
.testimonials .slider-item {
    background: transparent;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1;
}
.testimonials .slider-item img {
    width: 100px;
    margin-bottom: 1rem;
    display: inline-block;
    border-radius: 100%;
}
.testimonials .slider-item .title {
    margin-left: 1rem;
    margin-top: .5rem;
}
.testimonials .slider-item .title h4 {
    display: inline-block;
}
.testimonials .slider-item .title p {
    display: inline-block;
    margin-left: .5rem;
}

footer {
    color: #fff;
    padding: 2rem 0;
    background: url('../../img/footer.jpg');
    background-size: cover;
    background-position: center;
    min-height: 377px;
}
footer .message {
    padding: .5rem 1rem;
    margin-bottom: 0;
}
footer .submessage {
    padding: .5rem 1rem;
    color: #c3001c;
    margin-top: 0;
    background: rgba(255,255,255,.58);
}
footer .btn {
    margin: auto;
    line-height: 34px;
    display: block;
}
footer .consult img {
    width: 90%;
    border: 1px solid #c3001c;
    max-width: 200px;
    border-radius: 100%;
    margin-top: 8px;
}
footer .icon.large {
    width: 48px;
    transition: .3s;
    border: none;
    margin: 1rem .5rem;
}
footer .icon:hover {
    transform: rotate(360deg);
}
footer .social {
    margin: 1rem 0;
}
footer h3 {
    margin: 1rem 0 1rem 0;
}
footer h4 {
    margin-bottom: 1rem;
}
.help-m {float: right;
    margin-top: 18px;
    font-size: 17px;}
.consult p {font-size: 31px;}
.mob-vis {
    display: none;
}
@media all and (max-width: 767px) {
    .help-m{
        float: none;
    }
    .mob-invis{
        display: none;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header h3 {
        font-size: 1.25rem;
    }
    .detail-info .message.title {
        max-width: 100%;
    }
    footer .col-12 {
        margin:1rem 0;
    }
    footer .text-right.consult {
        text-align: center !important;
    }
    footer {
        text-align: center;
    }
    footer h3 {
        margin: 1rem 0;
    }
    .mob-vis {
        margin: 0 0 40px 0!important;
        display: block;
    }
}
.modal-content > .modal-body > form {
    padding: 15px;
  }
.modal-content > .modal-body > form label {
    font-weight: 300;
    margin-bottom: 1rem;
}
.danger {
    color: #c9302c;
}
.warning {
    color: #ec971f;
}
.success {
    color: #449d44;
}
.modal-header {
    background-color: #000;
    border-bottom: 6px solid #c3001c;
    color: #fff;
}
.modal-header > button {
    color: #fff;
    opacity: .5;
    transition: .3s;
}
.modal-header > button:hover {
    opacity: .75;
    margin-top: -2px;
    color: #fff;
}
.modal-content > .modal-body > form {
    padding: 15px;

}
.modal-content > .modal-body > form label {
    font-weight: 300;
    margin-bottom: 1rem;
}
.modal-content > .modal-body > form > .col-xs-12 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.modal-content > .modal-body > form > .col-xs-12 > input {
    border: none;
    width: 100%;
    border-bottom: 2px solid #c3001c;
    border-radius: 0;
    font-size: 2rem;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.modal-footer {
    text-align: center;
}
.password-checker + .progress-container {
    margin: 1rem 0;
}
.password-checker + .progress-container > .progress {
    height: 3px;
    border-radius: 0;
}
@media all and (max-width: 767px) {
    header{
        background-size: initial;
    }
    header .row {

        flex-direction: column-reverse;
        /*display: -webkit-flex; !* Safari *!*/
        -webkit-flex-direction: row-reverse; /* Safari 6.1+ */

    }

    .modal-body {

        padding-bottom:0;

    }

    .modal-body .form-group {

        margin-bottom: 5px;

    }

    .modal-footer {

        padding-bottom:15px;

        padding-top:0;

        border:none;



    }

}
a:focus, a:hover { outline: none !important;}