
<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar"
               href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="{{ path('cabinet_training') }}">
                <img class="nlogo" src="/img/logoside.png">

            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">

        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">

            <li>
                <a href="{{ path('cabinet_training') }}">
                    <div class="gui-icon"><i class="md md-home"></i></div>
                    <span class="title">Начало</span>
                </a>
            </li>

            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-person"></i></div>
                    <span class="title">Кабинет клиента</span>
                </a>

                <ul>
                    <li><a href="{{ path('cabinet_client') }}"><span class="title">Главная</span></a></li>
                    <li><a href="{{ path('training_courses') }}"><span class="title">Работа с продуктом</span></a></li>
                    {#<li><a href="{{ path('training_courses') }}"><span class="title">Арбитраж. Робот TIKi</span></a></li>#}
                    {#<li><a href="{{ path('cabinet_brokertiki') }}"><span class="title">Брокер TIKi</span></a></li>#}
                    <li><a href="{{ path('clientshow_archive') }}"><span class="title">Архив</span></a></li>

                </ul>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-briefcase"></i></div>
                    <span class="title">Кабинет партнера</span>
                </a>

                <ul>
                    <li><a href="{{ path('cabinet_stat') }}"><span class="title">Главная</span></a></li>
                    <li><a href="{{ path('cabinet-structure') }}"><span class="title">Моя сеть</span></a></li>
                    <li><a href="{{ path('cabinet_marketing') }}"><span class="title">Маркетинг-план TIKi</span></a>
                    </li>
                    <li><a href="{{ path('cabinet_faststart') }}"><span class="title">Быстрый старт 2/ 72</span></a>
                    </li>
                    <li><a href="{{ path('new_courses') }}"><span class="title">Обучение бизнесу</span></a></li>
                    {#<li><a href="{{ path('new_courses') }}"><span class="title">Бизнес online</span></a></li>#}
                    {#<li><a href="{{ path('cabinet_courses') }}"><span class="title">Бизнес offline</span></a></li>#}
                    <li><a href="{{ path('show_archive') }}"><span class="title">Архив</span></a></li>
                    <li><a href="{{ path('materialshow_archive') }}"><span class="title">Саморазвитие</span></a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="{{ path('news_list') }}">
                    <div class="gui-icon"><i class="md md-assignment"></i></div>
                    <span class="title">Новости <span style="color: red">{{  render(controller('AppBundle:Notification:getUnreadNewsCount')) }}</span></span>
                </a>
            </li>
            <li>
                <a href="{{ path('cabinet-curators') }}">
                    <div class="gui-icon text-center"><i class="fa fa-user"></i></div>
                    <span class="title">Мои кураторы</span>
                </a>
            </li>

        </ul><!--end .main-menu -->
        <!-- END MAIN MENU -->
        {% if not app.user.parent==null %}
        <div class="menubar-foot-panel curator">
            <p class="text-lg text-center">Ваш куратор:</p>
        <div class="card fixed-set no-fix-left">
        <div class="col-sm-12">
        <div class="clearfix">
        <img class="img-circle border-white border-xl img-responsive auto-width"
        src="/photos/{{ app.user.parent.photoPath }}?1404026744" alt="">
        <h3>{{ app.user.parent.getFirstName }} {{ app.user.parent.getLastName }}<br>
        <small><span class="glyphicon glyphicon-phone text-sm"></span> {{ app.user.parent.tel }}</small>
        </h3>

        </div>
        <p class="text-center red-p">Нужна поддержка? Я помогу!</p>

        <div class="clearfix">
        <ul class="list">


        <li class="tile">

        <a target="_blank" class="btn btn-flat ink-reaction btn-default"  href="{% if app.user.parent.vk matches '{^(http).*$}' %} {{ app.user.parent.vk }} {% else %}https://vk.com/{{ app.user.parent.vk }} {% endif %}">
        <i class="fa fa-vk"></i>
        </a>
        <a class="btn btn-flat ink-reaction btn-default" target="_blank" href="https://api.whatsapp.com/send?phone={{ app.user.parent.whatsup[1:] }}">
        <i class="fa fa-whatsapp"></i>
        </a>
        <a class="btn btn-flat ink-reaction btn-default"  data-target="#tg-modal" data-toggle="modal">
        <i class="fa fa-telegram"></i>
        </a>
        </li>
            <p class="text-center" style="font-size: 15px;color: white;line-height: normal;"> Техническая поддержка в telegram: @vd_support </p>
        </ul>
        </div>


        </div>
        </div>
        </div>
        {% endif %}
    </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->

