<nav class="fixed-top navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" id="sidebarButton">
        <span class="navbar-toggler-icon"></span>
        <span style="vertical-align: middle;margin-left: .5rem;">VDOCTATKE.PRO</span>
    </button>

    <div class="logo-container hidden-xs-down"><img src="/img/logoside.png" class="logo"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if app.request.attributes.get('_route') == 'dialogs-list' %}
            {% if is_granted("ROLE_USER") or is_granted("ROLE_NEW_PARTNER") or is_granted("ROLE_GUEST") %}
                <a href="{{app.request.headers.get('referer') }}" class="back-top">Назад</a>
            {% endif %}
        {% endif %}
        <ul class="navbar-nav ml-auto">

            {#{% if is_granted("ROLE_ADMIN") %}#}
                {#<li class="nav-item noty">#}
                    {#<a href="/cabinet/supmessages">#}
                        {#<img src="/img/support.png" title="Саппорт" data-toggle="tooltip" data-placement="bottom">#}
                    {#</a>#}
                    {#{% if render(controller('AppBundle:Notification:getUnwatchedSupportMessages')) > 0 %}#}
                        {#<span id="supp-messages">{{ render(controller('AppBundle:Notification:getUnwatchedSupportMessages')) }}</span>#}
                    {#{% else %}#}
                        {#<span id="supp-messages" hidden></span>#}
                    {#{% endif %}#}
                {#</li>#}
            {#{% endif %}#}
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_PARTNER") %}
                <li class="nav-item noty">
                    <a href="/cabinet/training">
                        <img src="/img/training.png" title="Стартовая страница" data-toggle="tooltip" data-placement="bottom">
                    </a>
                    {% if render(controller('AppBundle:Notification:getUnwatchedTraining')) > 0 %}
                        <span id="getUnwatchedTraining">{{ render(controller('AppBundle:Notification:getUnwatchedTraining')) }}</span>
                    {% else %}
                        <span id="getUnwatchedTraining" hidden></span>
                    {% endif %}
                </li>
                {#<li class="nav-item noty">#}
                    {#<a href="/cabinet/shop">#}
                        {#<img src="/img/empty-shopping-cart.png" title="Магазин" data-toggle="tooltip" data-placement="bottom">#}
                    {#</a>#}
                {#</li>#}

                {#news#}

                <li class="nav-item noty">
                    <a href="{{ path('news_list') }}">
                        <img src="/img/newspaper.png" title="Новости" data-toggle="tooltip" data-placement="bottom">
                    </a>
                    {% if render(controller('AppBundle:Notification:getUnreadNewsCount')) > 0 %}
                        <span id="unreadNewsCount">{{ render(controller('AppBundle:Notification:getUnreadNewsCount')) }}</span>
                    {% else %}
                        <span id="unreadNewsCount" hidden></span>
                    {% endif %}
                </li>
            {% endif %}
            {#messages#}
            {#<li class="nav-item noty">#}
                {#<a href="/cabinet/messages">#}
                    {#<img src="/img/envelope.png" title="Сообщения" data-toggle="tooltip" data-placement="bottom">#}
                {#</a>#}
                {#{% if render(controller('AppBundle:Notification:getUnreadMessagesCount'))>0 %}#}
                    {#<span id="unreadMessagesCount">{{ render(controller('AppBundle:Notification:getUnreadMessagesCount')) }}</span>#}
                {#{% else %}#}
                    {#<span id="unreadMessagesCount" hidden>0</span>#}
                {#{% endif %}#}
                {#<div id="redirect" hidden><div id="redirect-div"></div> </div>#}
            {#</li>#}

            {# requests #}

            {% if is_granted("ROLE_PARTNER") or is_granted("ROLE_ADMIN") %}
                <li class="nav-item noty">
                    <a href="{{ path('guest_list') }}">
                        <img src="/img/businessman.png" title="Мои кандидаты" data-toggle="tooltip" data-placement="bottom">
                    </a>
                </li>
                <li class="nav-item noty">
                    <a href="{{ path('cabinet_requests') }}">
                        <img src="/img/standing-frontal-man-silhouette.png" title="Заявки" data-toggle="tooltip" data-placement="bottom">
                    </a>
                    {% if render(controller('AppBundle:Notification:getUnwatchedRequestsCount')) > 0 %}
                        <span id="unwatchedRequestsCount">{{ render(controller('AppBundle:Notification:getUnwatchedRequestsCount')) }}</span>
                    {% else %}
                        <span id="unwatchedRequestsCount" hidden></span>
                    {% endif %}
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if app.user.photoPath %}
                        <img src="/photos/{{ app.user.photoPath }}" class="avatar-mini">
                    {% else %}
                        <img src="/img/av-zagl.png" class="avatar-mini">
                    {% endif %}

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    {% if is_granted("ROLE_PARTNER") or is_granted("ROLE_ADMIN") %}
                        <a class="dropdown-item" href="/cabinet/settings">Профиль</a>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                    {#<a class="dropdown-item" href="/cabinet/video/update/main">Видео клиен.</a>#}
                    {#<a class="dropdown-item" href="/cabinet/video/update/marketing">Маркетинг</a>#}
                        {#<a class="dropdown-item" href="/cabinet/video/update/training">Стартовая</a>#}
                    {#<a class="dropdown-item" href="/cabinet/event">Анонсы</a>#}
                    <a class="dropdown-item" href="/admin/main">Админ.панель</a>
                    {% endif %}
                    <a class="dropdown-item" href="/logout">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>