<header id="header">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="../../html/dashboards/dashboard.html">


                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
                <li class="dropdown">
                    <a href="{{ path('cabinet_requests') }}" class="nbt-t btn btn-icon-toggle btn-default">
                      {% set count %}
                        {{  render(controller('AppBundle:Notification:getUnwatchedRequestsCount')) }}
                        {% endset %}
                        <i data-toggle="tooltip" data-placement="bot-rigth" data-original-title="Заявки" class="md md-person-add"></i><sup class="badge style-danger">{% if count.__toString >0  %}{{ count.__toString }}{% endif %}</sup>
                    </a>

                </li>
                <li class="dropdown">
                    <a href="{{ path('guest_list') }}" class="nbt-t btn btn-icon-toggle btn-default">
                        <i data-toggle="tooltip" data-placement="left" data-original-title="Мои кандидаты" class="md md-account-child"></i>
                    </a>

                </li><!--end .dropdown -->
            </ul><!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">

                        {% if app.user.photoPath %}
                            <img src="/photos/{{ app.user.photoPath }}" class="avatar-mini">
                        {% else %}
                            <img src="/img/av-zagl.png" class="avatar-mini">
                        {% endif %}
                        <span class="profile-info">
									{{ app.user.getFirstName~" "~app.user.getLastName }}
                            {% if is_granted("ROLE_ADMIN") %}
                                <small>Администратор</small>
                            {% elseif is_granted("ROLE_PARTNER") or is_granted("ROLE_NEW_PARTNER") %}
                                <small>Партнер</small>
                            {% elseif is_granted("ROLE_USER") or is_granted("ROLE_GUEST") %}
                                <small>Кандидат</small>
                            {% endif %}
								</span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li class="dropdown-header">Настройки</li>
                        <li><a href="{{ path('settings') }}">Профиль</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="/admin/main">Панель администратора</a></li>
                        {% endif %}
                        <li class="divider"></li>

                        <li><a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i>Выход</a>
                        </li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->
            </ul><!--end .header-nav-profile -->

        </div><!--end #header-navbar-collapse -->
    </div>
</header>