<div class="strcture-info card fixed-set">
    <div class="col-sm-12">
        <div class="clearfix">
            {% if user.photo %}
                <img class="img-circle border-white border-xl img-responsive auto-width" style="width: 140px;height: 140px;" src="/photos/{{ user.photo }}" alt="">
            {% else %}
                <img class="img-circle border-white border-xl img-responsive auto-width" style="width: 140px;height: 140px;" src="/img/av-zagl.png" alt="">
            {% endif %}

            <h3>{{ user.name }}</br><small class="text-sm"><span class="glyphicon glyphicon-phone text-sm"></span>{{ user.phone }}</small></h3>

        </div>

        <div class="clearfix set-c text-lg">
            <span class="fa fa-id-card-o text-danger"></span> &nbsp;ID: <b>{{ user.idso }}</b>
        </div>


        <div class="clearfix">
            <ul class="list">

                <li class="tile">
                    <a href="/{{user.lan}}" target="_blank" class="tile-content ink-reaction">
                        <div class="tile-icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="tile-text">
                           vdoctatke.pro/{{user.lan}}
                            <small>Лэндинг</small>
                        </div>
                    </a>
                </li>

                <li class="tile">

                    <a style="color: #9c9697;" target="_blank" class="btn btn-flat ink-reaction btn-default" href="{% if user.vk matches '{^(http).*$}' %} {{ user.vk }} {% else %}https://vk.com/{{ user.vk }} {% endif %}">
                        <i class="fa fa-vk"></i>
                    </a>
                    <a style="color: #9c9697;" class="btn btn-flat ink-reaction btn-default" target="_blank" href="https://api.whatsapp.com/send?phone={{ user.whatsapp[1:] }}">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a style="color: #9c9697;" class="btn btn-flat ink-reaction btn-default" data-target="#tg-modal-info" data-toggle="modal">
                        <i class="fa fa-telegram"></i>
                    </a>
                </li>

            </ul>
        </div>




    </div>
</div>
<div class="modal fade justModal" id="tg-modal-info" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="simpleModalLabel">Телеграм куратора</h4>
            </div>
            <div class="modal-body">
                <p class="text-lg">Телеграм куратора: {{ user.telegram }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.moda
