<div class="strcture-info card fixed-set">
    <div class="col-sm-12">
        <div class="clearfix">
            {% if user.photo %}
                <img class="img-circle border-white border-xl img-responsive auto-width" style="width: 140px;height: 140px;" src="/photos/{{ user.photo }}" alt="">
            {% else %}
                <img class="img-circle border-white border-xl img-responsive auto-width" style="width: 140px;height: 140px;" src="/img/av-zagl.png" alt="">
            {% endif %}

            <h3>{{ user.name }}</br><small class="text-sm"><span class="glyphicon glyphicon-phone text-sm"></span>{{ user.phone }}</small></h3>

        </div>

        <div class="clearfix set-c text-lg">
            <span class="fa fa-id-card-o text-danger"></span> &nbsp;ID: <b>{{ user.idso }}</b>
        </div>

        <div class="clearfix set-c text-lg">
            Лично приглашенных: <b>{{ user.personalCount }}</b>
        </div>
        <div class="clearfix set-c text-lg">
            В структуре:  <b>{{ user.structCount }}</b>
        </div>
        <div class="clearfix">
            <ul class="list">

                <li class="tile">
                    <a href="/{{user.lan}}" target="_blank" class="tile-content ink-reaction">
                        <div class="tile-icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="tile-text">
                           vdoctatke.pro/{{user.lan}}
                            <small>Лэндинг</small>
                        </div>
                    </a>
                </li>

                <li class="tile">

                    <a target="_blank" class="btn btn-flat ink-reaction btn-default tree-icon" href="{% if user.vk matches '{^(http).*$}' %} {{ user.vk }} {% else %}https://vk.com/{{ user.vk }} {% endif %}">
                        <i class="fa fa-vk"></i>
                    </a>
                    <a class="btn btn-flat ink-reaction btn-default tree-icon" target="_blank" href="https://api.whatsapp.com/send?phone={{ user.whatsapp[1:] }}">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                        <a class="btn btn-flat ink-reaction btn-default tree-icon" data-target="#tg-modal-info" data-toggle="modal">
                        <i class="fa fa-telegram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="clearfix">
            <div data-original-title="Просмотры" data-toggle="tooltip" data-placement="top" class="width-for-5 text-center pull-left">
                <span class="text-light  "><i class="fa fa-2x fa-eye" aria-hidden="true"></i></span><br>
                <strong class="text-xl">{{ user.stat.views }}</strong>

            </div>
            <div data-original-title="Оставили данные" data-toggle="tooltip" data-placement="top" class="width-for-5 text-center pull-left">
                <span class="text-light  "><i class="fa fa-2x fa-address-card-o" aria-hidden="true"></i></span><br>
                <strong class="text-xl">{{ user.stat.leftData }}</strong>

            </div>
            <div data-original-title="Проявили интерес" data-toggle="tooltip" data-placement="top"   class="width-for-5 text-center pull-left">
                <span class="text-light"><i class="fa fa-2x fa-male" aria-hidden="true"></i></span><br>
                <strong class="text-xl">{{ user.stat.interested }}</strong>

            </div>
            <div data-original-title="Оплатили" data-toggle="tooltip" data-placement="top" class="width-for-5 text-center pull-left">
                <span class="text-light  "><i class="fa fa-2x fa-credit-card" aria-hidden="true"></i></span><br>
                <strong class="text-xl">{{ user.stat.payed }}</strong>

            </div>
            <div data-original-title="Прочие" data-toggle="tooltip" data-placement="top" class="width-for-5 text-center pull-left">
                <span class="text-light  "><i class="fa fa-2x fa-question-circle-o" aria-hidden="true"></i></span><br>
                <strong class="text-xl">{{ user.stat.other }}</strong>

            </div>


        </div>


    </div>
</div>