{% extends ':layouts:cabinet.html.twig' %}
{% block style %}
    <style>
        .run-block{
            position: absolute;
            top: 0;
            text-align: center;
            width: 100%;
            height: 100%;
        }
        .run-icon{
            font-size: 95px!important;
            vertical-align: top;
            color: rgba(195, 30, 30, 0.57);
            margin-top: 16%;
            position: relative;
            z-index: 990;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        {% for course in courses %}
            {% if app.user.course.id >= course.id %}
                <div class="col-xs-12 col-sm-6 col-md-4" source="{{ course.videoId }}" id="{{ course.id }}" name="{{ course.name }}"
                    onclick="" data-target="#videoModal" data-toggle="modal">
                    <div class="course-item">

                        <img src="/img/shag/{{ loop.index }}.jpg"/>
                        <p class="v-name">{{ course.name }}</p><div class="run-block"> <i class="run-icon fa fa-play-circle-o" aria-hidden="true"></i></div>
                    </div>
                </div>
            {% else %}
                <div onclick="" class="col-xs-12 col-sm-6 col-md-4" source="{{ course.videoId }}" id="{{ course.id }}">
                    <div class="course-item non">

                        <img src="/img/shag/{{ loop.index }}.jpg"/>
                        <p class="v-name">{{ course.name }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="videoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" style="padding-top: 2vh;width: 70vw;max-width: 70vw">
            <div class="modal-header"><h4 class="modal-title" id="myModalLabel">Досмотрите до конца</h4>  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> </div>
            <div class="modal-content" style="border: none">
                <div id="ytplayer"></div>
                <div class="fs-modal"><i class="fa fa-arrows-alt" id="fsicon" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block forJs %}
    <style>
        #ytplayer {
            width: 100%;
            height: 63vh;
        }

        @media all and (orientation: landscape) and (max-width: 768px) {
            #ytplayer {
                height: 65vh;
            }

        }
        @media screen and (max-width: 768px) {
            .modal-lg{
                width: auto!important;
                max-width: none!important;
            }


        }
        @media screen and (max-width: 1020px) {
            .fs-modal{
                display:none;
            }

        }
        .fs-modal {
            position: absolute;
            color: white;
            right: 10px;
            bottom: 10px;
            font-size: 25px;
            padding: 5px 10px 0px 10px;
            border: 1px solid #efefef;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;

        }

        .fs-modal:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            cursor: pointer;
        }

    </style>
    <script type="text/javascript">


        var id = null;
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        var source;
        var userIndex ={{ app.user.getCourse.getId }};
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                videoId: '{{ courses[0].getVideoID }}',
                playerVars: {
                    controls: 1,
                    disablekb: 0,
                    fs: 1,
                    modestbranding:1,
                    showinfo: 0,
                }
            });
        }
        function launchIntoFullscreen(element) {
            if(element.requestFullscreen) {
                element.requestFullscreen();
            } else if(element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if(element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();
            } else if(element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }
        jQuery("#videoModal").on('hidden.bs.modal', function () {

            player.pauseVideo();
        });
        function isOver() {
            console.log(player.getCurrentTime());
        }

        jQuery("#videoModal").on('shown.bs.modal', function (event) {


            r = $(event.relatedTarget);
            $('.modal-title').text(r.attr('name'));
            i = r.attr('id');
            source = r.attr('source');
            player.playVideo();
            $('#videoModal').focus();
            $('#fsicon').click(function () {
                player.playVideo();
                console.log('play');
                launchIntoFullscreen(document.getElementById('ytplayer'))
            });
            $(document).keypress(function (e) {
                if (e.which == 32) {
                    if (player.getPlayerState() == 1) {
                        player.pauseVideo();

                    }
                    else {
                        player.playVideo();

                    }

                }
            });


            if (id == null || id != i) {
                if (userIndex > i) {
                    $('.fs-modal').css('display','none');
                    document.getElementById('ytplayer').src = "https://www.youtube.com/embed/" + source + "?autoplay=1&controls=1&enablejsapi=1&fs=1&amp;rel=0&amp;showinfo=0"

                }
                else {
                    $('.fs-modal').css('display','block');
                    document.getElementById('ytplayer').src = "https://www.youtube.com/embed/" + source + "?autoplay=1&controls=0&enablejsapi=1&disablekb=1;fs=0&amp;rel=0&amp";
                    $('.modal-title').text("Досмотрите до конца!");
                }
                id = i;
            }

            console.log(r.next().attr("id"));
            console.log(i);
            if (typeof player.playVideo == 'function') {
                player.playVideo();

                var y = clearInterval(t);
                var t = setInterval(function () {
                    state = player.getPlayerState();
                    if (state == 0) {
                        var xhr = $.ajax({
                            type: 'POST',
                            url: '/cabinet/courses/access',
                            data: "id=" + id,
                            success: function (data) {
                                r.next().attr("data-target", "#videoModal");
                                r.next().attr("data-toggle", "modal");
                                r.next().find("div.non").attr("class", "course-item ");
                                r.next().find('p.v-name').after('<div class="run-block"> <i class="run-icon fa fa-play-circle-o" aria-hidden="true"></i></div>');
                                console.log(data);
                                userIndex = data;

                            }
                        });
                        clearInterval(t);
                        return 0;
                    }

                }, 1000);
            }
        });


    </script>
{% endblock %}


