<div id="dialogList">
    <p class="d-title">Ваша поддержка</p>
    <ul class="people">
        {% if supportDialog.getClassName=='User' %}
            <li class="person list-group-item" data-chat="person1" id="no-{{ supportDialog.getId }}">
                {% if supportDialog.getPhotoPath==null %}
                    <img src="/img/av-zagl.png">
                {% else %}
                    <img src="/photos/{{ supportDialog.getPhotoPath }}">
                {% endif %}
                <span class="name">{{ supportDialog.getFirstName~' '~supportDialog.getLastName() }}</span>
                {#<span class="time">2:09 PM</span>#}
                <span class="preview">Вы еще ничего не писали</span>
            </li>
        {% else %}
            {% set supportId=supportDialog.getId %}
            {% set length = supportDialog.getMessages|length - 1 %}
            <li class="person list-group-item"
                data-chat="person1" id="{{ supportDialog.getId }}">
                {% if supportDialog.getFrom.getId == app.user.getId %}
                    {% if supportDialog.getTo.getPhotoPath == null %}
                        <img src="/img/av-zagl.png" class="message-photo">
                    {% else %}
                        <img src="/photos/{{ supportDialog.getTo.getPhotoPath }}" class="message-photo">
                    {% endif %}
                {% else %}
                    {% if supportDialog.getFrom.getPhotoPath == null %}
                        <img src="/img/av-zagl.png" class="message-photo">
                    {% else %}
                        <img src="/photos/{{ supportDialog.getFrom.getPhotoPath }}" class="message-photo">
                    {% endif %}
                {% endif %}
                {% if supportDialog.getFrom.getId == app.user.getId %}
                    <span class="name">{{ supportDialog.getTo.getFirstName~" "~ supportDialog.getTo.getLastName }}</span>
                {% else %}
                    <span class="name">{{ supportDialog.getFrom.getFirstName~' '~ supportDialog.getFrom.getLastName }}</span>
                {% endif %}
                {% if supportDialog.getMessages[length].from==app.user %}
                    {% if supportDialog.getMessages[length].isReaded %}
                        <span class="time"><span class="check-two"><i class="fa fa-check"
                                                                      aria-hidden="true"></i><i
                                        class="fa fa-check checkMark" aria-hidden="true"></i></span></span>
                    {% else %}
                        <span class="time"><span class="check-one"><i class="fa fa-check"
                                                                      aria-hidden="true"></i></span></span>
                    {% endif %}
                {% else %}
                    {% if not supportDialog.getMessages[length].isReaded %}
                        <span class="time"><span class="check-one"><i class="fa fa-circle"
                                                                      aria-hidden="true"></i></span></span>
                    {% endif %}
                {% endif %}
                <span class="preview">{{ supportDialog.getMessages[length].getFrom.getFirstName~' '~ supportDialog.getMessages[length].getFrom.getLastName~": "~supportDialog.getMessages[length].getText[0:37]~"..." }}</span>
                <span>{% if not supportDialog.getMessages[length].isReaded and supportDialog.getMessages[length].to==app.user %}{% endif %}</span>
            </li>
        {% endif %}
    </ul>

    <p class="d-title">Ваши кураторы</p>
    <ul class="people">
        {% for dialog in parentDialogs %}
            {% if dialog.getClassName=='User' %}
                <li class="person list-group-item" id="no-{{ dialog.getId }}" data-chat="person1">
                    {% if dialog.getPhotoPath==null %}
                        <img src="/img/av-zagl.png" class="message-photo">
                    {% else %}
                        <img src="/photos/{{ dialog.getPhotoPath }}" class="message-photo">
                    {% endif %}
                    <span class="name">{{ dialog.getFirstName~' '~dialog.getLastName }}</span>
                    <span class="time"></span>
                    <span class="preview">Вы еще ничего не писали</span>
                </li>
            {% else %}
                {% set length = dialog.getMessages|length - 1 %}
                <li class="person list-group-item {% if not dialog.getMessages[length].isReaded and dialog.getMessages[length].to==app.user %}income-message{% endif %}"
                    data-chat="person1" id="{{ dialog.getId }}">
                    {% if dialog.getFrom.getId == app.user.getId %}
                        {% if dialog.getTo.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getTo.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% else %}
                        {% if dialog.getFrom.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getFrom.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% endif %}
                    {% if dialog.getFrom.getId == app.user.getId %}
                        <span class="name">{{ dialog.getTo.getFirstName~" "~ dialog.getTo.getLastName }}</span>
                    {% else %}
                        <span class="name">{{ dialog.getFrom.getFirstName~' '~ dialog.getFrom.getLastName }}</span>
                    {% endif %}
                    {% if dialog.getMessages[length].from==app.user %}
                        {% if dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-two"><i class="fa fa-check"
                                                                          aria-hidden="true"></i><i
                                            class="fa fa-check checkMark" aria-hidden="true"></i></span></span>
                        {% else %}
                            <span class="time"><span class="check-one"><i class="fa fa-check"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% else %}
                        {% if not dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-one"><i class="fa fa-circle"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% endif %}

                    <span class="preview">{{ dialog.getMessages[length].getFrom.getFirstName~' '~ dialog.getMessages[length].getFrom.getLastName~": "~dialog.getMessages[length].getText[0:37]~"..." }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if not unsubmitedDialogs==null %}
    <p class="d-title c_two">Ваши кандидаты</p>
    <ul  class="people partnerListBlock">
        {% for dialog in unsubmitedDialogs %}
            {% if dialog.getClassName=='User' %}
                <li class="person list-group-item" id="no-{{ dialog.getId }}" data-chat="person1" data-uname="{{ dialog.getFirstName~' '~dialog.getLastName() }}">
                    {% if dialog.getPhotoPath==null %}
                        <img src="/img/av-zagl.png" class="message-photo">
                    {% else %}
                        <img src="/photos/{{ dialog.getPhotoPath }}" class="message-photo">
                    {% endif %}
                    <span class="name">{{ dialog.getFirstName~' '~dialog.getLastName~'('~dialog.getEmail~')'}}</span>
                    <span class="time"></span>
                    <span class="preview">Вы еще ничего не писали</span>
                </li>
            {% else %}
                {% set length = dialog.getMessages|length - 1 %}
                <li class="person list-group-item {% if not dialog.getMessages[length].isReaded and dialog.getMessages[length].to==app.user %}income-message{% endif %}"
                    data-chat="person1" id="{{ dialog.getId }}"
                    data-uname="{% if dialog.getFrom.getId == app.user.getId %} {{ dialog.getTo.getFirstName~" "~ dialog.getTo.getLastName }} {% else %} {{ dialog.getFrom.getFirstName~' '~ dialog.getFrom.getLastName }} {% endif %}">
                    {% if dialog.getFrom.getId == app.user.getId %}
                        {% if dialog.getTo.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getTo.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% else %}
                        {% if dialog.getFrom.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getFrom.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% endif %}
                    {% if dialog.getFrom.getId == app.user.getId %}
                        <span class="name">{{ dialog.getTo.getFirstName~" "~ dialog.getTo.getLastName~'('~dialog.getTo.getEmail~')' }}{% if dialog.getTo.getParent==app.user %}{% else %}{{'(от: '~ dialog.getTo.getParent.getFirstName~' '~dialog.getTo.getParent.getLastName~')'  }}{% endif %}</span>
                    {% else %}
                        <span class="name">{{ dialog.getFrom.getFirstName~' '~ dialog.getFrom.getLastName~'('~dialog.getFrom.getEmail~')' }}{% if dialog.getTo.getParent==app.user %}{% else %}{{'(от: '~ dialog.getTo.getParent.getFirstName~' '~dialog.getTo.getParent.getLastName~')'  }}{% endif %}</span>
                    {% endif %}
                    {% if dialog.getMessages[length].from==app.user %}
                        {% if dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-two"><i class="fa fa-check"
                                                                          aria-hidden="true"></i><i
                                            class="fa fa-check checkMark" aria-hidden="true"></i></span></span>
                        {% else %}
                            <span class="time"><span class="check-one"><i class="fa fa-check"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% else %}
                        {% if not dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-one"><i class="fa fa-circle"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% endif %}
                    <span class="preview">{{ dialog.getMessages[length].getFrom.getFirstName~' '~ dialog.getMessages[length].getFrom.getLastName~": "~dialog.getMessages[length].getText[0:37]~"..." }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if not partnerDialogs==null %}
    <p class="d-title">Ваши партнеры</p>
    <ul class="people partnerListBlock">
        {% for dialog in partnerDialogs %}
            {% if dialog.getClassName=='User' %}
                <li class="person list-group-item" id="no-{{ dialog.getId }}" data-chat="person1"
                    data-uname="{{ dialog.getFirstName~' '~dialog.getLastName() }}">
                    {% if dialog.getPhotoPath==null %}
                        <img src="/img/av-zagl.png" class="message-photo">
                    {% else %}
                        <img src="/photos/{{ dialog.getPhotoPath }}" class="message-photo">
                    {% endif %}
                    <span class="name">{{ dialog.getFirstName~' '~dialog.getLastName }}</span>
                    <span class="time"></span>
                    <span class="preview">Вы еще ничего не писали</span>
                </li>
            {% else %}
                {% set length = dialog.getMessages|length - 1 %}
                <li class="person list-group-item {% if not dialog.getMessages[length].isReaded and dialog.getMessages[length].to==app.user %}income-message{% endif %}"
                    data-chat="person1" id="{{ dialog.getId }}"
                    data-uname="{% if dialog.getFrom.getId == app.user.getId %} {{ dialog.getTo.getFirstName~" "~ dialog.getTo.getLastName }} {% else %} {{ dialog.getFrom.getFirstName~' '~ dialog.getFrom.getLastName }} {% endif %}">
                    {% if dialog.getFrom.getId == app.user.getId %}
                        {% if dialog.getTo.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getTo.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% else %}
                        {% if dialog.getFrom.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getFrom.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% endif %}
                    {% if dialog.getFrom.getId == app.user.getId %}
                        <span class="name">{{ dialog.getTo.getFirstName~" "~ dialog.getTo.getLastName }}</span>
                    {% else %}
                        <span class="name">{{ dialog.getFrom.getFirstName~' '~ dialog.getFrom.getLastName }}</span>
                    {% endif %}
                    {% if dialog.getMessages[length].from==app.user %}
                        {% if dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-two"><i class="fa fa-check"
                                                                          aria-hidden="true"></i><i
                                            class="fa fa-check checkMark" aria-hidden="true"></i></span></span>
                        {% else %}
                            <span class="time"><span class="check-one"><i class="fa fa-check"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% else %}
                        {% if not dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-one"><i class="fa fa-circle"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% endif %}
                    <span class="preview">{{ dialog.getMessages[length].getFrom.getFirstName~' '~ dialog.getMessages[length].getFrom.getLastName~": "~dialog.getMessages[length].getText[0:37]~"..." }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>