{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        .back, .back:active, .back:visited {
            color: #b01414;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="text-center">
        <h2>Страница временно на модерации!</h2>
    </div>
{% endblock %}


