.af-l:after,
.nav-item:hover .nav-link:after {
    height: 2px;
    width: 45%;
    content: " "
}

.btn-r,
.btn-r:hover {
    text-decoration: none
}

.af-l:after,
.nav-item:hover .nav-link:after,
.rl:after {
    content: " "
}

@font-face {
    font-family: droid-bold;
    src: url(fonts/DROIDSANS-BOLD.TTF)
}

@font-face {
    font-family: droid;
    src: url(fonts/DROIDSANS.TTF)
}

body {
    font-family: droid
}

.s1 {
    background: url(../i/back-t.jpg) no-repeat;
    background-position-x: center
}
 
.top-nav {
    background:rgba(0, 0, 0, 0.6392156862745098);
}

.nav-link {
    color: #fff;
    position: relative
}

.login li:hover a,
.nav-item:hover .nav-link {
    color: #c90032
}

.nav-item:hover .nav-link:after {
    background: #c90032;
    position: absolute;
    left: 28%;
    top: -28px
}

.login {
    float: right
}

.b {
    font-family: droid-bold
}

.af-l {
    position: relative;
    text-transform: uppercase;
    font-size: 2.8rem
}

.bg-w {
    background: #ffffffe0
}

.af-l:after {
    background: #000;
    position: absolute;
    right: 0;
    top: -10px
}

.sq {
    width: 11px;
    height: 11px;
    background: #c90032;
    position: relative;
    display: inline-block;
    margin: 0 15px 10px
}

.bg-b {
    background: #000000a1
}

.btn-r,
.r-l {
    background: #c90032
}

.c7m {
    max-width: 61%!important;
    flex: 61%!important;
    margin-top: 140px
}

.r-l {
    width: 80%;
    height: 2px;
    margin: 0 auto
}

.btn-r {
    color: #fff;
    padding: 15px 30px;
    display: table;
    margin: 25px auto;
    font-size: 20px
}

.btn-r:hover {
    color: #000
}

.s-a {
    font-size: 28px;
    vertical-align: middle
}

.cms1 {
    margin-bottom: 125px
}

.img-tr {
    top: 20px
}

.s2 {
    background: url(../i/back-s2.jpg) no-repeat;
    background-position-x: center
}


.s2rl {
    background: #c90032
}

.rl {
    padding-left: 10px;
    margin-left: 15px
}

.rl:after {
    height: 50px;
    width: 15px;
    position: absolute;
    left: 15px;
    top: -13px;
    background: #c90032
}

.t-r {
    color: #f71d2b
}

.s2p {
    padding-top: 15px;
    padding-left: 15px
}

.s2rl {
    width: 62%;
    height: 2px;
    margin-top: 5px;
    margin-left: 75px
}

.s2tb {
    padding-left: 70px
}

.s2btnr {
    margin-left: 100px;
    margin-top: 95px;
    margin-bottom: 50px
}

.s3 {
    background: url(../i/back-s3.jpg) no-repeat;
    background-position-x: center
}

.s4 {
    background: url(../i/back-s4.jpg) no-repeat;
    background-position-x: center
}

.oi {
    width: 210px;
    height: 210px;
    overflow: hidden;
    border: 2px solid #c90132;
    border-radius: 50%;
    display: inline-block
}

.oi img {
    width: 100%
}

.sl {
    padding: 0 30px
}

.slick-prev:before,
.slick-next:before {
    font-size: 70px!important;
    opacity: 1!important;
    color: #c90132!important;
}

.slick-dots li button:before {
    opacity: 1!important;
    color: #c90132!important;
    font-size: 19px!important;
    border: 2px solid #00000000;
}

.slick-prev {
    left: -75px!important;
}

.slick-dots li.slick-active button:before {
    color: #00000000!important;
    border: 3px solid #c90132;
    border-radius: 50%;
}

.s5 {
    background: url(../i/back-s5.jpg) no-repeat;
    background-position-x: center
}

.back-r {
    background: #c90032
}

.s5p {
    margin-left: 15px;
    margin-top: 20px;
}

.s5p2 {
    margin-left: 15px;
    margin-top: 20px;
}

.cr {
    float: left;
    margin-left: 175px;
    margin-top: 45px;
}

.li {
    margin-top: 18px;
    margin-left: 75px;
}

.t1 {
    position: relative;
    top: -40px;
}

.s5a {
    margin-top: 164px;
}

footer {
    background: url(../i/back-f.jpg) no-repeat;
    background-position-x: center
}

.borrl {
    border-bottom: 4px solid #c90032;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-right: 57px;
}

.rl-f {
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 40px;
}

.rl-f:after {
    content: " ";
    height: 50px;
    width: 15px;
    position: absolute;
    left: -15px;
    top: -13px;
    background: #c90032;
}

.fbt {
    margin-left: 215px;
}

.btn-f {
    margin-left: 225px;
    padding: 15px 50px;
}

.ava {
    height: 240px;
    width: 240px;
    overflow: hidden;
    text-align: center;
    top: 25px;
    position: absolute;
    right: 0;
    border: 2px solid #c90132;
    border-radius: 50%;
        right: 50px;
}

.f-kur {
    margin-top: 74px;
}

.f-name {
    width: 185px;
    text-align: right;
    margin-bottom: 0;
        font-size: 18px;
}

.f-tel {
    width: 185px;
    text-align: right;
}
.soc {width: 185px;
    text-align: right;}
.soc a {color: #c90132;
    font-size: 35px;
    margin-left: 8px;}
.dnd {display: none;}
@media all and (max-width: 1024px) {
    .s2 {background-size: cover;}
     .af-l:after {display: none;}
     .ps1m .h1:after {
       content: " "!important;
    display: block!important;
    background: #c90132;
    left: 13px;
    width: 8px;
    height: 8px;
    top: 13px;
}

.s1 {background-size: cover;}
.s3 {background-size: cover;}
.s5 {background-size: cover;}
.sq {
    display: none;
}
.af-l {
    display: block;
    font-size: 30px;
}
}
@media all and (max-width: 1024px) and (min-width: 993px) {
    .nav-link {
     
    font-size: 13px;
}
footer {background-size: cover;}
.btn-f {    margin-left: 0px;
    width: 100%;
    text-align: center;}
.ava {position: relative;top: 0;    right: 0;}
.fbt {margin-left: 0;display: inline-block;}
}
@media all and (max-width: 993px) and (min-width: 768px) {
    .nav-link {
     
    font-size: 13px;
}
.dnm h2{    font-size: 1.5rem;}
footer {background-size: cover;}
.btn-f {    margin-left: 0px;
    width: 100%;
    text-align: center;}
.ava {position: relative;top: 0;    right: 0;}
.fbt {margin-left: 0;display: inline-block;}
.s2 .h4 {font-size: 1rem}
#pm .col-md-3 img {width: 100%}
}
@media all and (max-width: 767px) { 
    .navbar-toggler {display: none}
    .navbar-brand img {width: 150px}
    .login {
 
    display: contents;
}
.dnd {display: block;}
.sq {
    display: none;
 }
 .af-l:after {display: none;}
 .c7m {    max-width: inherit!important;
    flex: inherit!important;
    margin-top: 40px;}
.ps1m {width: 200px}
.af-l {display: block;font-size: 30px;}
.mtext-09 {font-size: 0.9rem}
.mtext-08 {font-size: 0.8rem}
.mtext-13 {font-size: 1.3rem}
.br-none br {display: none}
.s1 {
    background: url(../i/mbs1.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
}
.cms1 {margin-bottom: 0}
#pm .col-md-3 {margin-bottom: 15px}
.dnm {display: none!important}

.s2 {
    background: url(../i/mbs2.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
}
.s2p {    font-size: 14px;
    display: inline-block!important;
    max-width: 237px;
    padding-top: 10px;}
.s2p br {display: none}
.s2rl {    width: 70%;}
.mwm-50 {max-width: 50px;}
.s2btnr {margin:40px auto;}
.s3 {
    background: url(../i/mbs3.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
}
.s3 .mblock {margin: 15px 0;
    padding: 0 60px;}
.s5 .mblock {
        margin: 0!important;
    width: 100%;
    padding: 0;
}
.s5 .mblock h2 {    font-size: 1.7rem;}
.s5 {
       background:none;
}
.s5p {margin-top: 15px;}
.t1 {    position: relative;
    top: 0;
    width: 155px;
    float: unset!important;
    display: block;
    margin: 0 auto;
    padding-top: 20px;}
.cr {float: unset;
    margin-left: 0;
    display: block;
    text-align: center;
    margin-top: 40px;}
.s3mbmt {    margin-top: 10px;}
.s5p2 {    margin-top: 20px;}
.li {float: unset;
    margin-left: 0;
    display: block;
    text-align: center;
    margin-top: 40px;}
.s5a {margin-top:0;}
footer {
    background: url(../i/bfm.jpg) no-repeat;
    background-position-x: center;
        background-size: cover;
}
.borrl {
    border-bottom: 4px solid #c90032;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-right: 0;
    font-size: 0.9rem;
}
.fmb1 {    padding: 0 15px!important;}
.btn-f {margin-left: 0;
    padding: 15px 30px;
display: table;
    margin: 25px auto;}
.rl-f {padding-left: 10px;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 1rem;}
.fbt {    margin-left: 0;
    text-align: right;
        font-size: 0.9rem;
}
.ava {height: 200px;
    width: 200px;
    overflow: hidden;
    text-align: center;
    top: 0;
    position: relative;
    border: 2px solid #c90132;
    border-radius: 50%;
    right: 0;
    margin: 0 auto;}
.fmrl:after {display: none;}
.fmrl {
margin-left: 0!important;
    text-align: center;
    padding: 0;}
.fmb2 {    padding: 0 15px!important;}
.f-name {
    width: 100%;
    text-align: center;
}
.f-tel {
    width: 100%;
    text-align: center;
}
.soc {
    width: 100%;
    text-align: center;
}
.ps1m .h1:after {
       content: " "!important;
    display: block!important;
    background: #c90132;
    left: 13px;
    width: 8px;
    height: 8px;
    top: 13px;
}
.sr1back {
    background: url(../i/sr1.jpg) no-repeat;
    background-position-x: center;
        background-size: cover;
}
.sr2back {
    background: url(../i/sr2.jpg) no-repeat;
    background-position-x: center;
        background-size: cover;
}
}
