<div class="modal fade justModal" id="registerModalFormFull" tabindex="-1" role="dialog"
     aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(formReg,{ 'attr': {'method':'POST' ,'id':'formReg','action':'/steps/10' ,'class':'form'} }) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="simpleModalLabel">Регистрация</h4>

            </div>
            <div class="modal-body">
                <h3 align="center">Вводите реальные данные!</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            {#<input type="text" class="form-control input-lg" id="i1">#}
                            {{ form_widget(formReg.first_name,{ 'attr': {"id":"i1",'class':'form-control input-lg'} }) }}
                            <label for="i1">Имя</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            {#<input type="text" class="form-control input-lg" id="i2">#}
                            {{ form_widget(formReg.last_name,{ 'attr': {"id":"i2",'class':'form-control input-lg'} }) }}
                            <label for="i2">Фамилия</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-envelope fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="text" class="form-control" id="i3">#}
                                    {{ form_widget(formReg.email,{ 'attr': {"id":"i3",'class':'form-control'} }) }}
                                    <label for="i3">Почта</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-phone fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="text" class="form-control" id="i4">#}
                                    {{ form_widget(formReg.tel,{ 'attr': {"id":"i4",'class':'form-control'} }) }}
                                    <label for="i4">Номер телефона</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-whatsapp fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="text" class="form-control" id="i5">#}
                                    {{ form_widget(formReg.whatsup,{ 'attr': {"id":"i5",'class':'form-control'} }) }}
                                    <label for="i5">WhatsApp</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-telegram fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="text" class="form-control" id="i6">#}
                                    {{ form_widget(formReg.telegram,{ 'attr': {"id":"i6",'class':'form-control'} }) }}
                                    <label for="i6">Telegram</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-vk fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="text" class="form-control" id="i7">#}
                                    {{ form_widget(formReg.vk,{ 'attr': {"id":"i7",'class':'form-control'} }) }}
                                    <label for="i7">Вконтакте</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-globe fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="text" class="form-control" id="i8">#}
                                    {{ form_widget(formReg.country,{ 'attr': {"id":"i8",'class':'form-control'} }) }}
                                    <label for="i8">Страна</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-university  fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="text" class="form-control" id="i9">#}
                                    {{ form_widget(formReg.city,{ 'attr': {"id":"i9",'class':'form-control'} }) }}
                                    <label for="i9">Город</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group floating-label">
                            {#<input type="text" class="form-control" id="i10">#}
                            {{ form_widget(formReg.sureone_id,{ 'attr': {"id":"i10",'class':'form-control'} }) }}
                            <label for="i10">Ваша реферальная ссылка TIKI*</label>
                            <p class="help-block">*находится в кабинете на сайте tiki.business (пример:
                                https://tiki.business/id0001)</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-unlock-alt fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="password" class="form-control" id="pass1">#}
                                    {{ form_widget(formReg.password.first,{ 'attr': {"id":"pass1",'class':'form-control'} }) }}
                                    <label for="pass1">Пароль</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group floating-label">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-unlock fa-2x"></span></span>
                                <div class="input-group-content">
                                    {#<input type="password" class="form-control" id="pass2">#}
                                    {{ form_widget(formReg.password.second,{ 'attr': {"id":"pass2",'class':'form-control'} }) }}
                                    <label for="pass2">Повторите пароль</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                {% if not formReg.vars.valid %}

                    <div class="alert-danger" role="alert">

                            {{ form_errors(formReg.first_name) }}
                            {{ form_errors(formReg.last_name) }}
                            {{ form_errors(formReg.tel) }}
                            {{ form_errors(formReg.whatsup) }}
                            {{ form_errors(formReg.telegram) }}
                            {{ form_errors(formReg.vk) }}
                            {{ form_errors(formReg.country) }}
                            {{ form_errors(formReg.city) }}
                            {{ form_errors(formReg.sureone_id) }}
                            {{ form_errors(formReg.password) }}

                    </div>
                {% endif %}
                <button type="submit" class="btn ink-reaction btn-danger">Зарегистрироваться</button>

            </div>
            {{ form_end(formReg) }}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->