{% for s in step-1 %}

<div class="row bs-wizard" style="border-bottom:0;margin-top: 2rem;">
    <div class="col-2 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">Step 1</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="/steps/{{ s }}" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info hidden-xs-down text-center"></div>
    </div>


{% endfor %}