.user-profile {
    border-left: 1px solid #c3001c;
    border-bottom: 1px solid #c3001c;
    padding-bottom: 6px;
    margin-top: -3rem;
    position: fixed;
    right: 15px;
}
.user-profile img {
    width: 100%;
    border-radius: 100%;
    margin-top: 3px;
}
.user-profile p {
    margin: 0;
    line-height: 1.1;
}
.user-profile h4 > span, .user-profile p > span {
    color: #8d8d8d;
}
.user-profile h4 {
    margin: .5rem 0 0;
    font-weight: 300;
    font-size: 1rem;
    color: #000;
}
.user-profile .margin-top {
    margin-top: 1rem;
}
.user-profile .stats {
    text-align: center;
}
.user-profile .stats > .item {
    display: inline-block;
    margin: 5px 0 0 5px;
}

.user-profile .stats > .item img {
    width: 24px;
    border-radius: 0;
}
.user-profile .stats > .item p {
    border: 2px solid transparent;
    margin-top: .25rem;
}
.user-profile .stats > .item .outline {
    border: 2px solid #333;
    border-radius: 20px;
    padding: 0 .5rem;
}
.icon.large{
    width:40px;
    transition: .3s;
    margin: .3rem .2rem;
}
.icon.large:hover {
    transform: rotate(360deg);
}
@media (max-width: 768px){

    .user-profile {
        margin-top: 0;
        border-left: none;
        border-top: 1px solid #c3001c;
        position: relative;
    }
    #searchForm .form-control {
        width: 100%;
        left: 0;
        top: 99px;
    }
}
#searchForm .form-control {
    border: none;
    border-bottom: 2px solid #c3001c;
    padding: .5rem;
    border-radius: 0;
    background: white;
}