{% extends 'layouts/cabinet.html.twig' %}

{% block content %}
    <!-- BEGIN CONTENT-->

    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="card-body style-default-bright">
                                <div class="col-md-2 col-sm-12"><a data-toggle="modal" data-target="#createFolder"
                                                                   class="btn btn-danger ink-reaction">Создать папку</a>
                                </div>
                                <div class="col-md-2 col-sm-12"><a
                                            {% if parent==null %}href="/cabinet/clientfile/create" {% else %} href="/cabinet/clentfilefile/create/{{ parent }}" {% endif %}
                                            class="btn btn-danger ink-reaction">Создать файл&nbsp;&nbsp;</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table no-margin table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Название</th>
                                    <th>Тип</th>
                                    <th>Дата</th>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <th class="text-right">Действия</th>
                                    {% endif %}

                                </tr>
                                </thead>
                                <tbody>
                                {% if root is same as(false) %}
                                    <tr onclick="window.location.href='{{ path('clientshow_archive', {parent: prev}) }}'">
                                        <td><i class="fa fa-undo" aria-hidden="true"></i></td>
                                        <td colspan="2"><b>Назад</b>
                                        </td>
                                        <td></td>


                                        {% if is_granted("ROLE_ADMIN") %}
                                            <td></td> {% endif %}
                                    </tr>
                                {% endif %}
                                {% for file in children %}
                                    {% if file.isDirectory %}
                                        <tr>
                                            <td><i class="fa fa-folder-open" aria-hidden="true"></i></td>
                                            <td>
                                                <a href="{{ path('clientshow_archive', {parent: file.id}) }}"><b>{{ file.name }}</b></a>
                                            </td>
                                            <td>Папка</td>
                                            <td>{{ file.date|date("d.m.Y H:i") }}</td>
                                            {% if is_granted("ROLE_ADMIN") %}
                                                <td class="text-right">

                                                    <button data-removepath='window.location.href="{{ path("clientremove_file", {'id': file.id}) }}"'
                                                            data-target="#accept-remove" data-toggle="modal"
                                                            type="button" class="btn btn-icon-toggle"
                                                            data-toggle="tooltip"
                                                            data-placement="top" data-original-title="Удалить"><i
                                                                class="fa fa-trash-o"></i></button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
                                            <td>
                                                <a href="/cabinet/clientarchive/showfile/{{ file.getId }}"><b>{{ file.name }}</b></a>
                                            </td>
                                            <td>Файл</td>
                                            <td>{{ file.date|date("d.m.Y H:i") }}</td>
                                            {% if is_granted("ROLE_ADMIN") %}
                                                <td class="text-right">
                                                    <button onclick="window.location.href='{{ path("clientredact_file", {'id': file.id}) }}'"
                                                            type="button" class="btn btn-icon-toggle"
                                                            data-toggle="tooltip"
                                                            data-placement="top" data-original-title="Редактировать"><i
                                                                class="fa fa-pencil"></i></button>
                                                    <button data-removepath='window.location.href="{{ path("clientremove_file", {'id': file.id}) }}"'
                                                            data-target="#accept-remove" data-toggle="modal"
                                                            type="button" class="btn btn-icon-toggle"
                                                            data-toggle="tooltip"
                                                            data-placement="top" data-original-title="Удалить"><i
                                                                class="fa fa-trash-o"></i></button>
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div><!--end .section-body -->
    </section>
    <div class="modal fade justModal" tabindex="-1" id="createFolder" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center" id="mySmallModalLabel">Новая папка</h4>

                </div>
                <div class="modal-body">
                    {{ form_start(formFolderCreate,{ 'attr': {'method':'POST', 'class': 'col'  } }) }}
                    <div class="">
                        <p>Новая папка:</p>
                        <div class="input-group">
                            {{ form_widget(formFolderCreate.name,{ 'attr': {'placeholder':'Новая папка','class':'form-control', 'id': 'folderNameInput'} }) }}
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default btn-primary">Сохранить</button>
                    </div>
                    {{ form_end(formFolderCreate) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade justModal" id="accept-remove" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="simpleModalLabel">Подтвердите действие</h4>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотете удалить этот файл?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Нет</button>
                    <button type="button" id="remove-yes" class="btn ink-reaction btn-success">Да</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END CONTENT -->
{% endblock %}
{% block forJs %}
    <script>
        $('#accept-remove').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('removepath')
            console.log(recipient);
            var modal = $(this)
            modal.find('#remove-yes').attr('onclick', recipient)
        })
    </script>
{% endblock %}