{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        b, strong {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="margin-bottom-xxl">
                        <div class="btn-group btn-group-sm pull-left">
                            {% if file==null %}
                                <a type="button" class="btn ink-reaction btn-default btn-primary" href="/cabinet/clientarchive/0"><i class="fa  fa-angle-left"></i> Назад</a>
                            {% else %}
                                {% if file.getParent==null %}
                                    <a type="button" class="btn ink-reaction btn-default btn-primary" href="/cabinet/clientarchive/0"><i class="fa  fa-angle-left"></i> Назад</a>
                                {% else %}
                                    <a type="button" class="btn ink-reaction btn-default btn-primary" href="/cabinet/clientarchive/{{ file.getParent.getid }}"><i class="fa  fa-angle-left"></i> Назад</a>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                    <div class="clearfix margin-bottom-xxl"></div>
                    <div class="col-12 text-center">
                        {% if file==null %}
                            <h1>Файл не найден</h1>
                        {% else %}
                            <h1>{{ file.getName }}</h1>
                            {{ file.text|raw }}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}
