.content {
    background: transparent;
    box-shadow: none;
}
.content .row {
    position: relative;
}
.short-message {
    opacity: .975;
    font-size: .875rem;
    margin-bottom: 0;
}
.short-message > span {
    opacity: .75;
}
.message-photo {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-right: .5rem;
}
.message-photo.mini {
    width: 32px;
    height: 32px;
}
.reverse {
    flex-direction: column;
}
.flexible {display: flex; flex-direction: row; justify-content: space-between; width:100%;}
.list-group {

}
.standard-padding {
    padding-left:1rem;
    padding-right: 1rem;
}
.standard-padding-vertical {
    padding-top:.5rem;
    padding-bottom: .5rem;
}
.dialog-form form{
    justify-content: space-between;
}
.dialog-form {
    flex:0 0 auto;
}
.dialog-form textarea {
    max-height: 58px;
    margin-right: 1rem;
}
.dialog-block{
    height: calc(80vh - 49px);
    overflow-y: auto;
    overflow-x: hidden;
}
.dialog-block::-webkit-scrollbar {
    display: none;
}
.dialog-block .list-group {
    border-bottom: 25px solid rgb(230, 230, 230);
}
.dialog-block .list-group:last-child {
    border: none;
}
.income-message:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #c3001c;
    border-radius: 100%;
    position: absolute;
    right: 2.75rem;
    top: 2.75rem;
}
.dialogs-list {
    height: 80vh;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid rgba(170, 0, 28, 0.41);
    border-right-color: transparent;
    padding-right: 0;
    padding-left: 0;
}
.dialog-title {
    align-items: center;
    border-bottom: 1px solid rgba(170, 0, 28, 0.41);
}
.dialog-form-row {
    border-top: 1px solid rgba(170, 0, 28, 0.41);
    flex: 0 0 auto;
}
.dialog-content-row {
    flex: 1 1 auto;
    overflow-y: hidden;
    height: calc(80vh - 129px);
    position: relative;
}
.dialog-content {
    overflow-y: auto;
    flex-direction: column;
    background: #f0f0f0;
}
.centeralize {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-box {
    width: 100%;
    height: 49px;
    border-bottom: 1px solid rgba(170, 0, 28, 0.41);
    background: #fff;
}
.search-box > input {
    border: none;
    height: 100%;
}
.dialog-title p {
    margin: 0;
}
.dialogs-list .list-group-item {
    border-radius: 0 !important;
    border-bottom: 1px solid;
}
.dialogs-list .list-group-item:hover {
    background: #fafafa;
}
.dialogs-list .list-group-item:last-child {
    border-bottom: none;
}
.dialog-box {
    border: 1px solid rgba(170, 0, 28, 0.41);
    background: #fff;
    margin: 0;
    height: 80vh;
    overflow-y: overlay;
}
.message-incoming {
    min-height: 100px;
    margin: 1rem 0;
    display: flex;
}
.message-sended {
    flex-direction: row-reverse;
}
.message-incoming img {
    width: 36px;
    height: 36px;
    margin-right: 1rem;
    border-radius: 100%;
}
.message-sended img {
    margin-right: 0;
    margin-left: 1rem;
}
.message-incoming > .message-content {
    background: #fff;
    height: auto;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    /*display: inline-table;*/
}
.message-incoming h5 {
    font-size: 1rem;
}
#messageInput {
    position: absolute;
    top: calc(80vh - 80px);
    width: 66.66%;
    left: 34.75%;

}