.video-js {
    position: relative!important;
}
.img-step6 {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .margin-mob {
        margin-top: 2rem;
    }

    #tb2 {
        margin-top: 2rem;
        width: 100%;
    }
    .monitor-image {
        width: 75%!important;
    }
}

.monitor-image {

}

.btn[disabled] {
    border-color: transparent;
}

.btn[disabled]:hover {
    box-shadow: none;
}

#modalVideo {
    width: 100%;
    height: 100%;
}

.video-time {
    color: white;
}

.blockquoute {
    margin: 1rem 0;
    color: #4b4b4b;
    font-size: 1.05rem;
}

.red-text {
    color: #c3001c;
}

.red-text a {
    text-decoration: underline;
    color: #000000;
}

.content {
    background: transparent;
    box-shadow: none;
}

.content h1 {
    margin: 1rem 0;
}

.message-white {
    background: #fff;
    width: 300px;
    padding: 1rem 0;
    color: #c3001c;
    margin-left: auto !important;
    margin-right: auto !important;
}

.btn-success {
    border-color: rgba(102, 189, 105, 1);
    background: rgba(102, 189, 105, 1);
    background: -moz-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102, 189, 105, 1)), color-stop(100%, rgba(76, 175, 79, 1)));
    background: -webkit-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: -o-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: -ms-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: linear-gradient(to bottom, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bd69', endColorstr='#4caf4f', GradientType=0);
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    border-color: rgba(102, 189, 105, 1);
    background: rgba(102, 189, 105, 1);
    background: -moz-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102, 189, 105, 1)), color-stop(100%, rgba(76, 175, 79, 1)));
    background: -webkit-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: -o-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: -ms-linear-gradient(top, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    background: linear-gradient(to bottom, rgba(102, 189, 105, 1) 0%, rgba(76, 175, 79, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bd69', endColorstr='#4caf4f', GradientType=0);
}

.card {
    min-height: 340px;
    justify-content: space-between;
    padding: 1rem;
    text-transform: uppercase;
}

.card .btn {
    margin: .5rem 0;
}

/*STEPS BAR*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #000;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #2d2d2d;
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: rgba(195, 0, 28, 0.3);
    top: 48px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #c3001c;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: rgba(195, 0, 28, 0.51);
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}

/*END STEPS BAR*/