
aside {
    overflow-y: auto;
    transition: .5s;
    transform: translateX(-100vw);
    background: url('../../img/bgFront.jpg');
    background-size: cover;
    background-position:center;
    opacity: 0;
    top:59px;
    position: absolute;
    padding: 1rem 0;
    left:0;
    min-height: 100%;
}
aside.open {

    z-index: 999;
    position: fixed;
    opacity: 1;
    height: inherit;
    transform: translateX(0%);
}
aside p {
    margin-bottom: 0;
    font-size: 1.1rem;
}
aside > .main {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}
.avatar {
    width: 50%;
    border: 2px solid #c3001c;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
aside .h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: .5rem 0 0;
}
aside .message {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    background: rgba(195, 0, 28, 0.75);
    font-weight: 300;
}
aside .message p {
    margin-bottom: 0;
}
aside .btn-group-aside {
    width: 85%;
    display: flex;
    margin: auto;
}
aside .btn-group-aside > .btn {
    align-items: center;
    margin: 0 5px;
    justify-content: space-around;
    display: flex;
    width: 50%;
    padding: 5px 10px;
}
aside .btn-group-aside > .open-client-menu {
    flex-direction: row-reverse;
    text-align: right;
    margin-left: 0;
}
aside .btn-group-aside > .open-partner-menu {
    flex-direction: row;
    text-align: left;
    margin-right: 0;
}
aside .btn-group-aside .btn > img {
    width: 26px;
    margin: 0 2px;
}
aside .btn-group-aside .open-client-menu > img {
    margin-left: 5px;
}
aside .btn-group-aside .open-partner-menu > img {
    margin-right: 5px;
}
aside .btn-group-aside .btn > span {
    word-break: break-all;
}

aside .site {
    margin: 1rem 0;
    line-height: 1rem;
}
aside .site > p {
    margin:  0;
}
aside .site > a {
    color: #8d8d8d;
    font-size: 1rem;
}
aside .btn-group > .btn {
    /* padding: 1rem .25rem; */
}
aside .aside-menu {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: .3s;
}
aside .aside-menu.open {
    display: block;
    opacity: 1;
    visibility: visible;
}
@media all and (min-width: 769px) {
    aside {
        top:66px;
        position: fixed;
        transform: translateX(0%);
        opacity: 1;
        height: inherit;
        width: 300px;
    }
    aside .aside-menu {
        margin-top: -3rem;
        padding-bottom: 4rem;
    }
    @media all and (min-width: 767px) {
        aside {
            width: 300px;
        }
    }
}