{% extends ':layouts:cabinet.html.twig' %}
{% block style %}
    <style>
        /*@media (min-width: 769px) {*/
            /*div.mce-edit-area {*/
                /*height: 20rem;*/
            /*}*/

            /*#main_video_videoText_ifr {*/
                /*height: 20rem !important;*/
            /*}*/

            /*#main_video_videoId {*/
                /*height: 2.4rem;*/
            /*}*/

            /*.mce-stack-layout-item {*/
                /*border-width: 0 0 0 !important;*/
            /*}*/

            /*.mce-statusbar .mce-container-body {*/
                /*margin-top: 2rem;*/
            /*}*/
        /*}*/
    </style>
{% endblock %}
{% block content %}

    <div class="container">

        {{ form_start(form, {'attr': {}}) }}


        <div class="col-md-10">

            <label>Ссылка на видео(youtube)</label>
            {{ form_widget(form.videoId, { 'attr': {'class': "form-control"} }) }}
        </div>
        <div class=" col-md-10">
            <label>Описание</label>
            {{ form_widget(form.videoText,{ 'attr': {'class': "form-control",'placeholder': "Вы можете добавлять картинки по ссылке из интернета",
                'rows': "20"
            } }) }}
        </div>
        <div class="col-md-10">
            <button type="submit" class="btn btn-lg btn-primary " style="margin-top: 4px;">Редактировать</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block forJs %}
    <script>
        tinymce.init({
            selector: '#main_video_videoText',
            forced_root_block : "",
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
                editor.on('init', function()
                {
                    this.getDoc().body.style.fontSize = '14pt';
                    this.getDoc().body.style.fontFamily = 'Myriad Pro';
                });
            },
            language: 'ru',
            language_url: '/js/langs/ru.js',

            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | sizeselect |  fontsizeselect",
            imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            content_css: [
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
<script>
    val=$('#main_video_videoId').val();
    $('#main_video_videoId').val('https://www.youtube.com/watch?v='+val);

</script>
{% endblock %}