{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        .section-header{margin-bottom: 80px}
        span>a{
            color: blue!important;
        }
    </style>
    {% endblock %}

{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">

                <div class="col-md-12 col-sm-12">


                    <div class="text-center">
                        <div
                                class="_im_peer_history im-page-chat-contain"
                                aria-live="polite"
                                aria-relevant="additions">
                            <div class="im-mess-stack _im_mess_stack " data-peer="124194621" data-admin="0">
                                <div class="im-mess-stack--content">
                                    <div style="text-align: center;">
                                        <p>  {{ video.getVideoText|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-12" align="center">
                    <div class="video-container" data-toggle="modal" data-target="#simpleModal">
                        <iframe width="100%" height="400px"
                                src="https://www.youtube.com/embed/{{ video.getVideoId }}?rel=0" frameborder="0"
                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}
{% block forJs %}

{% endblock %}