{% extends 'layouts/cabinet.wait.html.twig' %}
{% block style %}

{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="style-default-bright">
                                    <div class="tabs-left style-default-light">

                                        <div class="card-body tab-content style-default-bright">
                                            <div class="tab-pane active" id="first6">
                                                <h2>Для получения доступа в закрытую часть платформы, заполните
                                                    форму</h2>
                                                {{ form_start(formLanding,{ 'attr': {'class':'form','id':'profile_form'} }) }}
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group ">
                                                        {{ form_widget(formLanding.username,{ 'attr': {'placeholder':'username*','class':'form-control', 'id': 'url', 'aria-describedby': 'basic-addon3',"pattern":"[A-Za-z0-9-_]{3,15}"} }) }}
                                                        <label for="disabled5">*Ваш личный идентификатор</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group ">
                                                        {{ form_widget(formLanding.sureone,{ 'attr': {'placeholder': 'https://tiki.business/id0000', 'class':'form-control'} }) }}
                                                        <label for="disabled5">Ваша реферальная ссылка TIki:</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group img-in-us">
                                                        {{ form_widget(formLanding.photo,{ 'attr': {'class':'inputfile'} }) }}
                                                        {#<input type="file" name="file"  class="inputfile"  />#}
                                                        <label for="disabled5">Фотография</label>
                                                    </div>
                                                </div>

                                                {% if not error==null %}
                                                <div class="col-sm-12">
                                                    <div class="form-group reg-error-zone alert alert-danger" role="alert">
                                                        {{ error }}

                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="col-xs-12">
                                                    <div class="form-group floating-label">
                                                        <button type="submit" class=" ink-reaction btn btn-danger">
                                                            Сохранить
                                                        </button>
                                                    </div>
                                                </div>


                                                {{ form_end(formLanding) }}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}