{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        li[role="treeitem"] {font-size: 20px;}
    </style>
{% endblock %}
{% block includeScripts %}

    <link rel="stylesheet" href="{{ asset('/components/jstree/style.css') }}">
    <script src="/components/devCurators.js"></script>

{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">

                <div class="col-md-8 col-sm-12">
                    <div>
                        <div class="form form-inverse">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control set-search placeholder" id="search"
                                               placeholder="Поиск по имени">
                                        <div class="form-control-line"></div>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-floating-action btn-default-bright" type="button"><i
                                                    class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div><!--end .form-group -->
                        </div>
                    </div>
                    <div id="tree" data-url="{{ path('cabinet-curators') }}"></div>


                </div>
                <div class="col-md-4 col-sm-12">
                    {% include 'parts/curators.info.html.twig' %}

                </div>


            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}
{% block forJs %}
    <script src="{{ asset('/components/jstree/jstree.min.js ') }}"></script>
{% endblock %}
{#<div id="tree" data-url="{{ path('cabinet-structure') }}"></div>#}
{#{% include 'parts/structure.info.html.twig' %}#}