{% extends 'layouts/cabinet.html.twig' %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">

                <div class="col-lg-12">
                    {%  if not faqs is empty %}
                    {% for faq in faqs %}
                        <div class="card col-lg-12">
                            <p class="text-lg">{{ faq.question|raw }}</p>
                            <div class="alert alert-success" role="alert">
                                {{ faq.answer|raw }}
                            </div>


                        </div>
                    {% endfor %}
                    {% else %}
                    <p>Страница временно на модерации!</p>
                    {% endif %}
                </div>


            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}