{% extends 'layouts/cabinet.html.twig' %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="margin-bottom-xxl">
                        <span class="text-light text-lg"><strong>Ваши кандидаты</strong></span>

                    </div>
                    <div class="list-results">
                        {% for guest in guests %}
                            <div class="col-xs-12 col-lg-12 hbox-xs">

                                <div class="col-md-3 col-sm-12">
                                    <div class="clearfix">
                                        <div class="col-lg-12 margin-bottom-lg">
                                            <a class="text-lg text-medium">{{ guest.getFirstName~" "~guest.getLastName }}</a>
                                        </div>
                                    </div>
                                    <div class="clearfix opacity-75">
                                        <div class="col-md-12">
                                            <span class="glyphicon glyphicon-envelope text-sm"></span> &nbsp;{{ guest.email }}
                                        </div>


                                    </div>


                                </div><!--end .hbox-column -->
                                <div class="col-md-4 col-sm-12">

                                    <div class="clearfix">
                                        <div class="col-lg-12">
                                            <div class="alert kandidat-alert alert-callout alert-info" role="alert">
                                                дата регистрации: <b>{{ guest.registratedAt|date("d.m.Y") }}</b></br>
                                                сейчас на шаге номер: <b>{{ guest.step }}</b>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div><!--end .hbox-xs -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}