{% extends 'layouts/cabinet.html.twig' %}
{% block content %}
    <div class="text-center">
       {{ video.videoText|raw}}
        <div class="video-container" data-toggle="modal" name="" data-target="#videoModal">
            <img src="/img/mon1.png">
        </div>
    </div>



    <div id="videoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" style="padding-top: 2vh;width: 70vw;max-width: 70vw">
            <div class="modal-header"><h4 class="modal-title" id="myModalLabel"></h4>  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> </div>
            <div class="modal-content" style="border: none">
                <div id="ytplayer"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block forJs %}
    <style>
        #ytplayer {
            width: 100%;
            height: 63vh;
        }

        @media all and (orientation: landscape) and (max-width: 768px) {
            #ytplayer {
                height: 65vh;
            }

        }
        @media screen and (max-width: 768px) {
            .modal-lg{
                width: auto!important;
                max-width: none!important;
            }


        }
        @media screen and (max-width: 1020px) {
            .fs-modal{
                display:none;
            }

        }
        .fs-modal {
            position: absolute;
            color: white;
            right: 10px;
            bottom: 10px;
            font-size: 25px;
            padding: 5px 10px 0px 10px;
            border: 1px solid #efefef;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;

        }

        .fs-modal:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            cursor: pointer;
        }

    </style>
    <script type="text/javascript">


        var id = null;
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
//                videoId: 'wzdQM9PWKHE',
                videoId: '{{ video.videoId }}',
                playerVars: {
                    controls: 1,
                    disablekb: 0,
                    fs: 1,
                    rel:0,
                    modestbranding:1,
                    showinfo: 0,

                }

            });
        }
        function launchIntoFullscreen(element) {
            if(element.requestFullscreen) {
                element.requestFullscreen();
            } else if(element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if(element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();
            } else if(element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }
        jQuery("#videoModal").on('hidden.bs.modal', function () {

            player.pauseVideo();
        });
        function isOver() {
            console.log(player.getCurrentTime());
        }

        jQuery("#videoModal").on('shown.bs.modal', function (event) {


            r = $(event.relatedTarget);
            $('.modal-title').text(r.attr('name'));
            i = r.attr('id');

            player.playVideo();






        });


    </script>
{% endblock %}
