{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        .section-header{margin-bottom: 80px}
    </style>
{% endblock %}

{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header text-center">
          <p class="text-lg"></p>
        </div>
        <p class="h1 text-center">Упс.. Похоже у Вас нет куратора, Вам не повезло(</p>
    </section>

{% endblock %}

{#<div id="tree" data-url="{{ path('cabinet-structure') }}"></div>#}
{#{% include 'parts/structure.info.html.twig' %}#}