<form action="" id="registerForm" class="row">
<div class="col-xs-12 col-sm-6">
    <input class="reg-firstname-field form-control" type="text" name="firstName" placeholder="Имя">
</div>
<div class="col-xs-12 col-sm-6">
    <input class="reg-lastname-field form-control" type="text" name="lastName" placeholder="Фамилия">
</div>
<div class="col-xs-12 col-md-6">
    <input class="form-control phone-mask" type="text" name="tel" placeholder="Телефон">
</div>
<div class="col-xs-12 col-md-6 email-form-group">
    <input class="form-control reg-email-field" type="text" name="email" placeholder="Email">
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <input class="form-control phone-mask" type="text" name="whatsApp" placeholder="WhatsApp">
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <input class="form-control phone-mask" type="text" name="telegram" placeholder="Telegram">
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <input class="form-control" type="text" name="vk" placeholder="VK">
</div>

<div class="col-xs-12 col-sm-6">
    <input class="form-control" type="text" name="idSureOne" placeholder="Ваша реферальная ссылка TIKI">
</div>
<div class="col-xs-12 col-sm-6">
    <input class="form-control" type="text" name="idUser" placeholder="Идентификатор пригласителя VDoctatke">
</div>
<div class="col-xs-12 col-sm-6">
    <input class="form-control password-field password-checker" type="password" name="password" placeholder="Пароль">
    <div class="progress-container">

    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <input class="form-control repassword-field" type="password" name="repassword" placeholder="Повторите пароль">
</div>
</form>
<div class="reg-error-zone alert alert-danger" role="alert">Тут какие-то ошибки</div>
