{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        span[onclick^="location"]{
         text-decoration: underline;
         color: #000;
         cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}

    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="margin-bottom-xxl">
                        <div class="btn-group btn-group-sm pull-right">

                            <ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu">
                                <li><a href="#">Имя</a></li>
                                <li><a href="#">Фамилия</a></li>
                                <li><a href="#">Город</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="list-results">
                        {% for req in requests %}
                            <div class="col-xs-12 col-lg-12 hbox-xs" id="req-{{ req.id }}">

                                <div class="col-md-4 col-sm-12">
                                    <div class="clearfix">
                                        <div class="col-lg-12 margin-bottom-lg">
                                            <a class="text-lg text-medium">{{ req.getFirstName~" "~req.getLastName }}</a>
                                        </div>
                                    </div>
                                    <div class="clearfix opacity-75">
                                        <div class="col-md-12 text-lg">
                                            <span class="glyphicon glyphicon-phone text-sm"></span> &nbsp;{{ req.tel }}
                                        </div>
                                        <div class="col-md-12 text-lg">
                                            <span class="glyphicon glyphicon-envelope text-sm"></span>
                                            &nbsp;{{ req.email }}
                                        </div>
                                        <div class="col-md-12 text-lg">
                                            <span class="fa fa-id-card-o text-danger"></span> &nbsp;TIki ID:
                                            <b> {% if not req.sureoneId==null %}{{ req.sureoneId|getIntFromString }}{% else %}Не указан{% endif %}</b>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-md-12 text-lg">
                                        <span class="opacity-75"><span
                                                    class="glyphicon glyphicon-map-marker text-sm"></span> &nbsp;{{ req.country }}
                                            , {{ req.city }}</span>
                                        </div>
                                    </div>


                                </div><!--end .hbox-column -->
                                <div class="col-md-3 col-sm-12">
                                    <div class="clearfix">
                                        <div class="col-lg-12 margin-bottom-lg text-lg">
                                            <span class="text-medium">Контакты</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                        <span onclick='location.href="{% if req.vk matches '{^(http).*$}' %} {{ req.vk }} {% else %}https://vk.com/{{ req.vk }} {% endif %}"' class="opacity-75"><span class="fa fa-vk"
                                                                       aria-hidden="true"></span> {% if req.vk matches '{^(http).*$}' %} {{ req.vk }} {% else %}https://vk.com/{{ req.vk }} {% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                        <span onclick='location.href="https://api.whatsapp.com/send?phone={{req.whatsup[1:]}}"' class="opacity-75"><span class="fa fa-whatsapp"
                                                                       aria-hidden="true"></span> {{ req.whatsup }}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                            <span class="opacity-75"><span class="fa fa-telegram"
                                                                           aria-hidden="true"></span> {{ req.telegram }}</span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="clearfix">
                                        <div class="col-lg-12 margin-bottom-lg text-lg">
                                            <span class="text-medium">Пригласил</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                            <b><span class="fa fa-user"></span>
                                                &nbsp;{{ req.parent.getFirstName~" "~req.parent.getLastName }}</b>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                            <span class="glyphicon glyphicon-phone "></span> {{ req.parent.tel }}
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                            <span onclick='location.href="{% if req.parent.vk matches '{^(http).*$}' %} {{ req.parent.vk }} {% else %}https://vk.com/{{ req.parent.vk }} {% endif %}"' class="opacity-75"><span class="fa fa-vk"
                                                                           aria-hidden="true"></span> {{ req.parent.vk }}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                            <span onclick='location.href="https://api.whatsapp.com/send?phone={{req.parent.whatsup[1:]}}"' class="opacity-75"><span class="fa fa-whatsapp"
                                                                           aria-hidden="true"></span> {{ req.parent.whatsup }}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-12 text-lg">
                                            <span class="opacity-75"><span class="fa fa-telegram"
                                                                           aria-hidden="true"></span> {{ req.parent.telegram }}</span>
                                        </div>
                                    </div>


                                </div><!--end .hbox-column -->
                                <div class="col-md-2 col-sm-12">
                                    <button type="button" data-target="#accept" data-toggle="modal"
                                            data-req="{{ req.id }}" class="btn btn-block ink-reaction btn-success">
                                        Принять
                                    </button>
                                    <button type="button" data-target="#accept-remove" data-toggle="modal"
                                            data-req="{{ req.id }}" class="btn btn-block  ink-reaction btn-danger">
                                        Отклонить
                                    </button>


                                </div>


                            </div><!--end .hbox-xs -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
    <div class="modal fade justModal" id="accept-remove" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="simpleModalLabel">Подтвердите действие</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите отклонить заявку?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="remove-yes" class="btn ink-reaction btn-success">Да</button>
                    <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Нет</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade justModal" id="accept" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="simpleModalLabel">Подтвердите действие</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены в подтверждении заявки?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Нет</button>
                    <button type="button" id="accept-yes" class="btn ink-reaction btn-success">Да</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block forJs %}

    <script>
        $('#accept-remove').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('req')
            $('#remove-yes').on('click', function (event) {
                $.ajax({
                    type: "GET",
                    url: '/cabinet/req/reject/' + recipient
                }).done(function (data) {
                    if (data.status == 1) {
                        $("#req-" + recipient).remove();
                        $('#accept-remove').modal('hide');
                    }
                }).fail(function () {
                    console.log("fail");
                })
            })
        })
        $('#accept').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('req')
            $('#accept-yes').on('click', function (event) {

                $.ajax({
                    type: "GET",
                    url: '/cabinet/req/accept/' + recipient
                }).done(function (data) {
                    if (data.status == 1) {
                        $("#req-" + recipient).remove();
                        $('#accept').modal('hide');
                    }
                }).fail(function () {
                    console.log("fail");
                })
            })
        })
    </script>
{% endblock %}