{% extends 'layouts/cabinet.html.twig' %}


{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="style-default-bright">
                                    <div class="tabs-left style-default-light">
                                        <ul class="card-head nav nav-tabs text-center user-pro-tab" data-toggle="tabs">
                                            <li class="active"><a href="#first6"><i class="fa fa-lg fa-user"></i><br><h4>Профиль<br><small>Основные данные</small></h4></a></li>
                                            <li class=""><a href="#second6"><i class="md md-lg md-share"></i><br><h4>Рефер<br></h4></a></li>
                                            <li class=""><a href="#second7"><i class="md md-lg md-verified-user"></i><br><h4>Пароль<br><small>Управление паролем</small></h4></a></li>

                                        </ul>
                                        <div class="card-body tab-content style-default-bright">
                                            <div class="tab-pane active" id="first6">
                                                <h2>Персональные данные</h2>
                                                {{ form_start(form,{ 'attr': {'class':'form','id':'profile_form'} }) }}
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group ">
                                                            <input type="text" class="form-control" value="{{ app.user.getFirstName }}" id="disabled4" placeholder="Имя" disabled="">
                                                            <label for="disabled5">Имя</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group ">
                                                            <input type="text" class="form-control" value="{{ app.user.getLastName }}" id="disabled5" placeholder="Фамилия" disabled="">
                                                            <label for="disabled5">Фамилия</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group img-in-us">
                                                            {{ form_widget(form.uploadAvatar,{ 'attr': {'class':'inputfile'} }) }}
                                                            {#<input type="file" name="file"  class="inputfile"  />#}
                                                            <label for="disabled5">Фотография</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-phone fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {#<input type="text" class="form-control" id="username10">#}
                                                                    {{ form_widget(form.tel,{'id':'username10','attr': {'class':'form-control phone-mask'} }) }}
                                                                    <label for="username10">Номер телефона</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-telegram fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {#<input type="text" class="form-control" id="username11">#}
                                                                    {{ form_widget(form.telegram,{ 'id':'username11','attr': {'class':'form-control phone-mask'} }) }}
                                                                    <label for="username11">Telegram</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-vk fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {{ form_widget(form.vk,{ 'id':'username12','attr': {'class':'form-control'} }) }}
                                                                    <label for="username12">Вконтакте</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-whatsapp fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {{ form_widget(form.whatsup,{ 'id':'username14','attr': {'class':'form-control phone-mask'} }) }}
                                                                    <label for="username14">WhatsApp</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-globe fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {{ form_widget(form.country,{ 'id':'username16','attr': {'class':'form-control'} }) }}
                                                                    <label for="username16">Страна</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-university fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {{ form_widget(form.city,{ 'id':'username17','attr': {'class':'form-control'} }) }}
                                                                    <label for="username17">Город</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12"> <div class="form-group floating-label"> <button type="submit" class=" ink-reaction btn btn-danger">Сохранить</button></div></div>

                                                {{ form_widget(form.sureoneId,{ 'id':'usr123','attr': {'class':'form-control','style':'display:none'} }) }}
                                                {{ form_widget(form.landingName,{ 'id':'usr321','attr': {'class':'form-control','style':'display:none'} }) }}

                                               {{ form_end(form) }}
                                            </div>
                                            <div class="tab-pane" id="second6">
                                                <h2>Реферальные данные</h2>
                                                <div class="form">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <input name="profile[sureoneId]" form="profile_form" value="{{ app.user.sureoneId }}" type="text" class="form-control"  id="ref1" >
                                                            <label for="ref1">Ваша реферальная ссылка TIKI*</label>
                                                            <p class="help-block">*находится в кабинете на сайте tiki.business</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">https://vdoctatke.pro/</i></span>
                                                                <div class="input-group-content">
                                                                    <input name="profile[landingName]" form="profile_form" value="{{ app.user.landingName }}" type="text" class="form-control" id="dollars10">
                                                                    <label for="dollars10">Ваш идентификатор</label>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12"> <div class="form-group floating-label"> <button type="submit" form="profile_form" class=" ink-reaction btn btn-danger">Сохранить</button></div></div>

                                                </div>

                                            </div>
                                            <div class="tab-pane" id="second7">
                                                <h2>Изменение пароля</h2>
                                                {{ form_start(formPass,{ 'attr': {'class':'form'} }) }}
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-key fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {#<input type="password" class="form-control" id="pass1">#}
                                                                    {{ form_widget(formPass.actualPass,{'id':'pass1','attr': {'class':'form-control'} }) }}
                                                                    <label for="pass1">Текущий пароль</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-unlock-alt fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {#<input type="password" class="form-control" id="pass2">#}
                                                                    {{ form_widget(formPass.password.first,{ 'id':'pass2','attr': {'class':'form-control password-field password-checker'} }) }}
                                                                    <label for="pass2">Новый пароль</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group floating-label">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span class="fa fa-unlock fa-2x"></span></span>
                                                                <div class="input-group-content">
                                                                    {#<input type="password" class="form-control" id="pass3">#}
                                                                    {{ form_widget(formPass.password.second,{ 'id':'pass3','attr': {'class':'form-control repassword-field'} }) }}
                                                                    <label for="pass3">Подтвердите пароль</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12"> <div class="form-group floating-label"> <button type="submit" class=" ink-reaction btn btn-danger">Сохранить</button></div></div>
                                              {{ form_end(formPass) }}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}
