{% extends 'layouts/cabinet.html.twig' %}
{% block includeScripts %}
    <style>
        .linevor-block {
            padding-bottom: 15px;
            margin-bottom: 30px
        }

        .linevor-block .s1 {
            position: absolute;
            left: 5%;
            font-weight: bold;
        }

        .linevor-block .s2 {
            width: 40%;
            height: 25px;
            background: black;
            position: absolute;
            left: 20%;
        }

        .linevor-block .s2::before {
            content: " ";
            width: 30px;
            height: 25px;
            background: #000000;
            -webkit-transform: skew(30deg);
            -moz-transform: skew(30deg);
            -o-transform: skew(30deg);
            transform: skew(45deg);
            left: -15px;
            position: absolute;
        }

        .linevor-block .s3 {
            width: 40%;
            height: 25px;
            position: absolute;
            left: 60%;
            border-bottom: 2px solid black;
            text-align: left;
            padding-left: 30px;
        }

        .linevor-block:nth-child(2) .s2 {
            width: 35%;
            left: 25%;
        }

        .linevor-block:nth-child(3) .s2 {
            width: 30%;
            left: 30%;
        }

        .linevor-block:nth-child(4) .s2 {
            width: 25%;
            left: 35%;
        }

        .linevor-block:nth-child(5) .s2 {
            width: 20%;
            left: 40%;
        }

        .linevor-block:nth-child(6) .s2 {
            width: 15%;
            left: 45%;
        }

        .linevor-block:nth-child(2) .s3 {
            width: 35%;
        }

        .linevor-block:nth-child(3) .s3 {
            width: 30%;
        }

        .linevor-block:nth-child(4) .s3 {
            width: 25%;
        }

        .linevor-block:nth-child(5) .s3 {
            width: 20%;
        }

        .linevor-block:nth-child(6) .s3 {
            width: 15%;
        }

        .linevor-block:nth-child(2) .s1 {
            left: 10%;
        }

        .linevor-block:nth-child(3) .s1 {
            left: 15%;
        }

        .linevor-block:nth-child(4) .s1 {
            left: 20%;
        }

        .linevor-block:nth-child(5) .s1 {
            left: 25%;
        }

        .linevor-block:nth-child(6) .s1 {
            left: 30%;
        }
        .statistic-name{
            position: absolute;
            left: 48%;
        }
        .statistic-name-all {
            position: absolute;
            left: 44%;
        }
        @media (max-width: 767px) {
            .statistic-name{
                left: 23%;
            }
            .statistic-name-all{
                left: 20%;
            }
            .linevor-block .s3 {
                width: 35%!important;
                padding-left: 5px;
            }
        }
        a:hover{
            cursor: pointer;
            color: #ec3a39;
        }

    </style>
{% endblock %}
{% block content %}
    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="linevor-block text-center">
                    <a target="_blank" href="https://vdoctatke.pro/{{ app.user.landingName }}" class="h3 text-center"><i class="fa fa-desktop"></i>&nbsp; vdoctatke.pro/{{ app.user.landingName }}</a>
                    <p></p>
                    <a href="{{ app.user.sureoneId }}" target="_blank" class="h3 text-center"><span class="fa fa-id-card-o text-danger"></span>&nbsp; {{ app.user.sureoneId }}</a>
                </div>

                <div class="col-md-6">

                    <div class="linevor-block">
                        <br>
                        <p class="statistic-name text-xl"><b>Личная статистика</b></p>
                        <br>  <br>

                        <span class="s1">{{ personal.views }}</span>
                        <span class="s2"></span>
                        <span class="s3">Просмотры</span>
                    </div>

                    <div class="linevor-block">
                        <span class="s1">{{ personal.leftData }}</span>
                        <span class="s2"></span>
                        <span class="s3">Оставили данные</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1">{{ personal.interested }}</span>
                        <span class="s2"></span>
                        <span class="s3">Проявили интерес</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1">{{ personal.payed }}</span>
                        <span class="s2"></span>
                        <span class="s3">Оплатили</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1">{{ personal.other }}</span>
                        <span class="s2"></span>
                        <span class="s3">Прочие</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1"> {% if personal.views %}
                                {{ (personal.payed/personal.views*100)|round }}%
                            {% else %}
                                0
                            {% endif %}</span>
                        <span class="s2"></span>
                        <span class="s3">КПД</span>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="linevor-block">
                        <br>
                        <p class="statistic-name-all text-xl"><b>Статистика структуры</b></p>
                        <br> <br>
                        <span class="s1">{{ structure.views }}</span>
                        <span class="s2"></span>
                        <span class="s3">Просмотры</span>
                    </div>

                    <div class="linevor-block">
                        <span class="s1">{{ structure.leftData }}</span>
                        <span class="s2"></span>
                        <span class="s3">Оставили данные</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1">{{ structure.interested }}</span>
                        <span class="s2"></span>
                        <span class="s3">Проявили интерес</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1">{{ structure.payed }}</span>
                        <span class="s2"></span>
                        <span class="s3">Оплатили</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1">{{ structure.other }}</span>
                        <span class="s2"></span>
                        <span class="s3">Прочие</span>
                    </div>
                    <div class="linevor-block">
                        <span class="s1">{% if personal.views %}
                            {{ (structure.payed/structure.views*100)|round }}%
                            {% else %}
                                0
                            {% endif %}</span>
                        <span class="s2"></span>
                        <span class="s3">КПД</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block forJs %}
{% endblock %}