{% extends 'layouts/cabinet.html.twig' %}
{% block includeScripts %}
    <script src="/js/jquery-collapser-master/test/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('/components/jstree/style.css') }}">
    <script src="/components/dev.js"></script>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-sm-9">
            <form class="row" id="searchForm">
                <div class="input-group col-8">
                    <input id="search" type="text" class="form-control" placeholder="Поиск">
                </div>
            </form>
        </div>
        <hr>
        <div class="col-12 col-sm-9">
            <div id="tree" data-url="{{ path('cabinet-structure') }}"></div>
        </div>

        {% include 'parts/structure.info.html.twig' %}
    </div>
{% endblock %}
{% block forJs %}
    <script src="{{ asset('/components/jstree/jstree.min.js ') }}"></script>
{% endblock %}
