{% extends 'layouts/cabinet.wait.html.twig' %}
{% block style %}
    <style>
        #content{
            margin-top: 88px;
        }
      .fa-2x{
          padding: 10px;
      }
        a:hover{
            color: #eb0038!important;
        }
    </style>
    {% endblock %}
{% block content %}
    <p class="text-lg" align="center"> Поздравляем! Вы - партнёр движения VDoctatke!<br>
        Ваш личный кабинет будет доступен по адресу <a target="_blank"
                                                       href="{{ path('homepage') }}">vdoctatke.pro</a><br>
        после подтверждения вашей заявки одним из вышестоящих кураторов.<br>

        Пожалуйста, для ускорения процесса, свяжитесь с ним:
    </p>
    <div class="col-12 text-center" style="text-align: center;">
        <a target="_blank"
           href="{% if app.user.parent.vk matches '{^(http).*$}' %} {{ app.user.parent.vk }} {% else %}https://vk.com/{{ app.user.parent.vk }} {% endif %}"><i class="fa fa-vk fa-2x"></i></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone={{ app.user.parent.whatsup[1:] }}"><i class="fa fa-whatsapp fa-2x"></i></a>
        <a href="" data-target="#tg-modal" data-toggle="modal"><i class="fa fa-telegram fa-2x"></i></a>
        <a href="" data-target="#tel-modal" data-toggle="modal"><i class="fa fa-phone fa-2x"></i> </a>
    </div>
    <div class="modal fade justModal" id="tg-modal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="simpleModalLabel">Телеграм куратора</h4>
                </div>
                <div class="modal-body">
                    <p class="text-lg">Телеграм куратора: {{ app.user.parent.telegram }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade justModal" id="tel-modal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="simpleModalLabel">Телефон куратора</h4>
                </div>
                <div class="modal-body">
                    <p class="text-lg">Телефон куратора: {{ app.user.parent.tel }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block forJs %}
    <script>
        $(function () {
            var updaterRole = setInterval(function updater() {
                $.ajax({
                    url: '/cabinet/wait',
                    success: function (resp) {
                        if (resp.url) {
                            window.location.href = resp.url;
                        }
                    }
                })
            }, 5000);
        });
    </script>
{% endblock %}