<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Кабинет</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/components/navigation/nav.css">
    <link href="http://vjs.zencdn.net/6.1.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="/components/account/account.css">
    <link rel="stylesheet" href="/css/steps.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="fixed-top navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" id="sidebarButton">
        <span class="navbar-toggler-icon"></span>
        <span style="vertical-align: middle;margin-left: .5rem;">VDOCTATKE.PRO</span>
    </button>

    <span class="logo-container hidden-xs-down"><img src="/img/logoside.png" class="logo"></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../img/av.jpg" class="avatar-mini">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

<footer>

</footer>
<div class="modal fade" tabindex="-1" id="videoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="video-time"></div>
            <video id="modalVideo" class="video-js vjs-default-skin" style="width: 800px; height: 600px;"></video>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="whatsappModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">WhatsApp</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                +7(800) 555-35-35
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="numberModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Telegram</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                +7(800) 555-35-35
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModalForm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Регистрация</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                {% include 'pages/steps/components/fullRegistration.html.twig' %}
                <div class="hidden reg-error-zone alert alert-danger" role="alert">Тут какие-то ошибки</div>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary" form="formReg">Зарегестрироваться</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="http://vjs.zencdn.net/6.1.0/video.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/components/navigation/nav.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/steps.js"></script>
<script src="{{ asset('/js/bootstrap.min.js') }}"></script>
<script src="/js/password-score.js"></script>
<script src="/js/password-score-options.js"></script>
<script src="/js/bootstrap-strength-meter.js"></script>
<script src="/components/main/main.js"></script>

</body>
</html>