<!DOCTYPE html>
<html lang="en">
<head>
    <title>Material Admin - Grid system</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
          type='text/css'/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/bootstrap.css?1422792965"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/materialadmin.css?1425466319"/>
    <script src="https://use.fontawesome.com/29820ce231.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-5/material-design-iconic-font.min.css?1421434286"/>
    <!-- END STYLESHEETS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
</head>
<body class="menubar-hoverable header-fixed menubar-pin menubar-first">

<!-- BEGIN HEADER-->
<header id="header">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="/html/dashboards/dashboard.html">


                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">

                <li class="dropdown">
                    <a href="javascript:void(0);" class="nbt-t btn btn-icon-toggle btn-default" data-toggle="dropdown">
                        <i class="md md-local-post-office"></i><sup class="badge style-danger">2</sup>
                    </a>
                    <ul class="dropdown-menu animation-expand">
                        <li class="dropdown-header">Новые сообщения</li>
                        <li>
                            <a class="alert alert-callout alert-success" href="javascript:void(0);">
                                <img class="pull-right img-circle dropdown-avatar"
                                     src="/assets/img/avatar2.jpg?1404026449" alt=""/>
                                <strong>Павел Сергеев</strong><br/>
                                <small>Привет</small>
                            </a>
                        </li>
                        <li>
                            <a class="alert alert-callout alert-success" href="javascript:void(0);">
                                <img class="pull-right img-circle dropdown-avatar"
                                     src="/assets/img/avatar3.jpg?1404026799" alt=""/>
                                <strong>Евгений Катин</strong><br/>
                                <small>Как дела?</small>
                            </a>
                        </li>
                        <li class="dropdown-header">Вы можете</li>
                        <li><a href="/html/pages/login.html">Смотреть все сообщения <span class="pull-right"><i
                                            class="fa fa-arrow-right"></i></span></a></li>
                        <li><a href="/html/pages/login.html">Пометить как прочитаные<span class="pull-right"><i
                                            class="md md-drafts"></i></span></a></li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->

                <li class="dropdown">
                    <a href="javascript:void(0);" class="nbt-t btn btn-icon-toggle btn-default" data-toggle="dropdown">
                        <i class="md md-person-add"></i><sup class="badge style-danger">1</sup>
                    </a>
                    <ul class="dropdown-menu animation-expand">
                        <li class="dropdown-header">Новые заявки</li>
                        <li>
                            <a class="alert alert-callout alert-warning" href="javascript:void(0);">
                                <img class="pull-right img-circle dropdown-avatar"
                                     src="/assets/img/avatar2.jpg?1404026449" alt=""/>
                                <strong>Павел Сергеев</strong><br/>
                                <small>
                                    <button type="button" class="btn btn-xs ink-reaction btn-success">Принять</button>
                                    <button type="button" class="btn btn-xs ink-reaction btn-danger">Отклонить</button>
                                </small>
                            </a>
                        </li>

                        <li class="dropdown-header">Вы можете</li>
                        <li><a href="/html/pages/login.html">Просмотреть все заявки<span class="pull-right"><i
                                            class="fa fa-arrow-right"></i></span></a></li>
                        <li><a href="/html/pages/login.html">Принять все заявки<span class="pull-right"><i
                                            class="md md-group-add"></i></span></a></li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->


                <li class="dropdown ">
                    <a href="javascript:void(0);" class="nbt-t btn btn-icon-toggle btn-default" data-toggle="dropdown">
                        <i class="md md-live-help"></i><sup class="badge style-danger">1</sup>
                    </a>
                    <ul class="dropdown-menu animation-expand">
                        <li class="dropdown-header">Техподдержка</li>
                        <li>
                            <a class="alert alert-callout alert-warning" href="javascript:void(0);">
                                <img class="pull-right img-circle dropdown-avatar"
                                     src="/assets/img/avatar2.jpg?1404026449" alt=""/>
                                <strong>Оператор 1</strong><br/>
                                <small>Нужна помощь?</small>
                            </a>
                        </li>

                        <li class="dropdown-header">Вы можете</li>
                        <li><a href="/html/pages/login.html">Перейти в раздел техподдержки <span class="pull-right"><i
                                            class="fa fa-arrow-right"></i></span></a></li>
                        <li><a href="/html/pages/login.html">Пометить как прочитаные<span class="pull-right"><i
                                            class="md md-drafts"></i></span></a></li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->


            </ul><!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <img src="/assets/img/avatar1.jpg?1403934956" alt=""/>
                        <span class="profile-info">
									Василий Иванов
									<small>Пользователь</small>
								</span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li class="dropdown-header">Найстройки</li>
                        <li><a href="/html/pages/profile.html">Профиль</a></li>
                        <li><a href="/html/pages/blog/post.html">Панель администратора</a></li>

                        <li class="divider"></li>

                        <li><a href="/html/pages/login.html"><i class="fa fa-fw fa-power-off text-danger"></i>Выход</a>
                        </li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->
            </ul><!--end .header-nav-profile -->

        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->

<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas">
    </div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->

    <!-- BEGIN CONTENT-->
    <div id="content">
        <section class="has-actions style-default-bright">
            <div class="section-header">

            </div>
            <div class="section-body contain-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="tools pull-left">
                                    <a class="btn btn-flat hidden-xs" href="/../html/pages/contacts/search.html"><span
                                                class="glyphicon glyphicon-arrow-left"></span> &nbsp;Предыдущий шаг</a>
                                </div>

                                <div class="tools">
                                    <a class="btn btn-flat hidden-xs" href="/../html/pages/contacts/search.html"></span>
                                        &nbsp;Следующий шаг <span class="glyphicon glyphicon-arrow-right"></a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix margin-bottom-xxl"></div>
                        <div class="col-12 text-center well">
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div><!--end .section-body -->
        </section>
    </div><!--en<!--end #content-->
    <!-- END CONTENT -->

    <!-- BEGIN MENUBAR-->
    <div id="menubar" class="menubar-inverse ">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar"
                   href="javascript:void(0);">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="/html/dashboards/dashboard.html">
                    <img class="nlogo" src="/assets/img/logoside.png">

                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <div class="card fixed-set no-fix-left">
                <div class="col-sm-12">
                    <div class="clearfix">
                        <img class="img-circle border-white border-xl img-responsive auto-width"
                             src="/assets/img/avatar9.jpg?1404026744" alt="">
                        <h3>Daniel Johnson<br>
                            <small><span class="glyphicon glyphicon-phone text-sm"></span> 8 (911) 777-88-55</small>
                        </h3>

                    </div>
                    <p class="text-center red-p">Нужна поддержка? Я помогу :)</p>

                    <div class="clearfix">
                        <ul class="list">


                            <li class="tile">

                                <a class="btn btn-flat ink-reaction btn-default">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a class="btn btn-flat ink-reaction btn-default">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                                <a class="btn btn-flat ink-reaction btn-default">
                                    <i class="fa fa-telegram"></i>
                                </a>
                            </li>

                        </ul>
                    </div>


                </div>
            </div>

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">Copyright &copy; 2018</span> <strong>VDOCTATKE.PRO</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->


</div><!--end #base-->
<!-- END BASE -->


<!-- BEGIN SIMPLE MODAL MARKUP -->

<!-- END SIMPLE MODAL MARKUP -->


<!-- BEGIN JAVASCRIPT -->
<script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/libs/spin.js/spin.min.js"></script>
<script src="/assets/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/assets/js/core/source/App.js"></script>
<script src="/assets/js/core/source/AppNavigation.js"></script>
<script src="/assets/js/core/source/AppOffcanvas.js"></script>
<script src="/assets/js/core/source/AppCard.js"></script>
<script src="/assets/js/core/source/AppForm.js"></script>
<script src="/assets/js/core/source/AppNavSearch.js"></script>
<script src="/assets/js/core/source/AppVendor.js"></script>
<script src="/assets/js/core/demo/Demo.js"></script>
<!-- END JAVASCRIPT -->


</body>
</html>
