<div id="dialogList">


    {% if not partnerDialogs==null %}
    <p class="d-title">Пользователи</p>
    <ul class="people partnerListBlock">
        {% for dialog in partnerDialogs %}
            {% if dialog.getClassName=='User' %}
                <li class="person list-group-item" id="no-{{ dialog.getId }}" data-chat="person1"
                    data-uname="{{ dialog.getFirstName~' '~dialog.getLastName() }}">
                    {% if dialog.getPhotoPath==null %}
                        <img src="/img/av-zagl.png" class="message-photo">
                    {% else %}
                        <img src="/photos/{{ dialog.getPhotoPath }}" class="message-photo">
                    {% endif %}
                    <span class="name">{{ dialog.getFirstName~' '~dialog.getLastName }}</span>
                    <span class="time"></span>
                    <span class="preview">Вы еще ничего не писали</span>
                </li>
            {% else %}
                {% set length = dialog.getMessages|length - 1 %}
                <li class="person list-group-item {% if not dialog.getMessages[length].isReaded and dialog.getMessages[length].to==suser %}income-message{% endif %}"
                    data-chat="person1" id="{{ dialog.getId }}"
                    data-uname="{% if dialog.getFrom.getId == suser.getId %} {{ dialog.getTo.getFirstName~" "~ dialog.getTo.getLastName }} {% else %} {{ dialog.getFrom.getFirstName~' '~ dialog.getFrom.getLastName }} {% endif %}">
                    {% if dialog.getFrom.getId == suser.getId %}
                        {% if dialog.getTo.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getTo.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% else %}
                        {% if dialog.getFrom.getPhotoPath == null %}
                            <img src="/img/av-zagl.png" class="message-photo">
                        {% else %}
                            <img src="/photos/{{ dialog.getFrom.getPhotoPath }}" class="message-photo">
                        {% endif %}
                    {% endif %}
                    {% if dialog.getFrom.getId == suser.getId %}
                        <span class="name">{{ dialog.getTo.getFirstName~" "~ dialog.getTo.getLastName }}</span>
                    {% else %}
                        <span class="name">{{ dialog.getFrom.getFirstName~' '~ dialog.getFrom.getLastName }}</span>
                    {% endif %}
                    {% if dialog.getMessages[length].from==suser %}
                        {% if dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-two"><i class="fa fa-check"
                                                                          aria-hidden="true"></i><i
                                            class="fa fa-check checkMark" aria-hidden="true"></i></span></span>
                        {% else %}
                            <span class="time"><span class="check-one"><i class="fa fa-check"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% else %}
                        {% if not dialog.getMessages[length].isReaded %}
                            <span class="time"><span class="check-one"><i class="fa fa-circle"
                                                                          aria-hidden="true"></i></span></span>
                        {% endif %}
                    {% endif %}
                    <span class="preview">{{ dialog.getMessages[length].getFrom.getFirstName~' '~ dialog.getMessages[length].getFrom.getLastName~": "~dialog.getMessages[length].getText[0:37]~"..." }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>