{% extends 'layouts/cabinet.html.twig' %}
{% block style %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

        *, *:before, *:after {
            box-sizing: border-box;
        }
        .checkMark{
            position: relative;
            left: -9px;
        }
        .check-two{
            position: relative;
            left: 12px;
        }
        .check-one .fa-circle{
            color: #c61f1f;
        }
        .img-mes{
            position: absolute;
            right: 10px;
            border-radius: 100%;
            top: 5px;
            width: 40px;
        }
       #i-back{
            font-size: 28px;
            font-weight: bold;
            margin-right: 15px;
            float: left;
        }
        .content {
            display: flex;
        }

        body {
            background-color: #f8f8f8;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            background-image: url("https://s17.postimg.org/fr01hfe33/image.jpg");
            background-size: cover;
            background-repeat: none;
        }

        .wrapper {
            position: relative;
            width: 100%;
            float: left;
            height: 100%;
        }

        .container {
            position: relative;
            float: left;
            width: 100%;
            background-color: #fff;
        }

        .container .left {
            float: left;
            width: 40%;
            height: 84vh;
            border: 1px solid #e6e6e6;
            background-color: #fff;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .d-title {
            text-align: center;
            border-top: 1px solid #c3001c;
            padding: 10px 0 10px 0;
            margin-bottom: 0;
        }

        .container .left .top {
            position: relative;
            width: 100%;
            height: 69px;
            padding: 10px 15px 10px 15px;
        }

        .container .left .top:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 80%;
            height: 1px;
            content: '';
            background-color: #e6e6e6;
            transform: translate(-50%, 0);
        }

        .container .left input {
            float: left;
            width: 100%;
            height: 42px;
            padding: 0 25px;
            border: 1px solid #e6e6e6;
            background-color: #eceff1;
            border-radius: 10px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
        }

        .container .left input:focus {
            outline: none;
        }

        .container .left a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid #e6e6e6;
            background-color: #00b0ff;
            background-image: url("https://s11.postimg.org/dpuahewmn/name_type.png");
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }

        .container .left .people {
            margin-left: -1px;
            border-right: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            width: calc(100% + 2px);
            padding-left: 0;
            margin-bottom: 0;
        }

        .container .left .people .person {
            position: relative;
            width: 100%;
            padding: 15px 4% 10px;
            cursor: pointer;
            background-color: #fff;
            list-style: none;
            height: 69px;
        }

        .container .left .people .person:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 100%;
            height: 1px;
            content: '';
            background-color: #e6e6e6;
            transform: translate(-50%, 0);
        }

        .container .left .people .person img {
            float: left;
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 50%;
            margin-bottom: 13px;
        }

        .container .left .people .person .name {
            font-size: 14px;
            line-height: 22px;
            color: #1a1a1a;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            float: left;
            min-width: 70%;
            margin-top: -2.4rem;
        }

        .container .left .people .person .time {
            font-size: 14px;
            position: absolute;
            top: 35px;
            right: 10%;
            padding: 0 0 5px 5px;
            color: #999;
            background-color: #fff;
        }

        .container .left .people .person .preview {
            max-width: 71%;
            font-size: 14px;
            display: inline-block;
            overflow: hidden !important;
            min-width: 50%;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #999;
            float: left;
            margin-left: 3.2rem;
            margin-top: -3rem;
        }

        .container .left .people .person.active, .container .left .people .person:hover {
            border: 0;
            background-color: #c61f1f;
        }

        .container .left .people .person.active span, .container .left .people .person:hover span {
            color: #fff;
            background: transparent;
        }
        .container .left .people .person:hover .fa-circle{
            color: white;

        }
        .container .left .people .person.active:after, .container .left .people .person:hover:after {
            display: none;
        }

        .container .right {
            position: relative;
            float: left;
            width: 60%;
            height: 84vh;
        }

        .container .right .top {
            width: 100%;
            height: 49px;
            padding: 11px 29px;
            background-color: #eceff1;
            text-align: center;
        }

        .container .right .top span {
            font-size: 18px;
            color: #999;
            vertical-align: top;
            position: relative;
            z-index: 10000;
        }

        .container .right .top span .name {
            color: #1a1a1a;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
        }

        .container .right .chat {
            position: relative;
            display: none;
            overflow: hidden;
            padding: 0 0px 92px;
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: #e6e6e6;
            height: calc(100% - 48px);
            justify-content: flex-end;
            flex-direction: column;
        }

        #messages {
            overflow-y: scroll;
            padding: 0px 20px 0 20px;
            border-bottom: 1px solid #eceff1;
        }

        .container .right .chat.active-chat {
            display: block;
            display: flex;
        }

        /*.container .right .chat.active-chat .bubble {*/
            /*-moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);*/
            /*-o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);*/
            /*-webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);*/
            /*transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(1) {*/
            /*-moz-animation-duration: 0.15s;*/
            /*-webkit-animation-duration: 0.15s;*/
            /*animation-duration: 0.15s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(2) {*/
            /*-moz-animation-duration: 0.3s;*/
            /*-webkit-animation-duration: 0.3s;*/
            /*animation-duration: 0.3s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(3) {*/
            /*-moz-animation-duration: 0.45s;*/
            /*-webkit-animation-duration: 0.45s;*/
            /*animation-duration: 0.45s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(4) {*/
            /*-moz-animation-duration: 0.6s;*/
            /*-webkit-animation-duration: 0.6s;*/
            /*animation-duration: 0.6s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(5) {*/
            /*-moz-animation-duration: 0.75s;*/
            /*-webkit-animation-duration: 0.75s;*/
            /*animation-duration: 0.75s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(6) {*/
            /*-moz-animation-duration: 0.9s;*/
            /*-webkit-animation-duration: 0.9s;*/
            /*animation-duration: 0.9s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(7) {*/
            /*-moz-animation-duration: 1.05s;*/
            /*-webkit-animation-duration: 1.05s;*/
            /*animation-duration: 1.05s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(8) {*/
            /*-moz-animation-duration: 1.2s;*/
            /*-webkit-animation-duration: 1.2s;*/
            /*animation-duration: 1.2s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(9) {*/
            /*-moz-animation-duration: 1.35s;*/
            /*-webkit-animation-duration: 1.35s;*/
            /*animation-duration: 1.35s;*/
        /*}*/

        /*.container .right .chat.active-chat .bubble:nth-of-type(10) {*/
            /*-moz-animation-duration: 1.5s;*/
            /*-webkit-animation-duration: 1.5s;*/
            /*animation-duration: 1.5s;*/
        /*}*/

        .container .right .write {
            position: absolute;
            bottom: 29px;
            left: 30px;
            height: 42px;
            padding-left: 8px;
            border: 1px solid #e6e6e6;
            background-color: #eceff1;
            width: calc(100% - 58px);
            border-radius: 5px;
        }

        .container .right .write input {
            font-size: 16px;
            float: left;
            width: 93%;
            height: 40px;
            padding: 0 10px;
            color: #1a1a1a;
            border: 0;
            outline: none;
            background-color: #eceff1;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
        }

        .container .right .write .write-link.attach:before {
            display: inline-block;
            float: left;
            width: 20px;
            height: 42px;
            content: '';
            background-image: url("https://s1.postimg.org/s5gfy283f/attachemnt.png");
            background-repeat: no-repeat;
            background-position: center;
        }

        .container .right .write .write-link.smiley:before {
            display: inline-block;
            float: left;
            width: 20px;
            height: 42px;
            content: '';
            background-image: url("https://s14.postimg.org/q2ug83h7h/smiley.png");
            background-repeat: no-repeat;
            background-position: center;
        }

        .container .right .write .write-link.send:before {
            display: inline-block;
            float: left;
            width: 20px;
            height: 42px;
            margin-left: 11px;
            content: '';
            background-image: url("/img/send2.png");
            background-repeat: no-repeat;
            background-position: center;
        }

        .container .right .bubble {
            font-size: 16px;
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px;
            padding: 13px 14px;
            vertical-align: top;
            border-radius: 5px;
        }

        .container .right .bubble:before {
            position: absolute;
            top: 19px;
            display: block;
            width: 8px;
            height: 6px;
            content: '\00a0';
            transform: rotate(29deg) skew(-35deg);
        }

        .container .right .bubble.you {
            float: left;
            color: #1a1a28;
            background-color: #dadbdf;
            align-self: flex-start;
            -moz-animation-name: slideFromLeft;
            -webkit-animation-name: slideFromLeft;
            animation-name: slideFromLeft;
        }

        .container .right .bubble.you:before {
            left: -3px;
            background-color:#dadbdf;
        }

        .container .right .bubble.me {
            float: right;
            color: #1a1a1a;
            background-color: #eceff1;
            align-self: flex-end;
            -moz-animation-name: slideFromRight;
            -webkit-animation-name: slideFromRight;
            animation-name: slideFromRight;
        }

        .container .right .bubble.me:before {
            right: -3px;
            background-color: #eceff1;
        }

        .container .right .conversation-start {
            position: relative;
            width: 100%;
            margin-bottom: 27px;
            text-align: center;
        }

        .container .right .conversation-start span {
            font-size: 14px;
            display: inline-block;
            color: #999;
        }

        .container .right .conversation-start span:before, .container .right .conversation-start span:after {
            position: absolute;
            top: 10px;
            display: inline-block;
            width: 30%;
            height: 1px;
            content: '';
            background-color: #e6e6e6;
        }

        .container .right .conversation-start span:before {
            left: 0;
        }

        .container .right .conversation-start span:after {
            right: 0;
        }

        @keyframes slideFromLeft {
            0% {
                margin-left: -200px;
                opacity: 0;
            }
            100% {
                margin-left: 0;
                opacity: 1;
            }
        }

        @-webkit-keyframes slideFromLeft {
            0% {
                margin-left: -200px;
                opacity: 0;
            }
            100% {
                margin-left: 0;
                opacity: 1;
            }
        }

        @keyframes slideFromRight {
            0% {
                margin-right: -200px;
                opacity: 0;
            }
            100% {
                margin-right: 0;
                opacity: 1;
            }
        }

        @-webkit-keyframes slideFromRight {
            0% {
                margin-right: -200px;
                opacity: 0;
            }
            100% {
                margin-right: 0;
                opacity: 1;
            }
        }


        @media  screen and (max-width: 768px){

            .preview{
                width: 62vw;
            }
            .content {
                display: flex;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
            }
            .container {padding: 0}

        {% if 'Safari' in app.request.headers.get('User-Agent') %}
            .container .right .chat{
                height: calc(100vh - 210px)!important;

            }
        {% endif%}

        .container .right .chat{
            height: calc(100vh - 150px);
            padding: 0;
        }
        .container .left {width: 100%}
        container .left .top {
            position: relative;
            width: 100%;
            height: 69px;
            padding: 10px 15px 10px 15px;
        }
        .container .right {width: 100%;display: none;}
        .container .right .top {padding-left: 10px;}
        .container .right .write {width: calc(100% - 30px);
            left: 0;
            padding: 0px 0px;
            margin: 0px 15px;}
        .container .right .write input {width: 85%;}
        .pad-zero {padding-top: 0;overflow:hidden}
        .dial-k {height: -webkit-fill-available!important;height: -moz-available!important;}
        }

        .pad-zero .container .right .chat {

        }
        #back-dial{
            position: relative;
            z-index: 0;
        }
    </style>
{% endblock %}
{% block content %}

    {% include ':pages/messagesForAdminFromSupport:dialogList.html.twig' %}
{% endblock %}
{% block forJs %}
    <script>
        var stopped=false;
        var id=null;
        var functionShow;
        var dialogsRefresh;
        var activeDialog;
        var scrl;
        var scrlD;
        var flag=false;
        dialogsRefresh = setInterval(function() {
           refreshDialogs();
        }, 5000);
        $("body").on("click", ".left .person", function () {
            if ($(this).hasClass('active')&&!flag) {
                return false;
            } else {
                scrl=null;
                clearInterval(functionShow);
                id=$(this).attr('id');
                if(id.substring(0,1)!='n') {
                    showMsg(id);
                    functionShow = setInterval(function() {
                        showMsg(id);
                    }, 5000);
                }
                else {
                    $('#messages').attr('parent',id);

                }

                var findChat = $(this).attr('data-chat');
                var personName = $(this).find('.name').text();
                var image=$(this).find('img').attr('src');
                $('.right .top .name').html(personName);
                $('.right .top .img-mes').attr('src',image);
                $('.chat').removeClass('active-chat');
                $('.left .person').removeClass('active');
                $(this).addClass('active');
                $('.chat[data-chat = ' + findChat + ']').addClass('active-chat');
                flag=true;
            }
        });
        function refreshDialogs() {
            $.ajax({
                type: 'POST',
                url: '/cabinet/supmessages',
                success: function (data) {
                    if (scrlD != null) {
                        scrlD = $('#dialogList').scrollTop();
                    }
                    else {
                        scrlD = 10000;
                    }
                    $('#dialogList').replaceWith(data);
                    $('#'+id).addClass('active');
                    $('#dialogList').scrollTop(scrlD);

                }
            });
        }

        function searchPeople(self) {
            var input = $(self).val();
            if (input.length>0){
                clearInterval(dialogsRefresh);
                stopped=true;
            }
            else {
                if (stopped){
                    refreshDialogs();
                    dialogsRefresh = setInterval(function() {
                        refreshDialogs();
                    }, 5000);
                    stopped=false;
                }
            }
            var block = $('.partnerListBlock');
            block.find('li').each(function (e, a) {
                var man = $(a).data('uname').toLowerCase();
                if (man.indexOf(input.toLowerCase()) !== -1) {
                    $(a).show();
                } else {
                    $(a).hide();
                }
            })
        }
        function showMsg(id) {
            $.ajax({
                type: 'POST',
                url: '/cabinet/supmessages/show',
            data: 'id=' + id,
                success: function (data) {
                    if (scrl != null) {
                        scrl = $('#messages').scrollTop();
                    }
                    else {
                        scrl = 10000;
                    }
                    $('#messages').replaceWith(data);
                    $('#messages').scrollTop(scrl);
                }
            });
        }

        function onEnterSend(e) {
            if(e && e.keyCode == 13) {
                submitForm();
            }
        }
        function submitForm() {
            //отправка сообщений

            text = $('#text').val();
            if ($.trim(text) != '' && id != null) {
                console.log(id);
                $.ajax({
                    type: 'POST',
                    url: '/cabinet/supmessages/create',
                    data: 'id=' + id + '&text=' + text,
                    success: function (data) {
                        text = '';
                        $('#messages').replaceWith(data);
                        $('#text').val('');
                        $('#messages').scrollTop(99999);
                        id = $('#messages').attr('parent');

                    }
                });
            }
            else {
                $('#text').val('');
            }
        }
    </script>
    <script>
        var cl;
        $(document).ready(function () {

            if (window.innerWidth < 767) {

                function cl() {
                    clearInterval(functionShow);
                    flag = true;
                    $('#dialog-box').hide("slow", function () {
                        $('#dialog-box').attr('hidden', 'hidden');
                        $('.content').removeClass('pad-zero');
                        $('#dialog-box').removeClass('dial-k');
                    });
                    $('nav').show("slow", function () {
                        $('nav').removeAttr('hidden');
                        $('.content').removeClass('pad-zero')
                    });
                    $('.dialog-form-row').hide("slow", function () {
                    });
                    $('#dialogs-list').show("slow", function () {
                    });

                }
                $("body").on("click", ".left .person", function () {
                    $('#srch').val('');
                    clearInterval(dialogsRefresh);
                    $('#dialogs-list').hide("slow", function () {
                        $('.dialogs-list').attr('hidden', 'hidden');
                    });
                    $('nav').hide("slow", function () {
                        $('nav').attr('hidden', 'hidden');
                        $('.content').addClass('pad-zero')
                    });

                    $('#dialog-box').show("slow", function () {
                        $('#dialog-box').addClass('dial-k');
                        $('#dialog-box').removeAttr('hidden');
                    });
                    $('#back-dial').show("slow", function () {
                    });
                });
                $("body").on("click", ".i-back", function () {
             cl();
                    refreshDialogs();
                    dialogsRefresh = setInterval(function () {
                        refreshDialogs();
                    }, 5000);
                })
            }
        });
    </script>
{% endblock %}

