<div id="messages" {% if dialog is defined and dialog is not null %} parent="{{ dialog.getId }}" {% endif %}>
    {% if dialog is defined and not dialog==null %}
        {% for message in dialog.messages %}
            {% if message.from.id==suser.id %}
                <div class="bubble me">
                    {% autoescape %}{{ message.text }}{% endautoescape %}
                    <br>
                    <em style="font-size: small;">{{ message.dateToString }}</em>
                </div>
            {% else %}
                <div class="bubble you">
                    {% autoescape %}{{ message.text }}{% endautoescape %}
                    <br>
                    <em style="font-size: small;">{{ message.dateToString }}</em>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>