<div id="dialog-box" class="right">
    <div id="back-dial" onclick="cl;" class="top i-back"><p><span><a><i class="fa fa-angle-left" id="i-back"
                                             aria-hidden="true"></i></a> <span class="name"></span></span><img
                class="img-mes"
                src=""
                alt></p></div>
    <div class="chat active-chat" data-chat="person1">
        <div id="messages">

        </div>
    </div>
    <div class="write">

        <input id="text" onkeypress="onEnterSend(event); return;" type="text"/>

        <a href="javascript:submitForm();" onclick="submitForm(); return false;" class="write-link send" ></a>
    </div>
</div>