{% extends ':layouts:cabinet.html.twig' %}
{% block style %}

{% endblock %}
{% block content %}

    <section class="has-actions style-default-bright">
        <div class="section-header">

        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body style-default-bright">

                                    {{ form_start(form, {'attr': {"class":"form",'id':'archive_form'}}) }}
                                        <div class="form-group has-error floating-label">

                                            {{ form_widget(form.name, { 'attr': {'class': "form-control"} }) }}
                                            <label for="name-n">Название файла</label>
                                        </div>

                                        <div class="form-group has-error floating-label">
                                            <label>Содержимое файла</label> <br>
                                            {#<textarea name="textarea2" id="textarea2" class="form-control" rows="3" placeholder=""></textarea>#}
                                            {{ form_widget(form.text,{ 'attr': {'class': "form-control",'placeholder': "",
                                                'rows': "15"
                                            } }) }}

                                        </div>

                                    {{ form_end(form) }}
                                    <div class="form-group has-error floating-label">
                                        <button type="submit" form="archive_form" class="btn btn-danger ">Создать</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
{% endblock %}
{% block forJs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#create_archive_file_text',
            fontsize_formats: '15pt 16pt 18pt 20pt 24pt 36pt',
            forced_root_block : "",
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
                editor.on('init', function()
                {
                    this.getDoc().body.style.fontSize = '15pt';
                    this.getDoc().body.style.fontFamily = 'Myriad Pro';
                });
            },
            language: 'ru',
            language_url: '/js/langs/ru.js',

            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | sizeselect |  fontsizeselect",
            imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            content_css: [
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
{% endblock %}