    <script>
        if(t==1) {
            window.location.replace("/cabinet/client");
        }
    </script>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>VDoctatke - Смена пароля</title>

        <!-- BEGIN META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="your,keywords">
        <meta name="description" content="Short explanation about this website">
        <!-- END META -->

        <!-- BEGIN STYLESHEETS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
              type='text/css'/>
        <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap.css?1422792965"/>
        <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/materialadmin.css?1425466319"/>
        <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/font-awesome.min.css?1422529194"/>
        <link type="text/css" rel="stylesheet"
              href="/assets/css/theme-default/material-design-iconic-font.min.css?1421434286"/>
        <!-- END STYLESHEETS -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="/assets/js/libs/utils/html5shiv.js?1403934957"></script>
        <script type="text/javascript" src="/assets/js/libs/utils/respond.min.js?1403934956"></script>
        <![endif]-->
        <style type="text/css">
            .checkbox-styled:not(ie8) input:checked ~ span:before {
                border-color: #c90032;
            }

            body {
                background: url(/assets/landing/i/back-t.jpg);
            }

            .card {
                background-color: #ffffffe6;
            }
            .reg-error-zone ul{
                list-style-type: none;
            }

            .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
                border-bottom: 2px solid #c90032;
            }

            .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                color: #c90032;
            }

            .nav-tabs > li > a {
                font-size: 17px
            }

            .nav > li > a:hover, .nav > li > a:focus {
                background: none;
                color: #c90032;
            }

            .form-group .form-control ~ label:after, .form-group .form-control ~ .form-control-line:after {
                background-color: #c90032;
            }

            .form-group .form-control:focus ~ label {
                color: #c90032;
            }

            .top-modal-b {
                color: #ffffff !important;
                font-weight: bold;
                background: #c90032 !important;
            }
        </style>
    </head>
    <body class="menubar-hoverable header-fixed ">

    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url('/assets/img/img16.jpg')"></div>
        <div class="spacer"></div>

        <div class="card contain-sm style-transparent">
            <div class="card">
                <div class="card-head">
                    <ul class="nav nav-tabs nav-justified" data-toggle="tabs">
                        <li class="active"><a href="#first4">Сайт временно на модерации</a></li>
                    </ul>
                </div><!--end .card-head -->
                <div class="card-body tab-content">

                    <div class="tab-pane active" id="first4">

                        <div class="form-group text-center">
                            <a href="/">Вернуться на главную</a>
                        </div>
                    </div>


                </div><!--end .card-body -->
            </div>
        </div>
    </section>


    <!-- BEGIN JAVASCRIPT -->
    <script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/libs/spin.js/spin.min.js"></script>
    <script src="/assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="/assets/js/core/source/App.js"></script>
    <script src="/assets/js/core/source/AppNavigation.js"></script>
    <script src="/assets/js/core/source/AppOffcanvas.js"></script>
    <script src="/assets/js/core/source/AppCard.js"></script>
    <script src="/assets/js/core/source/AppForm.js"></script>
    <script src="/assets/js/core/source/AppNavSearch.js"></script>
    <script src="/assets/js/core/source/AppVendor.js"></script>
    <script src="/assets/js/core/demo/Demo.js"></script>
    <!-- END JAVASCRIPT -->

    </body>
    </html>
