<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>VDOCTATKE.PRO</title>
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="/plugins/intl-tel-input/css/intlTelInput.css">
    <link rel="stylesheet" href="{{ asset('/components/main/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style>
        li {
            list-style-type: none;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
        }

        .input-group {
            margin-top: 10px;

        }

        .form-control {
            font-size: 2rem;
        }

        .podpis {
            position: absolute;
            font-size: 16px;
            padding: 2px 5px;
        }

        @media screen and (max-width: 768px) {
            .podpis {
                font-size: 16px;
            }

            /*.modal-content > .modal-body > form > .col-xs-12 > input {*/
            /*margin-top: 1.3rem;*/
            /*}*/
        }
    </style>
</head>
<body>
<div class="container">
    <header class="row">
        <div class="col-xs-12">
            <img class="logo" src="/img/logo.png">
        </div>
    </header>
    <div class="main row">
        <div class="col-xs-12 text-center">
            <h1>Добро пожаловать на бизнес - платформу VDOCTATKE.PRO - закрытый командный ресурс партнеров движения
                VDOCTATKE</h1>
            <div class="btn-groups">
                <button class="btn btn-default open-login-form" data-toggle="modal" data-target="#loginModalForm">Вход
                </button>
                {#<button class="btn btn-default btn-primary" data-toggle="modal" data-target="#registerModalForm">#}
                    {#Регистрация#}
                {#</button>#}
            </div>
            <p>Доступ в закрытую часть сайта вы можете получить только через одного из партнеров движения</p>
        </div>
    </div>
    <footer>
    </footer>
</div>
<!--Modal forms-->
<div class="modal fade" id="loginModalForm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Авторизация</h4>
                {% if inValidLoginForm is defined and inValidLoginForm is not null %}
                    <div class="loginFormError" style="display: none;"></div>
                {% endif %}
            </div>
            <div class="modal-body">
                {% include 'pages/login.html.twig' %}
            </div>
            <div class="modal-footer text-center">
                <button type="submit" form="loginForm" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</div>
{#<div class="modal fade" id="registerModalForm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"#}
     {#aria-hidden="true">#}
    {#<div class="modal-dialog modal-lg">#}
        {#<div class="modal-content">#}
            {#<div class="modal-header">#}
                {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
                {#<h4 class="modal-title">Регистрация</h4>#}
                {#{% if inValidRegForm is defined and inValidRegForm is not null %}#}
                    {#<div class="regFormError" style="display: none;"></div>#}
                {#{% endif %}#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#{% include 'pages/register.html.twig' %}#}
            {#</div>#}
            {#<div class="modal-footer text-center">#}
                {#<button type="submit" form="formReg" class="btn btn-primary">Зарегистрироваться</button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}


</body>
<script src="{{ asset('/js/jquery.js') }}"></script>
<script src="{{ asset('/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('/plugins/intl-tel-input/js/intlTelInput.min.js') }}"></script>
<script src="{{ asset('/components/main/main.js') }}"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/password-score.js"></script>
<script src="/js/password-score-options.js"></script>
<script src="/js/bootstrap-strength-meter.js"></script>
<script>
    v = $('#registration_tel').val();
    if (v == '') {
        $('#registration_tel').val('+7');
    }
    v = $('#registration_telegram').val();
    if (v == '') {
        $('#registration_telegram').val('+7');
    }
    v = $('#registration_whatsup').val();
    if (v == '') {
        $('#registration_whatsup').val('+7');
    }
    $('#registration_tel').keyup(function () {
        var value = $(this).val();
        if (value.length < 1 || value.charAt(0) != '+') {
            $(this).val('+' + value);
        }
    });
    $('#registration_telegram').keyup(function () {
        var value = $(this).val();
        if (value.length < 1 || value.charAt(0) != '+') {
            $(this).val('+' + value);
        }
    });
    $('#registration_whatsup').keyup(function () {
        var value = $(this).val();
        if (value.length < 1 || value.charAt(0) != '+') {
            $(this).val('+' + value);
        }
    });


</script>
</html>