<form action="{{ path('login') }}" method="post" id="loginForm" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-bottom: 0rem!important;">
        <div class="row">

            <div class="input-group col-xs-12">
                <div style="border: none" class="form-control">
                    <label>Email:</label>
                    <input class="form-control login-email-field" type="email" name="_username"
                           placeholder="example@example.com">
                </div>
                <div style="border: none" class="form-control">
                    <label>Пароль:</label>
                    <input type="password" class="form-control" name="_password" placeholder="********">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
        {% if inValidLoginForm is defined %}
            {% if not inValidLoginForm==null %}
                <div class="reg-error-zone alert alert-danger" role="alert">
                    Неверно введен email или пароль
                </div>
            {% endif %}
        {% endif %}
        <button type="submit" class="btn" style="background-color: white">Вход</button>
    </div>
    <div style="text-align: center;">
        <a href="/reset/password">Забыли пароль?</a>
    </div>
</form>

