{{ form_start(partRegForm,{ 'attr': {'id':'partRegForm','class':'modal-content' } }) }}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Узнайте больше</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding-bottom: 0rem!important;">
    <div class="row">

        <div class="form-group col-12">
            <label>Имя</label>
            {{ form_widget(partRegForm.first_name,{ 'attr': {'placeholder':'Имя','class':'form-control'} }) }}
        </div>
        <div class="form-group col-12">
            <label>Email</label>
            {{ form_widget(partRegForm.email,{ 'attr': {'placeholder':'Email','class':'form-control email-field'} }) }}
        </div>
        <div class="form-group col-12">
            <label>Пароль</label>
            {{ form_widget(partRegForm.password,{ 'attr': {'placeholder':'Пароль','class':'form-control password-checker'} }) }}
            <div class="progress-container" hidden="hidden"></div>
            <div class="progress-result danger" id="res">

            </div>
        </div>
        <div class="col-12">
            <div class="alert hidden error-zone">
            </div>

            {% if not partRegForm.vars.valid %}
                <div class="reg-error-zone alert alert-danger" role="alert">
                    {{ form_errors(partRegForm.first_name) }}
                    {{ form_errors(partRegForm.email) }}
                    {{ form_errors(partRegForm.password) }}
                </div>
            {%   endif %}
        </div>


    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn" style="background-color: white">Узнать</button>
</div>
{{ form_end(partRegForm) }}