
{{ form_start(registerForm,{ 'attr': {'method':'POST' ,'id':'formReg','action':'/auth/register' ,'class':'row'} }) }}
<div class="col-xs-12 col-sm-6">

    {{ form_widget(registerForm.first_name,{ 'attr': {'placeholder':'Имя','class':'reg-firstname-field form-control'} }) }}
</div>

<div class="col-xs-12 col-sm-6">

    {{ form_widget(registerForm.last_name,{ 'attr': {'placeholder':'Фамилия','class':'form-control reg-lastname-field'} }) }}
</div>

<div class="col-xs-12 col-md-6">

    {{ form_widget(registerForm.tel,{ 'attr': {'placeholder':'Телефон','class':'form-control phone-mask'} }) }}
    <p class="podpis">Номер телефона</p>
</div>

<div class="col-xs-12 col-md-6 email-form-group">

    {{ form_widget(registerForm.email,{ 'attr': {'placeholder':'Email','class':'form-control reg-email-field'} }) }}
</div>

<div class="col-xs-12 col-sm-6 col-md-4">

    {{ form_widget(registerForm.whatsup,{ 'attr': {'placeholder':'WhatsApp','class':'form-control phone-mask'} }) }}
    <p class="podpis">WhatsApp</p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">

    {{ form_widget(registerForm.telegram,{ 'attr': {'placeholder':'Телеграм','class':'form-control phone-mask'} }) }}
    <p class="podpis">Telegram</p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">

    {{ form_widget(registerForm.vk,{ 'attr': {'placeholder':'vk','class':'form-control', 'value': 'http://vk.com/'} }) }}
</div>

<div class="col-xs-12 col-md-6 countries-form-group">
    {{ form_widget(registerForm.country,{ 'attr': {'placeholder':'Страна','class':'form-control'} }) }}
</div>
<div class="col-xs-12 col-md-6 cities-form-group">
    {{ form_widget(registerForm.city,{ 'attr': {'placeholder':'Город','class':'form-control'} }) }}
</div>


<div class="col-xs-12 col-sm-6">
    {{ form_widget(registerForm.sureone_id,{ 'attr': {'placeholder':'Ваша реферальная ссылка TIKI*','class':'form-control'} }) }}
    <p class="podpis">*находится в кабинете на сайте tiki.business (пример:&nbsp;https://tiki.business/id0001)</p>
    <br>

</div>

<div class="col-xs-12 col-sm-6">

    {{ form_widget(registerForm.parent,{ 'attr': {'placeholder':'Идентификатор пригласителя VDoctatke','class':'form-control'} }) }}
    <p class="podpis">Идентификатор уточняйте у вашего куратора</p>
    <br>


</div>

<div class="col-xs-12 col-sm-6">
    {{ form_widget(registerForm.password.first,{ 'attr': {'placeholder':'Пароль','class':'form-control password-field password-checker'} }) }}
    <div class="progress-container" hidden="hidden">

    </div>
    <div class="progress-result danger">

    </div>
</div>

<div class="col-xs-12 col-sm-6">
    {{ form_widget(registerForm.password.second,{ 'attr': {'placeholder':'Повторите пароль','class':'form-control'} }) }}
</div>



{{ form_end(registerForm) }}
{% if not registerForm.vars.valid %}
<div class="reg-error-zone alert alert-danger" role="alert">
{{ form_errors(registerForm.first_name) }}
{{ form_errors(registerForm.last_name) }}
{{ form_errors(registerForm.tel) }}
{{ form_errors(registerForm.email) }}
{{ form_errors(registerForm.whatsup) }}
{{ form_errors(registerForm.telegram) }}
{{ form_errors(registerForm.vk) }}
{{ form_errors(registerForm.country) }}
{{ form_errors(registerForm.city) }}
{{ form_errors(registerForm.sureone_id) }}
{{ form_errors(registerForm.parent) }}
{{ form_errors(registerForm.password.first) }}
{{ form_errors(registerForm.password.second) }}
</div>
{%   endif %}