
{% extends 'layouts/cabinet.html.twig' %}

{% block content %}
    <div class="row margin-top">
        <div class="col">
            <h4>Интернет-магазин</h4>
            <hr>
        </div>
    </div>
    {% if statusResponse is defined%}
        <div class="row">
            <div class="col-md-12">
                <div class="alert-success">Вам на почту отправлено письмо</div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="/img/SMM-manager.jpg">
                <div class="card-block">
                    <h4 class="card-title">ВЗРЫВНОЙ РОСТ #ВСЕТЯХ!</h4>
                    <p class="card-text">Инвестируйте в навыки, которые откроют для вас двери в лучшую жизнь!</p>
                    <a style="position: relative;float: right;" href="{{ path('send_requisites') }}" class="btn btn-primary">Купить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}