@import "../../fonts/MyraidPro/myraidpro.css";
body {
    background-image: url('../../img/bgblur.jpg');
    background-size: cover;
    background-position: center;
    -webkit-background-size:cover;
    font-family:'Myriad Pro';
    font-style: oblique;
    font-size: 2rem;
    height: 100%;
    font-weight: 300;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 33.3333vw;
    background-image: url('../../img/bgFront.jpg');
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center;
    min-height: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.logo {
    margin: auto;
    display: block;
    width:100%;
}
h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

/*UI*/
.phone-mask {
    font-size: 2rem;
}
.iti-flag {background-image: url("../../plugins/intl-tel-input/img/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {background-image: url("../../plugins/intl-tel-input/img/flags@2x.png");}
}
.btn-groups {
    margin: 3rem 0;
}
.btn {
    transition: .3s;
    padding: 1rem 2em;
    margin: .5rem 1.5rem;
    width: auto;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
    outline: none;
    -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.25);
}
.danger {
    color: #c9302c;
}
.warning {
    color: #ec971f;
}
.success {
    color: #449d44;
}
/* GRADIENT
.btn-default {
    border: 1px solid #151515;
    background: rgba(21,21,21,1);
    background: -moz-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(21,21,21,1)), color-stop(50%, rgba(21,21,21,1)), color-stop(71%, rgba(61,60,61,1)), color-stop(100%, rgba(161,161,161,1)));
    background: -webkit-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: -o-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#a1a1a1', GradientType=1 );
    border-radius: 0;
}
.btn-primary {
    border: 1px solid #850208;
    background: rgba(255,148,155,1);
    background: -moz-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,148,155,1)), color-stop(48%, rgba(133,2,8,1)), color-stop(74%, rgba(133,2,8,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: -o-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: -ms-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: linear-gradient(135deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff949b', endColorstr='#850208', GradientType=1 );
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    -webkit-box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    border-color: #151515;
    border-radius: 0;
    color: #fff;
    background-position: inherit;
    background: rgba(21,21,21,1);
    background: -moz-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(21,21,21,1)), color-stop(50%, rgba(21,21,21,1)), color-stop(71%, rgba(61,60,61,1)), color-stop(100%, rgba(161,161,161,1)));
    background: -webkit-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: -o-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    background: linear-gradient(45deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 50%, rgba(61,60,61,1) 71%, rgba(161,161,161,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#a1a1a1', GradientType=1 );
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border-color: #850208;
    background: rgba(255,148,155,1);
    background: -moz-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,148,155,1)), color-stop(48%, rgba(133,2,8,1)), color-stop(74%, rgba(133,2,8,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: -o-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: -ms-linear-gradient(-45deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    background: linear-gradient(135deg, rgba(255,148,155,1) 0%, rgba(133,2,8,1) 48%, rgba(133,2,8,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff949b', endColorstr='#850208', GradientType=1 );
    outline: none;
}
*/
.btn-default {
    border: 1px solid #383838;
    background: rgba(41,41,41,1);
    background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,41,41,1)), color-stop(32%, rgba(41,41,41,1)), color-stop(100%, rgba(74,74,74,1)));
    background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -o-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#4a4a4a', GradientType=0 );
}
.btn-primary {
    border: 1px solid #8d0a0f;
    background: rgba(173,19,19,1);
    background: -moz-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,19,19,1)), color-stop(32%, rgba(173,19,19,1)), color-stop(100%, rgba(202,33,33,1)));
    background: -webkit-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -o-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: linear-gradient(to bottom, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1313', endColorstr='#ca2121', GradientType=0 );
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    -webkit-box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    border: 1px solid #383838;
    background-color: transparent;
    background-position: 0;

}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border: 1px solid #8d0a0f;
}
input.form-control:focus {

    border-color: rgba(195, 0, 28, 0);

    border-bottom-color: #c3001c;

    box-shadow: none;
}
select.form-control {
    border: none;
    width: 100%;
    border-bottom: 2px solid #c3001c;
    border-radius: 0;
    font-size: 2rem;
}
select.form-control:focus {
    border-color: #c3001c;
    box-shadow: none;
}
.main p {
    color: #fff;
}

/*MODAL*/
.modal-header {
    background-color: #000;
    border-bottom: 6px solid #c3001c;
    color: #fff;
}
.modal-header > button {
    color: #fff;
    opacity: .5;
    transition: .3s;
}
.modal-header > button:hover {
    opacity: .75;
    margin-top: -2px;
    color: #fff;
}
.modal-content > .modal-body > form {
    padding: 15px;
}
.modal-content > .modal-body > form label {
    font-weight: 300;
    margin-bottom: 1rem;
}
.modal-content > .modal-body > form > .col-xs-12 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.modal-content > .modal-body > form > .col-xs-12 > input {
    border: none;
    width: 100%;
    border-bottom: 2px solid #c3001c;
    border-radius: 0;
    font-size: 2rem;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.modal-footer {
    text-align: center;
}
.password-checker + .progress-container {
    margin: 1rem 0;
}
.password-checker + .progress-container > .progress {
    height: 3px;
    border-radius: 0;
}
@media all and (max-width: 768px) {
    .container {
        width: 100vw;
    }
    .row {
        padding: 0;
    }
    .btn {
        font-size: 2rem;
        margin: 1rem 1rem;
        width: 200px;
    }
}
@media all and (max-width: 768px) {
    .modal-body {
        padding:0 20px;
    }
    form {
        padding: 0 15px;
    }
    .modal-footer {
        padding:0;
    }
}

