<h3>Здравствуйте, {{ uname }}!</h3>
<p>Вы хотите приобрести курсы "Взрывной рост #ВСетях" от проекта VDOCTATKE.PRO</p>
<p>Стоимость курса: 4000р</p>
<p>Реквизиты для оплаты курса:</p>
<p>Сбербанк: СБЕРБАНК ТАТАРСТАН 4276 6200 2987 4652  Иван Валентинович А.</p>
<p>Киви: 89166408855</p>
<p>Webmoney</p>
<p>После оплаты курса Вам на почту придёт доступ к курсам!</p>