<h3>Вы запросили смену пароля, {{ uname }}.</h3>
<p>Для изменения пароля перейдите по ссылке <a target="_blank" href="{{ lnk }}">изменения пароля</a>.</p>
<p>Если вы не запрашивали изменение пароля, то просто удалите это письмо.</p>
