html {
    overflow-x: hidden;
}
body {
    background-image: url('../../img/ppap.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    font-family:'Myriad Pro';
    font-style: normal;
    overflow-x: hidden;
    font-size: 1.1rem;
    padding-right: 0 !important;
    font-weight: 400;
    height: 100%;
}
aside .message {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    background: rgba(195, 0, 28, 0.75);
    font-weight: 300;
}
.social a:focus, a:hover {
    outline: none !important;
}
aside::-webkit-scrollbar {
    display: none;
}
.no-margin {
    margin: 0;
}
.margin-top {
    margin-top: 2rem;
}
.hidden {
    display: none;
}
.password-checker + .progress-container {
    margin: 1rem 0;
}
.password-checker + .progress-container > .progress {
    height: 3px;
    border-radius: 0;
}
.progress-bar {
    background-color: #ad1313;
}
.progress {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    border: 1px solid #d4d4d4;
}
.icon-small {
    width: 14px;
    margin: 0 .25rem .125rem;
}
.card-img-top {
    width: 100%;
}
.card {
    margin: 1rem 0;
}
.content {
    background: #fff;
    padding: 3rem 15px;
    margin-left:315px;
    margin-right: 15px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    margin-top: 66px;
    min-height: 85vh;
}
.content h1 {
    font-size: 1.5rem;
    margin:3rem 0 4rem;
}
.content .url-input {
    width: 350px;
}
.centerilize-col {
    width: 400px;
    margin: 1.5rem auto;
}
.centerilize-col > p {
    margin-bottom: .5rem;
}
.content form h4 {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin-top: 1.5rem;
    font-weight: 300;
}
.content form .form-group {
    margin: 1rem 0;
}
.content form .row-border {
    border: 2px solid #c3001c;
}
.content form .form-control:focus {
    border-color: #c3001c;
}
.content form .col-border {
    border-right: 2px solid #c3001c;
}
.content form .row {
    margin: 0 15px;
    border-right: 2px solid #c3001c;
    border-left: 2px solid #c3001c;
}
.content form .row-border-bottom {
    padding: 1rem 0;
    border-right: 2px solid #c3001c;
    border-left: 2px solid #c3001c;
    border-bottom: 2px solid #c3001c;
}
.content form .row-title p {
    margin-top: 1rem;
}
.input-group-addon {
    border-color: #292929;
    background: transparent;
}
.input-group > input[type="text"] {
    border-color: #292929;
    background: transparent;
}
.btn {
    transition: .3s;
    padding: .5rem 2em;
    width: auto;
    font-weight: 300;
    color: #fff;
    outline: none;
    -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.25);
}
.btn-default {
    border: 1px solid #383838;
    background: rgba(41,41,41,1);
    background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,41,41,1)), color-stop(32%, rgba(41,41,41,1)), color-stop(100%, rgba(74,74,74,1)));
    background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -o-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#4a4a4a', GradientType=0 );
}
.btn-primary {
    border: 1px solid #8d0a0f;
    background: rgba(173,19,19,1);
    background: -moz-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,19,19,1)), color-stop(32%, rgba(173,19,19,1)), color-stop(100%, rgba(202,33,33,1)));
    background: -webkit-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -o-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: linear-gradient(to bottom, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1313', endColorstr='#ca2121', GradientType=0 );
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
    -webkit-box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 33px 0px rgba(0,0,0,0.75);
    border: 1px solid #383838;
    background: rgba(41,41,41,1);
    background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,41,41,1)), color-stop(32%, rgba(41,41,41,1)), color-stop(100%, rgba(74,74,74,1)));
    background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -o-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
    background-position: 0;
    color: #fff;

}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border: 1px solid #8d0a0f;
    background: -moz-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,19,19,1)), color-stop(32%, rgba(173,19,19,1)), color-stop(100%, rgba(202,33,33,1)));
    background: -webkit-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -o-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
    background: linear-gradient(to bottom, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
}

.aside-menu > .btn {
    border-color: #ad1313;
    width: 85%;
    box-shadow: none;
    line-height: .75rem;
    border-radius: 0;
}

.aside-menu > .btn:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.aside-menu > .btn:last-child {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.round-stats {
    background: #000;
    width: 200px;
    color: #fff;
    position: relative;
    border-radius: 100%;
    height: 200px;
    transform: scale(.75);
    margin: 0 auto;
}
.round-stats > span {
    font-size: 4.5rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 3rem;
}
.statistic h1 {
    margin:1rem 0;
}
.statistic p {
    margin: auto;
}
.statistic p {
    border-bottom: 1px solid #c3001c;
    position: relative;
    text-align: center;
    padding: .5rem 0;
}
.statistic p img {
    position: absolute;
    width: 24px;
    right: calc(100% - 28px);
}
.statistic .len-100 {
    width: 100%;
}
.statistic .len-80 {
    width: 80%;
}
.statistic .len-60 {
    width: 60%;
}
.statistic .len-40 {
    width: 45%;
}
.statistic .len-20 {
    width: 25%;
}
.statistic p .outline {
    padding: .25rem 25%;
    border:2px solid #000;
    border-radius: 20px;
}


.table .icon {
    cursor: pointer;
    transition: .3s;
    width: 32px;
}
.table .icon:hover {
    transform: rotate(360deg);
}
.table .icon.func {
    width: 28px;
    margin: .25rem;
}
.table .icon.func:hover {
    transform: rotate(0deg);
    transform: scale(1.1);
}

.user-info {
    color: #333;
    margin-left: .5rem;
}
.user-info:before {
    content: '';
    transition: .3s;
    background: url('../../img/down-arrow.svg');
    width: 12px;
    height: 12px;
    position: absolute;
    top:23px;
    left: 18px;
    transform: rotate(-90deg);
}
.user-info.open-collapse:before {
    transform: rotate(0deg);
}
.user-info:hover, .user-info:active, .user-info:focus {
    text-decoration: none;
    color: #000;
}
.user-info > img {
    width: 56px;
    border-radius: 100%;
    margin: 0 15px;
}
.users-group {
    margin-left: 1.5rem;
}
.users-group a {
    color: #c3001c;
    opacity:.75;
    transition: .3s;
}
.users-group a:hover {
    opacity: 1;
    text-decoration: none;
}
.users-group img {
    width: 36px;
    border-radius: 100%;
    margin-right: 1rem;
}
.users-group .actions img {
    width: 16px;
    transition: .3s;
    border-radius: 0;
}
.users-group .actions img:hover {
    width: 16px;
    transform: scale(1.1);
    border-radius: 0;
}
.lighter {
    color:#8d8d8d;
}

.user-profile {
        border-left: 1px solid #c3001c;
    border-bottom: 1px solid #c3001c;
    padding-bottom: 6px;
    margin-top: -3rem;
    position: fixed;
    right: 15px;
}
.user-profile img {
    width: 100%;
    border-radius: 100%;
        margin-top: 3px;
}
.user-profile p {
    margin: 0;
    line-height: 1.1;
}
.user-profile h4 > span, .user-profile p > span {
    color: #8d8d8d;
}
.user-profile h4 {
    margin: .5rem 0 0;
    font-weight: 300;
    font-size: 1rem;
    color: #000;
}
.user-profile .margin-top {
    margin-top: 1rem;
}
.user-profile .stats {
    text-align: center;
}
.user-profile .stats > .item {
    display: inline-block;
        margin: 5px 0 0 5px;
}

.user-profile .stats > .item img {
    width: 24px;
    border-radius: 0;
}
.user-profile .stats > .item p {
    border: 2px solid transparent;
    margin-top: .25rem;
}
.user-profile .stats > .item .outline {
    border: 2px solid #333;
    border-radius: 20px;
    padding: 0 .5rem;
}

.sub-list {
    width: 95%;
    float: right;
}
select.form-control {
    border: none;
    width: 100%;
    border-bottom: 2px solid #c3001c;
    border-radius: 0;
}
.news-item {
    display: flex;
    border-bottom: 1px solid #e2e2e2;
    padding: 1.5rem 15px;
    align-items: flex-start;
}
.news-item:last-child {
    border-bottom: none;
}
.news-item img {
    border: 1px solid #c3001c;
    margin-top: 1rem;
    margin-right: 1rem;
    max-width: 200px;
}
.news-item .date {
    opacity: .75;
    margin: 0;
}
.news-content {
    width: 80vw;
    display: inline-block;
}
.course-item {
    position: relative;
    padding: 0;
    margin: 1rem 15px;
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.course-item.non {
    filter:grayscale(1);
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.course-item > .filter {
    background: rgba(0,0,0,.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index:9;
    left: 0;
    opacity: 0;
    transition: .3s;
}
.course-item > img {
    transition: .3s;
    width: 100%;
}
.course-item:hover > img {
     transform: scale(1.1);
}
.course-item:hover > .filter {
    opacity: 1;
}
.course-item > p {
    position: absolute;
    z-index: 99;
    /*top: calc(50% - 2rem);*/
    bottom: 0;
    left: 0;
    font-size: 1.25rem;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #c3001c;
    background: rgba(255, 255, 255, 0.8);
}
.file-store i {
    color: rgba(195, 0, 28, 0.52);
    margin-right: 1rem;
}
.file-store.table-hover tbody tr:hover {
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0, 0, 0, .05);
}
.margin-bottom {
    margin-bottom: 1rem;
}
.scrollable-x {
    overflow-x: auto;
}
.question {
    padding: 1rem;
    color: #c3001c;
    margin: 1rem 0;
    border-radius: 4px;
    border: 1px solid #c3001c;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
}
.question.answer {
    color: rgb(60, 145, 86);;
    border: 1px solid rgb(60, 145, 86);
}
.question p {
    margin-bottom: 0;
}
#searchForm {
    margin: 0 0 1rem 0;
}
#searchForm .form-control {
    border: none;
    border-bottom: 2px solid #c3001c;
    padding: .5rem;
    border-radius: 0;
    background: white;
        
}

.mo-menu {display: none;}




@media all and (max-width: 768px) {
    .partner-menu {display: none!important;}
.client-menu {display: none!important;}
.btn-group-aside {display: none!important}

.mo-menu {
    display: block;
            margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
            width: 100vw;
    }
    .mo-menu>li{
        height: 40px;
        margin-bottom: 1px;
        list-style: none;
    }
    .mo-menu li.mosub-menu{
        height: auto;
    }
    .mo-menu li.mosub-menu span{
        float: right;
        font-size: 20px;
        width: 40px;
        text-align: center;
        padding-top: 8px;
        cursor: pointer;
        font-weight: 300;
        color: #ADADAD;
        position: absolute;
        right: 10px;
    }
    .mo-menu a{
        margin-top: 4px;
        border-color: #b11515;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        font-family: 'Verdana';
            width: 100%;
    }

    .mo-menu>li>a{
    line-height: 40px;
    font-weight: 300;
    padding: 0 12px;
    color: white;
    display: block;
    height: 40px;
    font-size: 14px;
    }
    .mosub-menu>a {
        border: 1px solid #383838;
        background: rgba(41,41,41,1);
        background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,41,41,1)), color-stop(32%, rgba(41,41,41,1)), color-stop(100%, rgba(74,74,74,1)));
        background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
        background: -o-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
        background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
        background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 32%, rgba(74,74,74,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#4a4a4a', GradientType=0 );
    }
    .mosub-menu.show>a {
        background: rgba(173,19,19,1);
        background: -moz-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,19,19,1)), color-stop(32%, rgba(173,19,19,1)), color-stop(100%, rgba(202,33,33,1)));
        background: -webkit-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
        background: -o-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
        background: -ms-linear-gradient(top, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
        background: linear-gradient(to bottom, rgba(173,19,19,1) 0%, rgba(173,19,19,1) 32%, rgba(202,33,33,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1313', endColorstr='#ca2121', GradientType=0 );
    }
    .mosub-menu i {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition:         all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .mosub-menu.show i {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition:         all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .mo-menu ul{
        display: none;
        margin: 0 0;
        padding: 0;
    }
    .mo-menu li:hover>a{
        color: #ffffff;
        transition: color 0.5s ease;
    }
    .mo-menu ul li{
        font-weight: 300;
        line-height: 20px;
        list-style: none;
    }
    .mo-menu i {vertical-align: super;color: white;}

.mob-wrap-menu {}



    .hidden-xs-down {
        display: none;
    }
    .user-profile {
   
    position: relative;
    margin-top: 0;
   
}
#searchForm .form-control {
        width: 100%;
    left: 0;
}
    .content {
        margin: 0;
        height: auto;
        padding: 5rem 15px 2rem;
    }
    .content h1 {
        font-size: 1.25rem;
        margin: 2rem 0 1rem;
    }
    .content .centerilize-col {
        margin:1rem 0;
    }
    .content .centerilize-col .input-group {
        width: 85vw;
    }
    .content .centerilize-col .input-group > .input-group-addon, .content .centerilize-col .input-group .form-control {
        font-size: .9rem;
    }
    .content .url-input {
    }
    .content form .row {
        margin: 0;
    }
    .aside-menu {
        margin-bottom: 4rem;
    }
    .statistic p img {
        right: calc(100% - 10px);
    }
    .user-profile {
        border-left: none;
        border-top:1px solid #c3001c;
        position: relative;
    }
    .users-group {
        margin-bottom: 1rem;
    }
    .users-group .actions {
        width: 100%;
        margin: .5rem 0;
        text-align: center;
    }
    .users-group .actions img {
        width: 24px;
    }
    @media all and (min-width: 767px) {
        aside {
            width: 300px;
        }
        .user-profile {
            border-left: 1px solid #c3001c;
            border-top:none;
        }
        .content {
            padding-top: 6rem;
        }
        .users-group {
            margin-left: 1.5rem;
        }
        .users-group .actions {
            width:auto;
        }
        .users-group .actions img {
            width: 16px;
            transition: .3s;
            border-radius: 0;
        }
        .users-group .actions img:hover {
            width: 16px;
            transform: scale(1.1);
            border-radius: 0;
        }
    }
}

.video-container > img {
    max-width: 40%;
}
@media all and (max-width: 768px) {
    .video-container > img {
        max-width: 350px;
        width: 100%;
    }
}

.modal-dialog.video-modal {
    margin-top: 100px;
    max-width: 80%;
    margin:auto;
}
.modal-dialog.video-modal .modal-content {
    width: 100%;
}
.modal-dialog.video-modal iframe {
    height: 450px;
    max-height: 450px;
    width: 100%;
}
.danger {
    color: #c9302c;
}
.warning {
    color: #ec971f;
}
.success {
    color: #449d44;
}
@media all and (max-width: 767px) {

    .news-item {

        flex-direction: column;

        position: relative;

        /* align-items: center; */

    }

    .news-item iframe {

        width:100% !important;

        height:200px !important;

    }

    .news-item h3 {

        margin:1rem 0 0;

    }

    .news-item p {

        margin:0 0 1rem 0;

    }

    .news-item .p1 {

        word-break:break-word;

    }

    .news-item .btn {

        margin:auto;

    }

}
@media all and (max-width: 768px) {

    .content > .row > .col-12.margin-bottom > .btn {

        margin:.25rem 0;

        padding:4px 10px;

    }

}
a:focus, a:hover { outline: none !important;}
