{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="{{ asset('/js/tynimceInit.js') }}"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            forced_root_block : "",
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
                editor.on('init', function()
                {
                    this.getDoc().body.style.fontSize = '14pt';
                    this.getDoc().body.style.fontFamily = 'Myriad Pro';
                });
            },
            language: 'ru',
            language_url: '/js/langs/ru.js',

            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | sizeselect |  fontsizeselect",
            imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            content_css: [
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
    <script>
        $(function () {
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#image').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".upload-avatar").change(function () {
                readURL(this);
            });
        });

    </script>
    <style>
        @media (max-width: 768px) {
            .mob {
                display: none;
            }

            .mobile {
                width: 27rem !important;
            }
            #preview{
                margin-right: -4rem!important;
            }
        }

        .mobile {
            width: 60rem;
        }

        .box-body {
            background-color: white;
        }

        .well {
            /*margin-top: 34px;*/
        }

        .podpis {
            margin: 10px 5px 3px;
        }

        .modal-header {
            background-color: #000;
            border-bottom: 6px solid #c3001c;
            color: #fff;
        }

        .table tr:nth-child(even) {
            background: #f1f1f1;
        }

        .modal-header > button {
            color: #fff;
            opacity: .5;
            transition: .3s;
        }

        .modal-header > button:hover {
            opacity: .75;
            margin-top: -2px;
            color: #fff;
        }

        .modal-content > .modal-body > form {
            padding: 15px;

        }

        .modal-content > .modal-body > form label {
            font-weight: 300;
            margin-bottom: 1rem;
        }

        .modal-content > .modal-body > form > .col-xs-12 {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .modal-content > .modal-body > form > .col-xs-12 > input {
            border: none;
            width: 100%;
            border-bottom: 2px solid #c3001c;
            border-radius: 0;
            font-size: 2rem;
        }
    </style>
    {% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form id="edit-form" enctype="multipart/form-data"
              {% if sonata_admin.adminPool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
              role="form"
              action="{% block sonata_form_action_url %}{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}{% endblock %}"
                {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %}
              method="POST"
                {% if not sonata_admin.adminPool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
                {% block sonata_form_attributes %}{% endblock %}
        >

            {{ include('SonataAdminBundle:Helper:render_form_dismissable_errors.html.twig') }}

            {% block sonata_pre_fieldsets %}
            <div class="row">

                {% endblock %}

                {% block sonata_tab_content %}
                    {% set has_tab = ((admin.formtabs|length == 1 and admin.formtabs|keys[0] != 'default') or admin.formtabs|length > 1 ) %}

                    <div class="col-md-12">
                        {#{{ form_helper.render_groups(admin, form, admin.formtabs['default'].groups, has_tab) }}#}
                        <div class="box-primary">
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">


                                    {#{{ form_start(form, {'class': 'form-control'}) }}#}
                                    {{ form_row(form._token) }}


                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        {% if admin.id(object) is not null %}
                                            <img class="col-xs-12 col-sm-12"  src="/reccomendation-avatars/{{ form.vars.value.photoPath }}">
                                        {% endif %}

                                        <p class="podpis">Фотография</p>
                                        <table cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="display: inline-flex;">

                                                    {#<input name="photo" type="file" class="form-control" id="imgInput"/>#}
                                                    {{ form_widget(form.uploadImage,{ 'attr': {'id':'imgInput','class':'form-control upload-avatar'} }) }}
                                                    <button id="preview" data-target="#imageModal" data-toggle="modal" type="button"
                                                            class="btn btn-info persist-preview">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <p class="podpis">Имя</p>
                                        {{ form_widget(form.firstName,{ 'attr': {'placeholder':'Имя','class':'reg-firstname-field form-control'} }) }}

                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <p class="podpis">Город</p>
                                        {{ form_widget(form.city,{ 'attr': {'placeholder':'Город','class':'form-control phone-mask'} }) }}
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <p class="podpis">Отзыв</p>
                                        {{ form_widget(form.text,{ 'attr': {'placeholder':'Текст отзыва','class':'form-control','rows':'14'} }) }}
                                    </div>
                                    {#<div class="col-xs-12 col-sm-6">#}

                                    {#{{ form_widget(form.parent,{ 'attr': {'placeholder':'Идентификатор пригласителя VDoctatke','class':'form-control'} }) }}#}
                                    {#<p class="podpis">Идентификатор уточняйте у вашего куратора</p>#}
                                    {#<br>#}


                                    {#</div>#}





                                    {#<img  class="col-xs-6 col-sm-2" src="/photos/{{ form.vars.value.photoPath }}">#}
                                    {#{{ form_widget(form.email,{ 'attr': {'source':'Страна','class':'form-control'} }) }}#}
                                    {#{{ form_widget(form.first_name,{ 'attr': {'source':'Страна','class':'form-control'} }) }}#}
                                    {#<img class="col-xs-6 col-sm-2" src="{{ form.email}}">#}
                                    {#{{ form_helper.render_groups(admin, form, admin.formtabs['default'].groups, has_tab) }}#}
                                    {#{{ form_end(form) }}#}

                                </div>
                            </div>
                        </div>
                        {##}

                    </div>
                    {#<div class="modal fade" tabindex="-1" id="imageModal" role="dialog" aria-hidden="true">#}
                    {#<div class="modal-dialog modal-lg">#}
                    {#<div class="modal-content" style="border: none">#}
                    {#<div class="modal-header">#}
                    {#<h4 class="modal-title" id="mySmallModalLabel">Загруженное изображение</h4>#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                    {#<span aria-hidden="true">×</span>#}
                    {#</button>#}
                    {#</div>#}
                    {#<div class="modal-body">#}
                    {#<img id="image" src="#" alt=""/>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                    <div id="imageModal" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-header"><h4 class="modal-title" id="myModalLabel">Загруженная
                                    фотография</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-content" style="border: none">

                                <img class="mobile" style="display: block;margin: auto;" id="image" src="/photos/av-zagl.png.png" alt=""/>

                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block sonata_post_fieldsets %}
            </div>
        <br>
            {% endblock %}

            {#{{ form_rest(form) }}#}

            {% block formactions %}
                <div class="sonata-ba-form-actions well well-small form-actions" align="center">
                    {% block sonata_form_actions %}
                        {% if app.request.isxmlhttprequest %}
                            {% if admin.id(object) is not null %}
                                <button type="submit" form="edit-form" class="btn btn-success" name="btn_update"><i
                                            class="fa fa-save"
                                            aria-hidden="true"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-success" name="btn_create"><i
                                            class="fa fa-plus-circle"
                                            aria-hidden="true"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                        {% else %}

                            {% if admin.supportsPreviewMode %}
                                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span class="mob"> {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}</span>
                                </button>
                            {% endif %}
                            {% if admin.id(object) is not null %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i
                                            class="fa fa-save"
                                            aria-hidden="true"></i>
                                    <span class="mob"> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</span>
                                </button>

                                {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_list"><i
                                                class="fa fa-save"></i> <i class="fa fa-list"
                                                                           aria-hidden="true"></i>
                                        <span class="mob"> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</span>
                                    </button>
                                {% endif %}

                                {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}

                                    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i
                                                class="fa fa-minus-circle"
                                                aria-hidden="true"></i>
                                        <span class="mob"> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</span>
                                    </a>
                                {% endif %}

                                {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
                                    <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i
                                                class="fa fa-users"
                                                aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i
                                                class="fa fa-save"
                                                aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.hasroute('list') and admin.hasAccess('list') %}
                                    <button type="submit" class="btn btn-success" name="btn_create_and_list"><i
                                                class="fa fa-save"></i> <i class="fa fa-list"
                                                                           aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_create"><i
                                            class="fa fa-plus-circle"
                                            aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock formactions %}
        </form>
    {% endif %}

    {{ sonata_block_render_event('sonata.admin.edit.form.bottom', { 'admin': admin, 'object': object }) }}

{% endblock %}
