@import "../../fonts/MyraidPro/myraidpro.css";
@import "../../components/aside/aside.css";

.navbar {
    padding: .5rem 16px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #c3001c;
    border-radius: 0;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    position: fixed;
    top: 0;
    width: 100vw;
    left:0;
}
.social {
    padding-bottom: 0.7rem;
}
.navbar .avatar-mini {
    width: 40px;
    transition: .5s;
    border-radius: 100%;
    border:2px solid #fff;
}
.navbar .avatar-mini:hover {
    border:2px solid #c3001c;
}
.noty {
    position: relative;
    margin: 0 1rem;
    display: flex;
    align-items: center;
}
.noty:hover {

}
.noty > a {
    /* margin-top: 15px; */
}
.noty > span {
    background: #c3001c;
    padding: 1px 7px;
    color: #fff;
    top:7px;
    right: -6px;
    font-size: .75rem;
    position: absolute;
    border-radius: 100%;
}
.logo {
}
.icon {
    width: 24px;
}
.icon.large{
    width:40px;
    transition: .3s;
        margin: .3rem .2rem;
}
.icon.large:hover {
    transform: rotate(360deg);
}
.navbar-toggler {
    border:none;
    cursor: pointer;
    padding: .5rem 0;
}
.navbar-toggler:hover {
    border:none;
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 1.25em;
    height: 1.25em;
    background-image: url('../../img/menu-button.svg');
}
@media all and (min-width: 769px) {

    .navbar {
        padding: 0 16px;
        width: auto;
    }
    aside {
        top:66px;
        position: fixed;
        transform: translateX(0%);
        opacity: 1;
        height: inherit;
        width: 300px;
    }
    aside .aside-menu {
        margin-top: -3rem;
        padding-bottom: 4rem;
    }
    .logo-container {
        background: #262627;
        margin: 0 0 0 -16px;
        width: 300px;
        padding: 0.75rem 30px 0.75rem 21px;
        display: block;
    }

}
.back-top{
    margin: 15px 15px 0 15px;
    color: black;
}
@media all and (max-width: 768px) {
    li.nav-item.noty {
        margin:0 .5rem;
    }
    .dropdown-toggle::after{
        position: absolute;
        right: -.75rem;
        top: 1.75rem;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .collapse {
        display: flex;

    }

    .ml-auto {
        flex-direction: row;
    }
    .navbar-toggler {
        line-height: 2.5rem;
    }
    .navbar-toggler-icon + span {
        display:none;
    }
}
@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .dropdown-menu {
        position:absolute;
    }
}